.background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    &--mobile {
        @include media-up(sm) {
            display: none;
        }
    }

    &--desctop {
        display: none;

        @include media-up(sm) {
            display: block;
        }
    }
}
