.banner {
    position: relative;
    padding: 50px 0;
    min-height: 340px;

    @include media-up(md) {
        padding: 0;
        height: 477px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 780px;
        margin: 0 auto;
        text-align: center;
    }

    &__img {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        &--mobile {
            @include media-up(sm) {
                display: none;
            }
        }

        &--desctop {
            display: none;

            @include media-up(sm) {
                display: block;
            }
        }
    }

    &__subtitle {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 34px;
        font-weight: 500;
        border-radius: 12px;
        color: #fff;
        padding: 5px 20px;
        margin-bottom: 20px;

        &--pink {
            background-color: $pink;
        }

        @include media-up(sm) {
            line-height: 34px;
            font-size: 24px;
        }
    }

    &__title {
        font-size: 22px;
        line-height: 1.5;

        @include media-up(sm) {
            font-size: 35px;
        }

        @include media-up(lg) {
            line-height: 54px;
            font-size: 50px;
        }

        span {
            position: relative;
        }

        span::before {
            position: absolute;
            content: '';
            height: 10px;
            width: 10px;
            background-color: $red;
            border-radius: 50%;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -40%);

            @include media-up(sm) {
                width: 15px;
                height: 15px;
            }

            @include media-up(lg) {
                width: 20px;
                height: 22px;
            }
        }
    }

    &__text {
        margin-top: 25px;

        @include text-15;
    }

    &__switch-panel {
        display: flex;
        background-color: #fff;
        border: 1px dashed $red;
        padding: 2px;
        border-radius: 40px;
        margin-top: 40px;
        width: 100%;
        max-width: 430px;

        @include media-up(lg) {
            margin-top: 55px;
        }
    }

    &__switch-button {
        width: 50%;
        color: $red;
        background: none;
        border: none;
        font-size: 15px;
        line-height: 24px;
        padding: 8px 10px;

        @include media-up(lg) {
            padding: 5px 10px;
            font-size: 20px;
            line-height: 34px;
        }

        &--active {
            color: #fff;
            background-color: $red;
            border-color: $red;

            &:hover {
                background-color: #fff;
                color: $red;
            }
        }
    }
}
