.banner {
    position: relative;
    padding: 50px 0;
    background-color: $bg-soft;

    @include media-up(md) {
        padding: 0;
        height: 477px;
    }

    &__wrapper {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 780px;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }

    &__images {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__img {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &--mobile {
            @include media-up(sm) {
                display: none;
            }
        }

        &--desktop {
            display: none;

            @include media-up(sm) {
                display: block;
            }
        }
    }

    &__subtitle {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 34px;
        font-weight: 500;
        color: #fff;
        padding: 0 9px;
        border-radius: 6px;
        margin-bottom: 16px;

        &--pink {
            background-color: $pink;
        }

        &--green {
            background-color: $green;
        }

        @include media-up(md) {
            font-size: 16px;
            padding: 5px 20px;
            border-radius: 12px;
            margin-bottom: 20px;
        }

        @include media-up(lg) {
            font-size: 20px;
        }
    }

    &__title {
        font-size: 22px;
        line-height: 1.5;
        max-width: 239px;

        @include media-up(sm) {
            font-size: 35px;
            max-width: 360px;
        }

        @include media-up(lg) {
            line-height: 54px;
            font-size: 50px;
            max-width: 100%;
        }

        span {
            position: relative;
        }

        span::before {
            position: absolute;
            content: '';
            height: 10px;
            width: 10px;
            background-color: $red;
            border-radius: 50%;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -40%);

            @include media-up(sm) {
                width: 15px;
                height: 15px;
            }

            @include media-up(lg) {
                width: 20px;
                height: 22px;
            }
        }
    }

    &__text {
        margin-top: 25px;
        max-width: 240px;

        @include text-15;

        @include media-up(sm) {
            max-width: 60%;
        }

        @include media-up(lg) {
            max-width: 100%;
        }
    }

    &__switch-panel {
        position: relative;
        display: flex;
        background-color: #fff;
        border: 1px dashed $red;
        padding: 2px;
        border-radius: 40px;
        margin-top: 40px;
        width: 100%;
        max-width: 430px;

        @include media-up(lg) {
            margin-top: 55px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            transition: all 0.2s ease;
            background-color: $red;
            width: 50%;
            height: calc(100% - 4px);
            border-radius: 40px;
        }

        &--switched {
            &::before {
                left: auto;
                transform: translateX(calc(100% - 4px));
            }

            .banner__switch-panel-text:first-child {
                color: $red;
            }

            .banner__switch-panel-text:last-child {
                color: #fff;
            }
        }
    }

    &__switch-panel-text {
        position: relative;
        z-index: 5;
        width: 50%;
        color: #fff;
        font-size: 15px;
        line-height: 24px;
        padding: 8px 10px;

        @include media-up(lg) {
            padding: 5px 10px;
            font-size: 20px;
            line-height: 34px;
        }

        &:last-child {
            color: $red;
        }

        /* &--active {
            color: #fff;
            background-color: $red;
            border-color: $red;

            &:hover {
                background-color: #fff;
                color: $red;
            }
        } */
    }
}
