.banner {
    position: relative;
    padding: 50px 0;

    @include media-up(md) {
        padding: 0;
        height: 477px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 780px;
        margin: 0 auto;
        text-align: center;
    }

    &__img {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__subtitle {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 34px;
        font-weight: 500;
        border-radius: 12px;
        color: #fff;
        padding: 5px 20px;
        margin-bottom: 20px;

        &--pink {
            background-color: $pink;
        }

        @include media-up(sm) {
            line-height: 34px;
            font-size: 24px;
        }
    }

    &__title {
        font-size: 22px;
        line-height: 1.5;

        @include media-up(sm) {
            font-size: 35px;
        }

        @include media-up(lg) {
            line-height: 54px;
            font-size: 50px;
        }
    }

    &__text {
        margin-top: 25px;

        @include text-15;
    }
}
