.btn {
    position: relative;
    display: inline-block;
    min-width: 77px;
    max-width: 100%;
    padding: 10px 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;
    appearance: none;
    box-shadow: none;
    outline: none;
    transition: .25s;

    @include media-up(md) {
        padding: 11px 24px;
        font-size: 15px;
        line-height: 19px;
    }

    &--red {
        color: #fff;
        background-color: $red;
        border-color: $red;

        &:hover {
            background-color: #fff;
            color: $red;
        }
    }

    &--blue {
        color: #fff;
        background-color: $blue;
        border-color: $blue;

        &:hover {
            background-color: #fff;
            color: $blue;
        }
    }
}

.edit-btn {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: none;
    background-image: url(img/icons/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.add-btn {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: none;
    background-image: url(img/icons/add.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.add-btn + .edit-btn {
    margin-left: 20px;
}
