.content {
    font-size: 15px;
    line-height: 1.6;
    color: rgba($blue, .8);

    @include media-up(md) {
        font-size: 18px;
        line-height: 1.889;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $blue;
    }

    h1 {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 1.2;

        @include media-up(md) {
            font-size: 30px;
        }
    }

    h2 {
        margin-top: 32px;
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 17px;
        line-height: 1.6;

        @include media-up(md) {
            margin-top: 50px;
            margin-bottom: 20px;
            font-size: 20px;
        }
    }

    p,
    ul,
    ol {
        margin: 1em 0;

        @include media-up(md) {
            margin: 1.6em 0;
        }
    }

    ol {
        list-style: decimal inside;
    }

    ul {
        font-size: 17px;
        color: $blue;

        @include media-up(md) {
            font-size: 18px;
        }

        li {
            position: relative;
            margin-bottom: .5em;
            padding-left: 13px;

            @include media-up(md) {
                padding-left: 20px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            > *:first-child {
                margin-top: 0;
            }

            > *:last-child {
                margin-bottom: 0;
            }

            &::before {
                content: "";
                position: absolute;
                top: 11px;
                left: 0;
                width: 5px;
                height: 5px;
                background-color: $red;
                border-radius: 50%;

                @include media-up(md) {
                    top: 15px;
                }
            }
        }
    }

    strong,
    b {
        font-weight: 700;
    }

    a {
        color: $pink;
        border-bottom: 1px solid $pink;

        &:hover {
            color: $pink--dark;
            border-color: $pink--dark;
        }

        strong {
            border-bottom: 2px solid $pink;
            transition: border-color .25s;

            &:hover {
                border-color: $pink--dark;
            }
        }
    }

    & > *:first-child {
        margin-top: 0;
    }

    & > *:last-child {
        margin-bottom: 0;
    }

    .img-wide {
        margin-top: 17px;
        margin-bottom: 17px;

        @include media-up(md) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}
