.fact-stars {
    &--middle {
        @include media-up(lg) {
            margin: -90px auto;
        }
    }

    &__container {
        @include media-down(md) {
            padding: 0;
        }
    }

    &__wrapper {
        max-width: 1140px;
        margin: 0 auto;
        position: relative;
        padding: 41px 26px 46px;
        background: $blue;
        text-align: center;
        overflow: hidden;

        @include media-up(lg) {
            padding: 50px 0;
            border-radius: 15px;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
    }

    &__subtitle {
        margin-bottom: 10px;
        color: $red;
    }

    &__title {
        color: #fff;
    }

    &__text {
        margin-top: 20px;
        @include text-20;
        color: #fff;
        max-width: 690px;
        text-align: center;
        margin: 0 auto;
    }

    &--big-text &__text {
        font-weight: 700;        

        @include media-up(lg) {
            font-size: 24px;
            line-height: 38px;
        }
    }

    &__stars {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%
    }

    &__star {
        position: absolute;

        &:nth-child(odd) {
            width: 7px;
            height: 7px;
            animation: starYellow 1.5s infinite;

            @include media-up(md) {
                width: 9px;
                height: 10px;
            }
        }

        &:nth-child(even) {
            width: 6px;
            height: 6px;
            animation: starGray 1.5s infinite;

            @include media-up(md) {
                width: 9px;
                height: 10px;
            }
        }

        &:nth-child(1) {
            left: 5%;
            top: 20.7%;

            @include media-up(lg) {
                left: 10%;
                top: 68.5%;
            }
        }

        &:nth-child(2) {
            left: 16.2%;
            bottom: 20%;

            @include media-up(lg) {
                left: 26.6%;
                bottom: 15.7%;
            }
        }

        &:nth-child(3) {
            left: 53.3%;
            bottom: 8%;

            @include media-up(lg) {
                left: 20.7%;
                bottom: 62.9%;
            }
        }

        &:nth-child(4) {
            left: 24.2%;
            top: 8.6%;

            @include media-up(lg) {
                left: 36.2%;
                top: 11.4%;
            }
        }

        &:nth-child(5) {
            right: 30%;
            top: 8.6%;

            @include media-up(lg) {
                top: 17%;
                right: 24%;
            }
        }

        &:nth-child(6) {
            right: 4.8%;
            top: 15%;

            @include media-up(lg) {
                right: 20%;
                top: 70%;
            }
        }

        &:nth-child(7) {
            right: 4.8%;
            bottom: 15%;

            @include media-up(lg) {
                right: 8.2%;
                bottom: 69.3%;
            }
        }

        svg {
            width: 100%;
            height: 100%
        }
    }
}
