.header {
    // position: relative;
    width: 100%;
    padding-bottom: 77px;
    flex: 0 0 auto;

    @include media-up(md) {
        padding-bottom: 103px;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        transform: translateY(-100%);
        pointer-events: none;
    }

    &__wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 52px;

        @include media-up(md) {
            padding-top: 63px;
        }
    }

    &__main {
        width: 100%;
        position: sticky;
        z-index: 100;
        top: 0;
        padding: 20px 0;
        background: #fff;
        transition-duration: 0.3s;
        transition-property: transform, padding;

        @include media-up(md) {
            padding: 30px 0;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: #fff;
            border-bottom: 1px solid transparent;
            transition: border-color 0.5s;

            @include media-up(md) {
                display: none;
            }
        }
    }

    &.nav-small &__main {
        position: fixed;
        padding: 10px 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13);
    }

    &.nav-up &__main {
        transform: translateY(-110%);
    }

    &.nav-show &__main:before {
        border-color: #eaecef;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__block {
        display: flex;
        align-items: center;
    }

    &__logo {
        position: relative;
        z-index: 1;
        width: 106px;
        margin-left: 29px;
        animation: linkSlideDown 0.75s;

        @include media-up(md) {
            width: 126px;
        }

        @include media-up(md) {
            margin-left: 0;
            margin-right: 30px;
        }

        @include media-up(lg) {
            margin-right: 68px;
        }

        &:hover {
            color: $cyan;
        }

        svg {
            width: 100%;
        }
    }

    &__link {
        display: none;
        position: relative;
        z-index: 1;
        margin-right: 20px;
        animation: linkSlideDown 1350ms;

        @media (min-width: 400px) {
            display: block;
        }

        @include media-up(lg) {
            margin-right: 30px;
        }
    }

    &__btn {
        position: relative;
        z-index: 1;
        animation: linkSlideDown 1500ms;
    }

    &__overlay {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: 0.4s;

        .nav-open & {
            opacity: 1;
            visibility: visible;
        }

        @include media-up(md) {
            display: none;
        }
    }
}

.h-banner {
    position: relative;
    z-index: 101;
    display: block;
    width: 100%;
    height: 52px;

    @include media-up(md) {
        height: 63px;
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        background-color: $blue;
        transition: background-color 0.25s;

        &:hover {
            background-color: $blue-90;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__text {
        width: 100%;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: #ffffff;
    }
}
