.nav {
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 35px 20px;
    background: #fff;
    transition-property: transform, box-shadow;
    
    @include media-up(md) {
        position: relative;
        transform: none !important;
        width: auto;
        height: auto;
        padding: 0;
        background: none;
        transition: none !important;
    }

    &.transitioned {
        transition-timing-function: cubic-bezier(0.36, 0, 0.66, -0.56);
        transition-duration: .5s;
    }

    &.show {
        transform: translateX(51px);
        box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.13);
        transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
        transition-duration: .6s;
    }

    &__list {
        @include media-up(md) {
            display: flex;
            padding: 0;
        }
    }

    li {
        width: fit-content;

        &:not(:last-child) {
            margin-bottom: 20px;

            @include media-up(md) {
                margin-bottom: 0;
                margin-right: 20px;
            }

            @include media-up(lg) {
                margin-right: 40px;
            }
        }

        &:nth-child(1) {
            animation: linkSlideDown 900ms;
        }

        &:nth-child(2) {
            animation: linkSlideDown 1050ms;
        }

        &:nth-child(3) {
            animation: linkSlideDown 1200ms;
        }

        &:nth-child(4) {
            animation: linkSlideDown 1350ms;
        }

        &:nth-child(5) {
            animation: linkSlideDown 1500ms;
        }

        &:nth-child(6) {
            animation: linkSlideDown 1650ms;
        }

        &.current-menu-item {
            position: relative;
            
            &:after {
                content: '';
                position: absolute;
                z-index: -1;
                left: -8px;
                top: 10px;
                display: block;
                width: calc(100% + 16px);
                height: 13px;
                background: $bg-cyan;
                border-radius: 3px;
            }
        }
    }

    a {
        font-size: 15px;
        line-height: 19px;
    }

    &__discounts a {
        font-weight: 500;
        color: $red;
    }
}