.section-advantages {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 55px;

    @include media-up(md) {
        grid-template-columns: 1fr 1fr;
        row-gap: 70px;
        column-gap: 30px;
        max-width: 890px;
        margin: 0 auto;
    }

    &__advantage {
        position: relative;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        padding: 55px 40px 30px;

        @include media-up(lg) {
            min-height: 245px;
            padding: 60px 50px 10px;
        }

        &:nth-child(1) {
            background-color: $green;
        }

        &:nth-child(2) {
            background-color: $orange;
        }

        &:nth-child(3) {
            background-color: $pink;
        }

        &:nth-child(4) {
            background-color: $cyan;
        }
    }

    &__icon-wrapper {
        top: 0;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #fff;
    }

    &__icon {
        width: 43px;
        height: 43px;
        top: 50%;
    }

    &__icon-wrapper,
    &__icon {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__advantage-title {
        font-size: 17px;
        line-height: 27px;
        font-weight: 700;

        @include media-up(md) {
            font-size: 24px;
            line-height: 38px;
        }
    }

    &__advantage-text {
        line-height: 34px;
        font-size: 20px;

        @include text-15;
    }
}
