.socials {
    display: flex;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: $red;

        &:not(:last-child) {
            margin-right: 16px;
        }
    }
}