.socials {
    display: flex;

    &__item {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid $red;
        background: $red;
        color: #fff;

        &:hover {
            background: #fff;
            color: $red;
        }
    }
}