.title-underline {
    position: relative;
    z-index: 1;
    display: inline-block;

    &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 4px;
        width: 100%;
        height: 12px;
        bottom: 0;
        left: 0;
        z-index: -1;

        @include media-up(md) {
            height: 14px;
        }

        @include media-up(md) {
            height: 18px;
        }
    }

    &--cyan {
        &::after {
            background-color: $bg-cyan;
        }
    }

    &--blue {
        &::after {
            background-color: $cyan;
        }
    }

    &--yellow {
        &::after {
            background-color: $yellow;
        }
    }

    &--red {
        &::after {
            background-color: $red;
        }
    }
}
