.social-list {
    display: flex;
    justify-content: flex-end;

    @include media-up(md) {
        justify-content: flex-start;
    }

    &__item {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $red;
    }
}
