.approach-stages {
    overflow-y: hidden;
    padding: 70px 0 40px;

    @include media-up(xl) {
        padding: 120px 0 175px;
    }

    &__heading {
        text-align: center;
        max-width: 415px;
        margin: 0 auto 20px;
    }

    &__title {
        display: inline-block;
        margin-bottom: 20px;
    }

    &__content {
        position: relative;
        padding-top: 80px;
    }

    &__content-background {
        display: none;

        @include media-up(xl) {
            display: block;
            pointer-events: none;
            top: 50px;
            position: absolute;
            width: 680px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media (min-width: 1300px) {
            top: 90px;
        }
    }

    &__stage {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: min-content min-content;
        align-items: center;
        position: relative;
        z-index: 10;

        @include media-up(xl) {
            column-gap: 50px;
        }
    }

    &__stage + &__stage {
        margin-top: 40px;

        @include media-up(md) {
            margin-top: 80px;
        }
    }

    &__stage-img-1 {
        position: relative;
        z-index: -1;
        height: 250px;
        object-fit: contain;
        grid-area: b;
    }

    &__stage-img-2 {
        position: relative;
        z-index: -1;
        margin-left: auto;
        object-fit: contain;
        grid-area: c;
    }

    &__stage-title {
        margin-bottom: 26px;
    }

    &__stage-content {
        margin-bottom: 30px;

        @include media-up(md) {
            margin-bottom: 0;
        }
    }

    &__stage-text {
        position: relative;
        @include text-17;
        color: $blue-80;
        grid-area: a;

        p {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &::after {
            @include media-down(sm) {
                transform: scale(0.7);
            }
        }
    }
}

.approach-stages__stages .approach-stages__stage:nth-child(1) {
    .approach-stages__stage-title {
        color: $pink;
    }

    .approach-stages__stage-text::after {
        position: absolute;
        bottom: -80px;
        content: url('../img/icons/red-bottle.svg');

        @include media-up(md) {
            display: none;
        }
    }
}

.approach-stages__stages .approach-stages__stage:nth-child(1) {
    grid-template-areas:
        'a b'
        'c c';

    @include media-up(md) {
        grid-template-columns: minmax(90px, 120px) minmax(250px, 360px) minmax(
                360px,
                1fr
            );
        grid-template-areas: 'b a c';
    }

    @include media-up(lg) {
        grid-template-columns: minmax(120px, 160px) minmax(250px, 360px) minmax(
                240px,
                1fr
            );
    }
}

.approach-stages__stages .approach-stages__stage:nth-child(2) {
    grid-template-areas:
        'a b'
        'c c';

    @include media-up(md) {
        grid-template-columns: minmax(360px, 1fr) minmax(250px, 360px) minmax(
                90px,
                120px
            );
        grid-template-areas: 'c a b';
    }

    @include media-up(lg) {
        grid-template-columns: minmax(240px, 1fr) minmax(250px, 360px) minmax(
                120px,
                160px
            );
    }

    .approach-stages__stage-title {
        color: $green;
    }

    .approach-stages__stage-text::after {
        position: absolute;
        bottom: -120px;
        right: -110px;
        content: url('../img/icons/green-bottle.svg');

        @include media-up(md) {
            display: none;
        }
    }
}
