.our-goal {
    position: relative;
    /* margin: -100px 0; */
    z-index: 20;

    &__content {
        margin: 0 -20px;
        background-color: $bg-cyan;
        text-align: center;
        padding: 50px 20px;

        @include media-up(md) {
            border-radius: 15px;
            margin: 0;
        }
    }

    &__title {
        background-color: $green;
        display: inline-block;
        color: #fff;
        padding: 3px 20px;
        margin-bottom: 20px;
        font-weight: 500;
        border-radius: 4px;
    }

    &__text {
        max-width: 800px;
        margin: 0 auto;
        font-weight: 500;
        font-size: 15px;

        @include media-up(md) {
            font-size: 20px;
        }

        span {
            font-weight: 800;
            color: $pink;
        }
    }
}
