.our-goal {
    position: relative;
    z-index: 20;

    @include media-up(lg) {
        margin-top: -100px;
    }

    &__content {
        margin: 0 -20px;
        background-color: $bg-cyan;
        text-align: center;
        padding: 40px 20px;

        @include media-up(md) {
            border-radius: 15px;
            margin: 0;
            padding: 50px 20px;
        }
    }

    &__title {
        background-color: $green;
        display: inline-block;
        color: #fff;
        padding: 3px 20px;
        margin-bottom: 20px;
        font-weight: 500;
        border-radius: 4px;
        text-transform: uppercase;
        max-width: 235px;

        @include media-up(sm) {
            max-width: 100%;
        }
    }

    &__text {
        margin: 0 auto;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;

        @include media-up(md) {
            font-size: 20px;
            line-height: 32px;
            max-width: 800px;
        }

        span {
            font-weight: 800;
            color: $pink;
        }
    }
}
