.advantages {
    position: relative;
    padding: 120px 0 200px;

    &__titles {
        text-align: center;
        max-width: 500px;
        margin: 0 auto 100px;
    }

    &__title {
    }

    &__text {
        margin-top: 23px;
    }
}
