.stay-how {
    padding-top: 60px;

    @include media-up(lg) {
        padding-top: 120px;

        background-image: url(img/bg/stay-how-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__heading {
        text-align: center;
    }

    &__content {
        background-image: url(img/bg/stay-how-mobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @include media-up(sm) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            background: none;
        }

        @include media-up(xl) {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 20px;
            margin-top: 63px;
            padding: 0 60px;
        }
    }

    &__item {
        &:nth-child(1) {
            .stay-how__item-img-wrapper {
                background-color: $cyan;
            }
        }

        &:nth-child(2) {
            .stay-how__item-img-wrapper {
                background-color: $purple;
            }
        }

        &:nth-child(3) {
            .stay-how__item-img-wrapper {
                background-color: $pink;
            }
        }

        &:nth-child(4) {
            .stay-how__item-img-wrapper {
                background-color: $green;
            }
        }
    }

    &__item-img-wrapper {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item-img {
        width: 34px;
        border-radius: 0;
        height: 55px;
    }
}
