.ask-form {
    padding: 50px 0 70px;

    @include media-up(md) {
        padding: 100px 0;
    }

    @include media-up(lg) {
        padding: 70px 0;
    }

    &__wrapper {
        position: relative;
        z-index: 5;
    }

    &__images {
        display: none;

        @include media-up(lg) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            width: 100%;
        }
    }

    &__img {
        @include media-up(lg) {
            position: absolute;
            width: 140px;
            height: 310px;
            object-fit: contain;
            bottom: -60px;
        }

        @include media-up(lg) {
            height: 400px;
            width: 150px;
        }

        @include media-up(xl) {
            width: 200px;
        }

        &:nth-child(1) {
            @include media-up(md) {
                left: 0;
            }
        }

        &:nth-child(2) {
            @include media-up(md) {
                right: 0;
            }
        }
    }

    &__content {
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
    }

    &__title-wrapper {
        text-align: center;
        margin-bottom: 70px;
    }

    &__title {
        display: inline;

        &::before {
            left: -20px;
        }
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 44px 44px 160px 1fr;
        grid-template-areas:
            'a'
            'b'
            'c'
            'd';
        gap: 10px;

        @include media-up(md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 44px 130px 1fr;
            grid-template-areas:
                'a b'
                'c c'
                'd d';
        }

        @include media-up(lg) {
            gap: 20px;
        }
    }

    &__input {
        position: relative;
        border-radius: 22px !important;
        background-color: $bg-green;
        box-shadow: 0 0 0 1000px $bg-green inset;
        padding: 15px 20px;

        &--name {
            grid-area: a;
        }

        &--contact {
            grid-area: b;
        }

        &--message {
            grid-area: c;
            resize: none;

            &::placeholder {
                position: absolute;
                top: 15px;
                left: 20px;
            }
        }
    }

    &__btn-wrapper {
        grid-area: d;
    }

    &__btn {
        font-size: 15px;
        margin: 25px auto 0;
        width: 100%;
        display: block;
        padding: 12px 70px;

        @include media-up(md) {
            width: auto;
        }

        @include media-up(lg) {
            margin-top: 40px;
        }
    }
}
