.breadcrumbs {
    font-size: 15px;
    line-height: 34px;
    color: $blue-80;
    margin-bottom: 5px;

    @include media-down(sm) {
        display: none;
    }

    &__link {
        margin-right: 10px;
    }

    &__separator {
        margin-right: 10px;
    }
}