.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 142px;
    margin-right: 30px;
    border-radius: 50%;

    @include media-up(md) {
        width: 160px;
        height: 160px;
        margin-right: 40px;
    }

    @include media-up(lg) {
        width: 13vw;
        height: 13vw;
        margin-right: 5.2vw;
    }

    @include media-up(xxl) {
        width: 186px;
        height: 186px;
        margin-right: 75px;
    }

    &:last-child {
        margin-right: 0;
    }

    &--cyan {
        background: $cyan;
    }

    &--pink {
        background: $pink;
    }

    &--green {
        background: $green;
    }

    &--red {
        background: $red;
    }

    &--purple {
        background: $purple;
    }

    &--orange {
        background: $orange;
    }

    &__icon {
        transform: scale(0.75);
        margin-bottom: 5px;

        @include media-up(xl) {
            transform: none;
            margin-bottom: 10px;
        }
    }

    &__text {
        padding: 0 15px;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #fff;
        text-align: center;

        @include media-up(md) {
            padding: 0 25px;
        }

        @include media-up(lg) {
            font-size: 1.15vw;
            line-height: 130%;
        }

        @include media-up(xl) {
            font-size: 1.25vw;
        }

        @include media-up(xxl) {
            font-size: 18px;
        }
    }
}