.feature {
    position: relative;
    width: 142px;
    height: 142px;
    margin-right: 30px;

    @include media-up(md) {
        width: 160px;
        height: 160px;
        margin-right: 40px;
    }

    @include media-up(lg) {
        width: 13vw;
        height: 13vw;
        margin-right: 5.2vw;
    }

    @include media-up(xxl) {
        width: 186px;
        height: 186px;
        margin-right: 75px;
    }

    &:last-child {
        margin-right: 0;
    }

    &--cyan &__content {
        background: $cyan;
    }

    &--pink &__content {
        background: $pink;
    }

    &--green &__content {
        background: $green;
    }

    &--red &__content {
        background: $red;
    }

    &--purple &__content {
        background: $purple;
    }

    &--orange &__content {
        background: $orange;
    }

    &__content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    &__icon {
        transform: scale(0.75);

        @include media-up(md) {
            margin-bottom: 5px;
        }

        @include media-up(xl) {
            transform: none;
            margin-bottom: 10px;
        }
    }

    &__text {
        padding: 0 15px;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #fff;
        text-align: center;

        @include media-up(md) {
            padding: 0 25px;
        }

        @include media-up(lg) {
            font-size: 1.15vw;
            line-height: 130%;
        }

        @include media-up(xl) {
            font-size: 1.25vw;
        }

        @include media-up(xxl) {
            font-size: 18px;
        }
    }

    &__rating {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: block;
            border-radius: 50%;
        }

        &:before {
            width: calc(100% + 16px);
            height: calc(100% + 16px);
            border: 1px solid rgba(148, 157, 175, 0.2);

            @include media-up(md) {
                width: calc(100% + 24px);
                height: calc(100% + 24px);
            }
        }

        &:after {
            width: calc(100% + 8px);
            height: calc(100% + 8px);
            border: 10px solid #fff;

            @include media-up(md) {
                width: calc(100% + 12px);
                height: calc(100% + 12px);
            }
        }

        &-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
            width: calc(100% + 24px);
            height: calc(100% + 24px); 

            @include media-up(md) {
                width: calc(100% + 34px);
                height: calc(100% + 34px);                
            }

            circle {
                fill: none;
                stroke: $red;
                stroke-width: 50px;
                transition: stroke-dasharray 2s .5s;

                .powers__list--ratings & {
                    stroke-dasharray: 0 160 !important;
                }
            }
        }

        &-text {
            position: absolute;
            left: 0;
            width: 100%;
            bottom: -38px;
            font-size: 12px;
            line-height: 15px;
            color: #959daf;
            text-align: center;
            margin-top: 30px;
    
            @include media-up(md) {
                bottom: -50px;
                font-size: 16px;
                line-height: 19px;            
            }
    
            span {
                font-size: 15px;
                line-height: 18px;
                color: $orange;
                font-weight: bold;
    
                @include media-up(md) {
                    font-size: 20px;
                    line-height: 24px;                
                }
            }
        }
    }
}