.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &__main {
        padding: 26px 0;

        @include media-up(md) {
            padding: 30px 0;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__block {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 106px;
        margin-left: 29px;

        @include media-up(md) {
            width: 126px;
        }

        @include media-up(lg) {
            margin-left: 0;
            margin-right: 68px;
        }

        &:hover {
            color: $cyan;
        }

        svg {
            width: 100%;
        }
    }

    &__link {
        display: none;
        margin-right: 30px;

        @include media-up(sm) {
            display: block;
        }
    }
} 

.h-banner {
    display: block;
    width: 100%;
    height: 52px;
    background-color: $blue;
    transition: background-color .25s;

    @include media-up(md) {
        height: 63px;
    }

    &:hover {
        background-color: $blue-80;
    }

    &__content {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__text {
        width: 100%;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }

}