.lk-form {
    padding: 40px 0 50px;
    background: $bg-green;

    @include media-up(md) {
        padding: 90px 0;
    }

    @include media-up(lg) {
        padding: 120px 0;
    }

    &__form {
        width: 100%;
        max-width: 520px;
        margin: 0 auto;
        padding: 40px 20px;
        background: #fff;
        border-radius: 10px;

        @include media-up(md) {
            padding: 60px 20px;
        }
    }

    &__content {
        max-width: 340px;
        margin: 0 auto;
    }

    &__title {
        margin: 0 auto 33px;
    }
}