.main-offer {
    position: relative;
    height: 72.5vw;
    max-height: 300px;
    overflow: hidden;

    @include media-up(sm) {
        height: 50vw;
        max-height: 700px;
    }

    @include media-up(md) {
        height: 40vw;
    }

    &__bg {
        position: absolute;
        right: 0;
        top: 0;
        width: 107%;
        min-width: 375px;
        height: 100%;

        @include media-up(md) {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.9) 100%);
        }
    }
    
    &__content {
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-width: 180px;
        max-width: 300px;
        padding-bottom: 60px;

        @include media-up(md) {
            width: 45%;
            max-width: unset;
            padding-bottom: 35px;
        }
    }

    &__title {
        margin-bottom: 7px;

        @include media-up(sm) {
            margin-bottom: 15px;
        }

        @include media-up(md) {
            margin-bottom: 20px;
            padding-right: 30px;
        }

        @include media-up(lg) {
            height: 108px;
            position: relative;
            
            &:after {
                content: '';
                position: absolute;
                left: 177px;
                top: 83px;
                display: block;
                width: 6px;
                height: 6px;
                background: $red;
                border-radius: 50%;
            }
        }
    }

    &__text {
        width: 170px;
        color: $blue-70;
        line-height: 22px;
        padding-right: 20px;

        @include media-up(md) {
            width: 100%;
            font-size: 20px;
            line-height: 26px;
        }

        @include media-up(lg) {
            font-size: 24px;
            line-height: 31px;
        }
    }

    &__btn {
        margin-top: 28px;

        @include media-down(sm) {
            display: none;
        }
    }
}