.modal {
    position: relative;
    z-index: 1000;
    display: none;

    &.is-open {
        display: block;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @include media-up(md) {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.6);
        }
    }

    &__wrapper {
        background-color: #fff;
        height: 100%;
        padding-bottom: 30px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            background: transparent;
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 5px;
        }

        @include media-up(md) {
            width: 600px;
            min-height: 500px;
            border-radius: 15px;
            padding-bottom: 60px;
            height: auto;
            max-height: 90vh;
        }
    }

    &__content {
        padding: 0 20px 20px;

        @include media-up(md) {
            padding: 40px 50px 60px;
        }

        h4 {
            margin: 35px 0 25px;
        }
    }

    &__header {
        position: relative;
        padding: 20px;

        @include media-up(md) {
            padding: 30px 50px 20px;
            border-bottom: 1px dashed rgba(42, 59, 94, 0.2);
        }
    }

    &__close-btn {
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-image: url(img/icons/close-btn.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        top: 28px;
        right: 20px;

        @include media-up(md) {
            right: 50px;
        }
    }

    &__bottom {
        padding: 0 20px;
        display: flex;
        flex-direction: column-reverse;

        @include media-up(md) {
            flex-direction: row;
            justify-content: flex-end;
            padding: 0 50px;
        }
    }

    &__cancel-btn {
        background: none;
        color: $blue;
        margin-top: 5px;

        @include media-up(md) {
            margin-top: 0;
        }
    }

    &__cancel-btn,
    &__save-btn {
        width: 100%;

        @include media-up(md) {
            width: auto;
        }
    }

    &__content-title {
        text-align: center;
        font-weight: 700;
        width: 210px;
        margin: 0 auto 15px;

        @include media-up(lg) {
            width: 300px;
        }
    }

    &__content-text {
        text-align: center;
        width: 280px;
        margin: 0 auto 15px;

        @include media-up(lg) {
            width: 75%;
        }
    }

    &__email-img {
        margin: 30px auto 0;
        width: 175px;
        height: 105px;
        object-fit: contain;

        @include media-up(md) {
            width: 220px;
            height: 130px;
        }
    }

    &__line {
        position: relative;
        margin: 30px 0;
        border: 1px dashed $blue-20;

        &::after {
            content: 'or';
            position: absolute;
            background: #fff;
            width: 40px;
            height: 18px;
            top: calc(50% - 12px);
            left: calc(50% - 20px);
            text-align: center;
        }
    }

    &__delete-btn {
        background: none;
        color: $red;
        border: none;
        padding: 0 3px;
        border-bottom: 1px solid $red;
        margin-right: auto;
        transition: color 0.2s, border-color 0.2s;

        &:hover {
            color: $blue;
            border-color: $blue;
        }
    }
}

.modal[aria-hidden='false'] .modal__overlay {
    animation: opacityUp 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden='false'] .modal__wrapper {
    animation: lideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
