.modal {
    position: relative;
    z-index: 1000;
    display: none;

    &.is-open {
        display: block;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @include media-up(md) {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.6);
        }
    }

    &__wrapper {
        background-color: #fff;
        height: 100%;
        padding-bottom: 30px;

        @include media-up(md) {
            width: 600px;
            min-height: 500px;
            border-radius: 15px;
            height: auto;
            padding-bottom: 60px;
        }
    }

    &__content {
        padding: 0 20px 20px;

        @include media-up(md) {
            padding: 40px 50px 60px;
        }
    }

    &__header {
        position: relative;
        padding: 20px;

        @include media-up(md) {
            padding: 30px 50px 20px;
            border-bottom: 1px dashed rgba(42, 59, 94, 0.2);
        }
    }

    &__close-btn {
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-image: url(img/icons/close-btn.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        top: 28px;
        right: 20px;

        @include media-up(md) {
            right: 50px;
        }
    }

    &__bottom {
        padding: 0 20px;
        display: flex;
        flex-direction: column-reverse;

        @include media-up(md) {
            flex-direction: row;
            justify-content: flex-end;
            padding: 0 50px;
        }
    }

    &__field {
        position: relative;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &:focus-within {
            .modal__label {
                color: $blue;
            }

            .modal__input {
                border-color: $blue;
            }
        }
    }

    &__label {
        display: block;
        text-align: left;
        font-size: 12px;
        line-height: 180%;
        margin-bottom: 4px;
        cursor: pointer;
        transition: color 0.2s;

        @include media-up(md) {
            display: inline-block;
        }
    }

    &__input {
        border: 1px solid $blue-10;
        padding: 10px 20px;
        transition: border-color 0.2s;
        color: $blue;
        background: none;
        display: block;
        border-radius: 50px;
        width: 100%;

        @include media-up(md) {
            padding: 12px 20px;
        }

        &--cvv {
            &::after {
                background-image: url(img/icons/card-back.svg);
            }
        }

        &--number {
            &::after {
                background-image: url(img/icons/card.svg);
            }
        }

        &--cvv,
        &--number {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 30px;
                height: 20px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__cancel-btn {
        background: none;
        color: $blue;
        margin-top: 5px;

        @include media-up(md) {
            margin-top: 0;
        }
    }

    &__cancel-btn,
    &__save-btn {
        width: 100%;

        @include media-up(md) {
            width: auto;
        }
    }

    &__row {
        display: flex;
        gap: 10px;
    }
}
