.nav {
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 90%;
    height: 100vh;
    padding: 23px 20px;
    background: #2D2D2D;

    @include media-up(md) {
        position: relative;
        transform: none !important;
        width: auto;
        height: auto;
        padding: 0;
        background: none;
        transition: none !important;
    }

    &.transitioned {
        transition: transform 0.5s cubic-bezier(0.36, 0, 0.66, -0.56);
    }

    &.show {
        transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
        transform: translateX(11%);
    }

    &__list {
        @include media-up(lg) {
            display: flex;
        }
    }

    li {
        &:not(:last-child) {
            margin-bottom: 20px;

            @include media-up(lg) {
                margin-bottom: 0;
                margin-right: 40px;
            }
        }

        &.current-menu-item,
        &.active {
            a {
                font-weight: 500;
                color: $red;
            }
        }
    }

    a {
        font-size: 15px;
        line-height: 19px;
    }
}