.policy-block {
    background-color: $bg-green;
    padding: 30px 20px 10px;
    line-height: 1.6;

    @include media-up(md) {
        padding: 50px 10px;
    }

    &__wrapper {
        border-radius: 15px;
        padding: 20px;
        max-width: 780px;
        margin: 0 auto;
        background-color: #fff;
        margin-bottom: 60px;

        @include media-up(md) {
            padding: 70px 40px;
            margin-bottom: 100px;
        }
    }

    p {
        font-size: 15px;
        margin: 20px 0;
        color: $blue-80;
        line-height: 1.6;

        @include media-up(md) {
            font-size: 18px;
            margin: 25px 0;
        }
    }

    h3 {
        margin-top: 20px;
        font-size: 17px;
        line-height: 1.6;
        font-weight: 700;

        @include media-up(md) {
            font-size: 20px;
            margin-top: 40px;
        }
    }
}
