.slider-1 {
    &__container {
        margin-right: -20px;
        margin-left: -20px;
        border-radius: 0;
        margin-bottom: 8px;

        @include media-up(md) {
            margin: 0 0 15px;
            border-radius: 15px;
            /*Safari border-radius + overflow: hidden + CSS transform fix*/
            -webkit-mask-image: -webkit-radial-gradient(white, black);
        }
    }

    &__item {
        position: relative;
        padding-top: 50%;

        @include media-up(lg) {
            padding-top: 0;
            height: 300px;
        }
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;

        @include media-up(md) {
            .swiper-slide:first-child & {
                border-radius: 15px 0 0 15px;
            }
    
            .swiper-slide:last-child & {
                border-radius: 0 15px 15px 0
            }            
        }
    }

    &__bottom {
        display: flex;
        align-items: flex-start;
    }

    &__nav {
        display: flex;
        flex-shrink: 0;
        margin-right: 15px;
        padding-top: 5px;

        @include media-up(md) {
            padding-top: 10px;
        }
    }

    &__button {
        @include hover-supported {
            color: rgba($blue, .5);
        }

        background: 0 0;
        border: none;
        color: $blue;
        transition: all .15s ease-out;

        &--prev {
            margin-right: 23px;
        }

        &--next {

        }
    }

    &__desc {
        .slider-1 & {
            margin: 0 0 0 auto;
        }
    }
}
