.stages {
    position: relative;
}

.stage {
    position: relative;

    @include media-up(lg) {
        display: flex;
        flex-wrap: wrap;
    }

    &__box {
        position: relative;
        overflow: hidden;
        padding: 71px 103px 90px 20px;

        @include media-up(md) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 450px;
            padding: 0 150px 30px 40px;
        }

        @include media-up(lg) {
            flex-shrink: 0;
            width: 56%;
            height: 670px;
            max-width: 800px;
            border-radius: 10px;
        }

        @include media-up(xl) {
            width: 46%;
            height: 670px;        
        }

        &:before {
            content: '';
            position: absolute;
            left: -25%;
            top: -25%;
            transform: translateY(-100%);
            width: 150%;
            height: 150%;
            border-radius: 50%;
            opacity: 0.1;
            transition: .5s;
            will-change: transform;
        }

        &.cursor-in:before {
            transform: translateY(0);
        }
    
        &.cursor-out:before {
            transform: translateY(100%);
        }
    }

    &__content {
        position: relative;
    }

    &__title {
        font-weight: bold;
        margin-bottom: 18px;
    }

    &__text {
        @include text-17;
        color: $blue-80;

        p {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__hero {
        position: absolute;
        right: -5px;
        bottom: 111px;
        width: 110px;

        @include media-up(md) {
            width: 130px;
            right: 15px;
        }

        @include media-up(xl) {
            width: 26%;
        }
    }

    &__main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -52px;

        @include media-up(lg) {
            width: 44%;
            flex: 1 1 0;
            margin-top: 50px;
        }
    }

    &__features {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    &__img {
        width: 100%;

        img {
            max-width: 100%;
        }
    }

    &__footer {
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 80px 0;
    }

    &__fact {
        position: relative;
        z-index: 1;
    }

    &__line {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;

        @include media-up(lg) {
            display: block;
        }

        circle {
            opacity: 0;
            transition: opacity .1s;
        }
    }

    &.visible-dot .stage__line circle {
        opacity: 1;
    }
}

// First stage
.stage:nth-child(1) {
    .stage {
        &__box {
            background: $bg-pink;

            @include media-up(lg) {
                align-items: flex-end;
                padding: 0 51px 40px 150px;
            }

            @include media-up(xl) {
                padding-left: 170px;           
            }

            &:before {
                background: $pink;
            }
        }

        &__title {
            color: $pink;
        }

        &__text {
            @include media-up(lg) {
                max-width: 372px;
            }
        }

        &__hero {
            transform: scale(-1, 1);

            @include media-up(lg) {
                transform: none;
                right: auto;
                left: calc((100% - 423px) / 2);
                transform: translateX(-50%);
                bottom: 53px;
            }
        }

        &__main {
            @include media-up(xl) {
                padding-right: 6.1%;
            }
        }

        &__footer {
            padding: 110px 0 117px;
        }

        &__line {
            margin-left: 6.4%;
        }
    }

    .fact__text span {
        color: $purple;
    }
}

// Second stage
.stage:nth-child(2) {
    .stage {
        &__box {
            background: $bg-green;

            @include media-up(lg) {
                padding: 0 130px 0 50px;
            }

            @include media-up(xl) {
                padding: 0 150px 0 90px;          
            }

            &:before {
                background: $green;
            }
        }

        &__title {
            color: $green;
        }

        &__text {
            @include media-up(lg) {
                max-width: 356px;
            }
        }

        &__hero {
            @include media-up(lg) {
                transform: none;
                right: calc((100% - 446px) / 2);
                transform: translateX(50%);
                bottom: 53px;
            }
        }

        &__main {
            @include media-up(lg) {
                order: -1;
            }

            @include media-up(xl) {
                padding-left: 6.1%;                
            }
        }

        &__footer {
            padding: 74px 0 180px;
        }

        &__line {
            margin-left: -2.1%;
        }
    }

    .fact__text span {
        color: $pink;
    }
}

// Third stage
.stage:nth-child(3) {
    .stage {
        &__box {
            background: $bg-orange;

            @include media-up(lg) {
                align-items: flex-end;
                padding: 0 51px 46px 150px;
            }

            @include media-up(xl) {
                padding-left: 170px;           
            }

            &:before {
                background: $orange;
            }
        }

        &__title {
            color: $orange;
        }

        &__text {
            @include media-up(lg) {
                max-width: 339px;
            }
        }

        &__hero {
            transform: scale(-1, 1);

            @include media-up(lg) {
                display: none;
            }
        }

        &__main {
            @include media-up(xl) {
                padding-right: 6.1%;
            }
        }
    }
}

// Fact (in footer)
.fact {
    text-align: center;

    &__title {
        color: $red;
    }

    &__text {
        max-width: 962px;
        margin: 0 auto;
        font-weight: 500;
        font-size: 22px;
        line-height: 34px;

        @include media-up(md) {
            font-size: 24px;
            line-height: 36px;
        }

        @include media-up(lg) {
            font-size: 30px;
            line-height: 45px;
        }

        span {
            font-weight: 900;
        }
    }
}