.ask-form {
    padding: 200px 0;

    &__wrapper {
        position: relative;
        z-index: 5;
    }

    &__images {
        display: none;

        @include media-up(md) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            width: 100%;
        }
    }

    &__img {
        @include media-up(md) {
            position: absolute;
            width: 140px;
            height: 310px;
            object-fit: contain;
            bottom: -60px;
        }

        &--left {
            @include media-up(md) {
                left: 0;
            }
        }

        &--right {
            @include media-up(md) {
                right: 0;
            }
        }
    }

    &__content {
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        max-width: 400px;
        margin: 0 auto 70px;
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 160px 1fr;
        grid-template-areas:
            'a'
            'b'
            'c'
            'd';
        gap: 10px;

        @include media-up(md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 130px 1fr;
            grid-template-areas:
                'a b'
                'c c'
                'd d';
            gap: 20px;
        }
    }

    &__input {
        border-radius: 22px;
        background-color: $bg-green;
        padding: 20px 20px;

        &--name {
            grid-area: a;
        }

        &--contact {
            grid-area: b;
        }

        &--message {
            grid-area: c;
        }
    }

    &__btn-wrapper {
        grid-area: d;
    }

    &__btn {
        margin: 0 auto;
        width: 100%;
        display: block;
        padding: 12px 70px;

        @include media-up(md) {
            width: auto;
        }
    }
}
