.faq-answers {
    padding: 20px 0 60px;

    @include media-up(md) {
        padding: 60px 0;
    }

    @include media-up(lg) {
        padding: 60px 0 170px;
    }

    &__content {
        max-width: 880px;
        margin: 0 auto;
    }

    &__header {
        position: relative;
        padding: 14px 14px 14px 36px;
        color: #fff;

        @include media-up(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 22px 30px;
            margin-bottom: 30px;
            border-radius: 10px;
        }
    }

    &__header-title {
        font-weight: bold;
        font-size: 17px;
        line-height: 150%;

        @include media-up(md) {
            font-weight: normal;
        }
    }

    &__header-button {
        display: none;
        border-color: #fff;
        background-color: #fff;

        @include media-up(md) {
            display: block;    
        }
    }

    &__item {
        &:nth-child(4n +1) {
            .faq-answers__header {
                background-color: $pink;
            }

            .faq-answers__header-button {
                color: $pink;

                &:hover {
                    background-color: $pink;
                    color: #fff;
                }
            }
        }

        &:nth-child(2) {
            .faq-answers__header {
                background-color: $green;
            }

            .faq-answers__header-button {
                color: $green;

                &:hover {
                    background-color: $green;
                    color: #fff;
                }
            }
        }

        &:nth-child(3) {
            .faq-answers__header {
                background-color: $orange;
            }

            .faq-answers__header-button {
                color: $orange;

                &:hover {
                    background-color: $orange;
                    color: #fff;
                }
            }
        }
    }

    &__item + &__item {
        margin-top: 40px;

        @include media-up(lg) {
            margin-top: 70px;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 250px;
        margin: 40px auto;
        align-items: center;

        @include media-up(lg) {
            margin-top: 60px;
        }
    }

    &__nav-button {
        display: block;
        width: 21px;
        height: 16px;
        background: none;
        border: none;
        color: $blue;

        &:hover {
            color: $orange;
        }
    }

    &__nav-pages {
        display: flex;
        width: 130px;
        justify-content: space-between;
    }

    &__nav-link {
        display: block;
        font-size: 15px;
        line-height: 34px;
    }

    &__nav-link.current {
        position: relative;
        font-weight: 600;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 16px;
            height: 9px;
            background-color: $yellow;
            border-radius: 4px;
            bottom: 7px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    &__mobile-button {
        display: block;
        margin: 25px auto 0;
        text-align: center;
        background: none;
        color: $red;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        border: none;
        border-bottom: 1px solid $red;
        transition: color 0.2s, border-color 0.2s;

        &:hover {
            color: $blue-80;
            border-color: $blue-80;
        }

        @include media-up(lg) {
            display: none;
        }
    }
}
