.gift-choose {
    position: relative;

    @include media-up(lg) {
        margin-bottom: 60px;
    }

    &__star-block {
        position: absolute;
        bottom: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 170px;
        background-color: $blue;

        @include media-up(lg) {
            bottom: -80px;
            height: 280px;
        }
    }

    &__bg-img {
        &--mobile {
            width: auto;
            height: 120px;
            top: auto;
            bottom: 15px;
        }

        &--desktop {
            object-fit: contain;
        }
    }

    &__heading {
        text-align: center;
    }

    &__content {
        margin: 34px -20px 0;
        padding: 0 20px 20px;
        overflow-x: auto;
        display: grid;
        grid-template-columns: repeat(4, 245px);
        justify-content: start;
        column-gap: 20px;

        @include media-up(lg) {
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
            margin-top: 65px;
            column-gap: 40px;
        }

        @include media-up(xl) {
            grid-template-columns: repeat(4, 245px);
        }
    }

    &__item {
        display: block;
        padding: 10px;
        border-radius: 10px;

        &:hover {
            background-color: $red;
        }

        &:last-child {
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                right: -10px;
                width: 10px;
                height: 1px;
            }
        }
    }

    &__item-img {
        width: 235px;
        border-radius: 10px;
        height: 180px;
        object-fit: cover;
        pointer-events: none;
        margin: 0 auto;
    }

    &__item-title {
        margin-top: 16px;
        font-size: 17px;
        line-height: 27px;
        text-align: center;
        color: #fff;

        @include media-up(md) {
            font-size: 24px;
            line-height: 38px;
            margin-top: 30px;
        }
    }

    &__item:hover &__item-title {
        font-weight: 700;
        color: #fff;
    }
}
