.gift-how {
    position: relative;
    padding: 50px 0 70px;

    @include media-up(lg) {
        padding: 100px 0 120px;
    }

    &__container {
        position: relative;
    }

    &__bg-img {
        &--mobile {
            top: 30px;

            @include media-up(sm) {
                display: none;
            }
        }

        &--desktop {
            @include media-up(sm) {
                display: none;
            }

            @include media-up(md) {
                display: block;
                top: 30px;
                object-fit: contain;
                left: -30px;
                height: 420px;
            }
        }
    }

    &__heading {
        text-align: center;
    }

    &__item {
        &:nth-child(1) {
            .gift-how__item-img-wrapper {
                border-color: $pink;
            }

            .gift-how__item-title {
                color: $pink;
            }
        }

        &:nth-child(2) {
            .gift-how__item-img-wrapper {
                border-color: $cyan;
            }

            .gift-how__item-title {
                color: $cyan;
            }
        }

        &:nth-child(3) {
            .gift-how__item-img-wrapper {
                border-color: $green;
            }

            .gift-how__item-title {
                color: $green;
            }
        }
    }

    &__item-img-wrapper {
        border-width: 2px;
        border-style: solid;
    }
}
