.article-content {

    &__subtitle,
    &__date-update {
        font-size: 15px;
        color: rgba($blue, .5);
    }

    &__subtitle {
        margin-bottom: 17px;
    }

    &__date-update {
        @include media-up(md) {
            display: none;
        }
    }

    .txt-box-1,
    .txt-box-2 {
        margin: 30px -20px;

        @include media-up(md) {
            margin: 35px 0;
        }
    }

    &__fact-stars {
        margin-right: -20px;
        margin-left: -20px;

        @include media-up(md) {
            margin-right: 0;
            margin-left: 0;

            .container {
                padding: 0;
            }
        }

        .fact-stars__wrapper {
            @include media-up(md) {
                border-radius: 15px;
            }
        }

        .fact-stars__subtitle {
            color: $red;
        }

        .fact-stars__title {
            margin: 0;
            font-size: 22px;
            line-height: 1.21;
            color: #fff;

            @include media-up(md) {
                font-size: 24px;
                line-height: 1.6;
            }
        }

        .fact-stars__text {
            margin: 0;
        }
    }

    .blockquote {
        margin-right: -20px;
        margin-left: -20px;

        @include media-up(md) {
            margin-right: 0;
            margin-left: 0;
        }

        @include media-between(md, md) {
            padding-right: 30px;
            padding-left: 30px;
        }

        .blockquote__heading {
            @include media-between(md, md) {
                margin-bottom: 16px;
                padding-right: 47px;
            }

            &::after {
                @include media-between(md, md) {
                    width: 37px;
                    height: 28px;
                }
            }
        }

        &__title {
            @include media-between(md, md) {
                font-size: 17px;
            }
        }

        .blockquote__txt {
            @include media-between(md, md) {
                padding-left: 0;
                font-size: 18px;
            }
        }
    }
}
