.blockquote {
    padding: 24px 18px;
    background-color: $bg-green;

    @include media-up(md) {
        padding: 40px;
        border-radius: 15px;
    }

    &__heading {
        position: relative;
        display: flex;
        margin-bottom: 16px;
        padding-right: 47px;

        &::after {
            content: '';
            position: absolute;
            top: 14px;
            right: 0;
            width: 37px;
            height: 28px;
            background: url("img/icons/quotes--pink.svg") no-repeat 0 0;
            background-size: contain;

            @include media-up(md) {
                top: 0;
                width: 58px;
                height: 61px;
            }
        }

        @include media-up(md) {
            margin-bottom: 0;
            padding-right: 78px;
        }
    }

    &__avatar {
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        margin-right: 8px;
        border-radius: 50%;
        object-fit: cover;

        @include media-up(md) {
            width: 75px;
            height: 75px;
            margin-right: 20px;
        }
    }

    &__title {
        align-self: center;
        font-weight: 600;
        font-size: 17px;
        color: $blue;

        .content & {
            margin: 0;
        }

        @include media-up(md) {
            font-size: 20px;
            line-height: 1.3;
        }
    }

    &__txt {
        padding-left: 58px;

        & > *:first-child {
            margin-top: 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        @include media-up(md) {
            padding-left: 95px;
            font-size: 20px;
            line-height: 1.7;
        }
    }
}
