.posts-slider {
    &__wrapper {

    }

    &__item {
        width: 240px;
    }

    &__button {
        padding: 15px;
        background: 0 0;
        border: none;

        &--prev {

        }

        &--next {

        }
    }
}
