.slider-1 {
    &__container {
        margin-bottom: 8px;
        border-radius: 15px;
        /*Safari border-radius + overflow: hidden + CSS transform fix*/
        -webkit-mask-image: -webkit-radial-gradient(white, black);

        @include media-up(md) {
            margin-bottom: 15px;
        }
    }

    &__item {

    }

    &__img {
        width: 100%;

        .swiper-slide:first-child & {
            border-radius: 15px 0 0 15px;
        }

        .swiper-slide:last-child & {
            border-radius: 0 15px 15px 0
        }
    }

    &__bottom {
        display: flex;
        align-items: flex-start;
    }

    &__nav {
        display: flex;
        flex-shrink: 0;
        margin-right: 15px;
        padding-top: 5px;

        @include media-up(md) {
            padding-top: 10px;
        }
    }

    &__button {
        @include hover-supported {
            color: rgba($blue, .5);
        }

        background: 0 0;
        border: none;
        color: $blue;
        transition: all .15s ease-out;

        &--prev {
            margin-right: 23px;
        }

        &--next {

        }
    }

    &__desc {
        .slider-1 & {
            margin: 0 0 0 auto;
        }
    }
}
