.txt-box-2 {
    padding: 40px 20px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.6;
    text-align: center;
    color: $blue;
    background-color: $bg-cyan;

    @include media-up(md) {
        padding: 40px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.7;
        text-align: left;
        border-radius: 15px;
    }
}
