.product-stages {
    background-color: $bg-soft;
    padding: 50px 0;

    @include media-up(lg) {
        padding: 120px 0 100px;
    }

    &__content-background {
        width: auto;
        top: 0;
    }
}

.product-stages__stages .product-stages__stage {
    grid-template-rows: min-content min-content;

    @include media-up(md) {
        grid-template-rows: min-content min-content;
    }

    &:nth-child(1) {
        @include media-up(md) {
            grid-template-columns: 150px 1fr 250px;
        }

        @include media-up(lg) {
            grid-template-columns: minmax(180px, 230px) minmax(250px, 360px) minmax(
                    240px,
                    1fr
                );
        }

        .product-stages__stage-text {
            &::after {
                width: 32px;
                height: 36px;
                bottom: -35px;
            }
        }
    }

    &:nth-child(2) {
        @include media-up(md) {
            grid-template-columns: 250px 1fr 150px;
        }

        @include media-up(lg) {
            grid-template-columns: minmax(240px, 1fr) minmax(250px, 360px) minmax(
                    180px,
                    230px
                );
        }

        .product-stages__stage-text {
            &::after {
                bottom: 0;
                width: 40px;
                height: 25px;
                left: 100%;
            }
        }
    }
}
