.product-about-3 {
    padding: 60px 0 50px;
    background-image: url(img/bg/product-skills-mobile.svg);
    background-size: auto;
    background-position: 50% 168px;
    background-repeat: no-repeat;

    @include media-up(md) {
        background: none;
    }

    @media (min-width: 1300px) {
        padding: 120px 0 0;
        background-image: url(img/bg/product-skills-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 95% 90%;
    }

    &__heading {
        text-align: center;
    }

    &__title {
        max-width: 270px;

        @include media-up(md) {
            max-width: 500px;
        }
    }

    &__text {
        @include text-20;
        color: $blue-80;
        margin: 20px 0;

        @include media-up(lg) {
            margin: 35px auto 20px;
            max-width: 825px;
        }
    }

    &__skills {
        margin-top: 35px;
    }
}

.product-about-skills {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    margin: 0 auto;

    @include media-up(md) {
        max-width: 400px;
    }

    @media (min-width: 1300px) {
        max-width: 100%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 140px;

        &:nth-child(even) {
            margin-left: auto;
            margin-top: -150px;
        }

        @media (min-width: 1300px) {
            width: 190px;

            &:nth-child(even) {
                margin-left: 0;
                margin-top: 0;
            }

            &:nth-child(odd) {
                margin-top: 180px;
            }
        }
    }

    &__item-content {
        position: relative;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        text-align: center;
        padding: 15px;

        @include media-up(lg) {
            width: 190px;
            height: 190px;
            padding: 30px;
        }

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            display: block;
            width: 156px;
            height: 156px;
            border-radius: 50%;
            border: 1px solid rgba(148, 157, 175, 0.2);

            @include media-up(lg) {
                width: 210px;
                height: 210px;
            }
        }
    }

    &__item-icon {
        width: 40px;
        height: 40px;
        object-fit: contain;

        @include media-up(md) {
            width: 60px;
            height: 60px;
        }
    }

    &__item-text {
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        margin-top: 12px;

        @include media-up(lg) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__rating {
        font-size: 16px;
        line-height: 19px;
        color: #959daf;
        text-align: center;
        margin-top: 30px;

        span {
            font-size: 20px;
            line-height: 24px;
            color: $orange;
            font-weight: 700;
        }
    }
}

.product-about-skills__item {
    &:nth-child(1) {
        .product-about-skills__item-content {
            background-color: $cyan;
        }
    }

    &:nth-child(2) {
        .product-about-skills__item-content {
            background-color: $pink;
        }
    }

    &:nth-child(3) {
        .product-about-skills__item-content {
            background-color: $green;
        }
    }

    &:nth-child(4) {
        .product-about-skills__item-content {
            background-color: $orange;
        }
    }

    &:nth-child(5) {
        .product-about-skills__item-content {
            background-color: $purple;
        }
    }

    &:nth-child(6) {
        .product-about-skills__item-content {
            background-color: $yellow;
        }
    }
}
