.product-stars {
    padding-bottom: 60px;

    @include media-up(md) {
        padding: 50px 0;
    }

    @include media-up(lg) {
        padding: 95px 0 110px;
    }

    &__wrapper {
        background-color: $blue;
        text-align: center;
        color: #fff;
        padding: 35px 0;
        margin: 0 -20px;
        background-image: url(img/bg/product-stars-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;

        @include media-up(md) {
            border-radius: 15px;
            margin: 0;
        }

        @include media-up(lg) {
            margin: 0 auto;
            max-width: 1142px;
            padding: 50px 0;
            background-image: url(img/bg/product-stars-desktop.svg);
        }
    }

    &__subtitle {
        color: $red;
        margin: 0 auto;
        max-width: 220px;

        @include media-up(md) {
            max-width: 80%;
        }
    }

    &__text {
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
        max-width: 280px;
        margin: 8px auto 0;

        @include media-up(md) {
            max-width: 70%;
        }

        @include media-up(lg) {
            font-size: 24px;
            line-height: 38px;
        }
    }
}
