.product-advantages {
    padding: 180px 0 70px;

    @include media-up(lg) {
        padding: 306px 0 378px;
    }

    &__advantage {
        &:nth-child(1) {
            background-color: $cyan;
        }

        &:nth-child(2) {
            background-color: $orange;
        }

        &:nth-child(3) {
            background-color: $pink;
        }

        &:nth-child(4) {
            background-color: $green;
        }
    }
}
