// Header links
@keyframes linkSlideDown {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    33% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// Stars
@keyframes starYellow {
    0% {
        color: $yellow;
    }
    40% {
        color: $gray;
    }
    100% {
        color: $yellow;
    }
}

@keyframes starGray {
    0% {
        color: $gray;
    }
    60% {
        color: $yellow;
    }
    100% {
        color: $gray;
    }
}

// Circles
@keyframes circleDown {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(20%);
    }
    80% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes circleUp {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20%);
    }
    80% {
        transform: translateY(0%);
    }
    90% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0);
    }
}

// Quote
@keyframes quotes {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}

// BG icons
@keyframes icon1 {
    0% {
        transform: rotate(0deg) translateX(-20%) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(-20%) rotate(-360deg);
    }
}

@keyframes icon2 {
    0% {
        transform: rotate(0deg) translateX(20%) rotate(0deg);
    }
    100% {
        transform: rotate(-360deg) translateX(20%) rotate(360deg);
    }
}

// BG icons
@keyframes feature1 {
    0% {
        transform: rotate(0deg) translateX(-5%) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(-5%) rotate(-360deg);
    }
}

@keyframes feature2 {
    0% {
        transform: rotate(0deg) translateX(5%) rotate(0deg);
    }
    100% {
        transform: rotate(-360deg) translateX(5%) rotate(360deg);
    }
}

// Video hint
@keyframes hint {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    3% {
        transform: scale(1.05, 0.95) translateY(0);
    }
    10% {
        transform: scale(0.95, 1.05) translateY(-50%);
    }
    17% {
        transform: scale(1.03, 0.93) translateY(10%);
    }
    20% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lideIn {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes lideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

@keyframes opacityUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes opacityDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
