@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-family: "FFNort";
    src: url("fonts/FFNort-Regular.woff2") format("woff2"),
         url("fonts/FFNort-Regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    font-family: "FFNort";
    src: url("fonts/FFNort-Medium.woff2") format("woff2"),
         url("fonts/FFNort-Medium.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-family: "FFNort";
    src: url("fonts/FFNort-Bold.woff2") format("woff2"),
         url("fonts/FFNort-Bold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    font-family: "FFNort";
    src: url("fonts/FFNort-ExtraBold.woff2") format("woff2"),
         url("fonts/FFNort-ExtraBold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    font-family: "FFNort";
    src: url("fonts/FFNort-Black.woff2") format("woff2"),
         url("fonts/FFNort-Black.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-family: "Geometria";
    src: url("fonts/Geometria-Bold.woff2") format("woff2"),
         url("fonts/Geometria-Bold.woff") format("woff");
}