html {
    box-sizing: border-box;
    height: 100%;
}

html *,
html ::after,
html ::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    color: $blue;
    word-wrap: break-word;
    background-color: #fff;
    overflow-x: hidden;

    &.overflow {
        overflow: hidden;
    }
}

a {
    color: $blue;
    text-decoration: none;
    cursor: pointer;
    transition: .25s;

    &:hover {
        color: $red;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    display: block;
}

button {
    color: #000;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

h1 {
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;

    @include media-up(md) {
        font-size: 35px;
        line-height: 39px;
    }

    @include media-up(lg) {
        font-size: 40px;
        line-height: 44px;
    }

    @include media-up(lg) {
        font-size: 50px;
        line-height: 54px;
    }
}

h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;

    @include media-up(md) {
        font-size: 26px;
        line-height: 34px;
    }

    @include media-up(lg) {
        font-weight: bold;
        font-size: 30px;
        line-height: 39px;
    }
}

h3 {
    font-size: 15px;
    line-height: 19px;

    @include media-up(md) {
        font-size: 20px;
        line-height: 30px;
    }

    @include media-up(lg) {
        font-weight: bold;
        font-size: 24px;
        line-height: 38px;        
    }
}

h4 {
    font-size: 15px;
    line-height: 19px;

    @include media-up(md) {
        font-size: 18px;
        line-height: 24px;
    }

    @include media-up(lg) {
        font-size: 20px;
        line-height: 26px;
    }
}

.title-dot {
    position: relative;
    text-indent: 21px;

    @include media-up(md) {
        text-indent: 25px;
    }

    position: relative;
    
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        display: block;
        width: 8px;
        height: 8px;
        background: $red;
        border-radius: 50%;

        @include media-up(md) {
            width: 10px;
            height: 10px;
            top: 12px;
        }

        @include media-up(lg) {
            top: 15px;
        }
    }
}

p {
    
}

ul, ol {
    list-style: none;
}

input,
select,
textarea {
    width: 100%;
    padding: 16px 20px;
    font-size: 25px;
    line-height: 1.5;
    font-family: inherit;
    color: #000;
    background-color: #fff;
    border: none;
    transition: all .2s ease-out;

    &:hover,
    &:focus {
        outline: none;
    }
}

svg {
    display: block;
}

.container {
    width: 100%;
    padding: 0 20px;

    @include media-up(md) {
        max-width: 1330px;
        margin: 0 auto;
        padding: 0 30px;
    }
}

.site-main {
    position: relative;
}