html {
    box-sizing: border-box;
    height: 100%;
}

html *,
html ::after,
html ::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    color: $blue;
    word-wrap: break-word;
    background-color: #fff;
    overflow-x: hidden;

    &.overflow {
        overflow: hidden;
    }
}

a {
    color: $blue;
    text-decoration: none;
    cursor: pointer;
    transition: .25s;

    &:hover {
        color: $red;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    display: block;
}

button {
    color: #000;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 27px;
    line-height: 30px;

    @include media-up(md) {
        font-size: 35px;
        line-height: 39px;
    }

    @include media-up(lg) {
        font-size: 40px;
        line-height: 44px;
    }

    @include media-up(lg) {
        font-size: 50px;
        line-height: 54px;
    }
}

h2 {
    
}

h3 {
    
}

p {
    
}

ul, ol {
    list-style: none;
}

.container {
    position: relative;
    width: 100%;
    padding: 0 20px;

    @include media-up(md) {
        max-width: 1330px;
        margin: 0 auto;
        padding: 0 30px;
    }
}

input,
select,
textarea {
    width: 100%;
    padding: 16px 20px;
    font-size: 25px;
    line-height: 1.5;
    font-family: inherit;
    color: #000;
    background-color: #fff;
    border: none;
    transition: all .2s ease-out;

    &:hover,
    &:focus {
        outline: none;
    }
}