html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    color: $blue;
    word-wrap: break-word;
    background-color: #fff;
    overflow-x: hidden;
    min-height: 100vh;

    &.overflow {
        overflow: hidden;
    }
}

a {
    color: $blue;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
        color: $red;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    display: block;
}

button {
    color: #000;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

h1 {
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;

    @include media-up(md) {
        font-size: 35px;
        line-height: 39px;
    }

    @include media-up(lg) {
        font-size: 40px;
        line-height: 44px;
    }

    @include media-up(lg) {
        font-size: 50px;
        line-height: 54px;
    }
}

h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;

    @include media-up(md) {
        font-size: 26px;
        line-height: 34px;
    }

    @include media-up(lg) {
        font-weight: bold;
        font-size: 30px;
        line-height: 39px;
    }
}

h3 {
    font-size: 15px;
    line-height: 19px;

    @include media-up(md) {
        font-size: 20px;
        line-height: 30px;
    }

    @include media-up(lg) {
        font-weight: bold;
        font-size: 24px;
        line-height: 38px;
    }
}

h4 {
    font-size: 15px;
    line-height: 19px;

    @include media-up(md) {
        font-size: 18px;
        line-height: 24px;
    }

    @include media-up(lg) {
        font-size: 20px;
        line-height: 26px;
    }
}

ul,
ol {
    list-style: none;
}

input,
textarea {
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    font-family: inherit;
    border-radius: 50px;
    border: none;
    appearance: none;
    outline: none;
    box-shadow: 0 0 0 1000px #fff inset;

    &:hover,
    &:focus {
        outline: none;
    }

    &::placeholder {
        color: $blue-50;
    }
}

button {
    cursor: pointer;
    outline: none;
}

svg {
    display: block;
}

.container {
    width: 100%;
    padding: 0 20px;

    @include media-up(md) {
        max-width: 1330px;
        margin: 0 auto;
        padding: 0 30px;
    }

    &--sm {
        max-width: 1140px;
    }
}

.site-main {
    position: relative;
    flex: 1 0 auto;
}

label,
select {
    cursor: pointer;
}

.red-link {
    color:  #ff6860;
    text-decoration: underline;
}