@function breakpoint-next(
    $name,
    $breakpoints: $grid-breakpoints,
    $breakpoint-names: map-keys($breakpoints)
) {
    $n: index($breakpoint-names, $name);
    @return if(
        $n < length($breakpoint-names),
        nth($breakpoint-names, $n + 1),
        null
    );
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min !=0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
    $next: breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
    @return if(breakpoint-min($name, $breakpoints) ==null, '', '-#{$name}');
}

@mixin media-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-down($name, $breakpoints: $grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-between($lower, $upper, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($lower, $breakpoints);
    $max: breakpoint-max($upper, $breakpoints);

    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin media-only($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    $max: breakpoint-max($name, $breakpoints);

    @if $min !=null and $max !=null {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $max==null {
        @include media-up($name);
    } @else if $min==null {
        @include media-down($name);
    }
}

@mixin text-15 {
    font-size: 15px;
    line-height: 27px;

    @include media-up(md) {
        font-size: 18px;
        line-height: 30px;
    }

    @include media-up(xl) {
        font-size: 20px;
        line-height: 34px;
    }
}

@mixin text-17 {
    font-size: 17px;
    line-height: 28px;

    @include media-up(md) {
        font-size: 18px;
        line-height: 30px;
    }

    @include media-up(xl) {
        font-size: 20px;
        line-height: 34px;
    }
}

@mixin text-20 {
    font-size: 15px;
    line-height: 1.6;

    @include media-up(md) {
        line-height: 31px;
        font-size: 19px;
    }

    @include media-up(md) {
        line-height: 34px;
        font-size: 20px;
    }
}

// Prevent CSS hover on touch devices
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover,
        &.focus-visible {
            @content;
        }
    }
}
