$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1500px);

// Fonts
$font: "FFNort", sans-serif;
$font-1: "Geometria", sans-serif;

// Colors
$blue:       #2A3B5E;
$blue-10:    #2A3B5E1A;
$blue-20:    #2A3B5E33;
$blue-70:    #2A3B5EB3;
$blue-80:    #2A3B5ECC;
$blue-90:    #2A3B5EE6;
$red:        #FF6860;
$green:      #009564;
$cyan:       #009DAF;
$pink:       #FF719C;
$orange:     #FF7D5F;
$purple:     #4150A3;
$yellow:     #F1E66B;

$bg-cyan:    #D4F2FF;
$bg-green:   #F7FCFA;
$bg-purple:  #FFF9F7B3;