.about-us {
    overflow: hidden;
    padding: 52px 0 67px;

    @include media-up(md) {
        padding: 70px 0 100px;
    }

    @include media-up(lg) {
        padding: 102px 0 137px;
    }

    &__content {
        @include media-up(md) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__main {
        margin-bottom: 37px;

        @include media-up(md) {
            width: 50%;
            padding-right: 50px;
            margin-bottom: 0;
        }

        @include media-up(lg) {
            padding: 50px 60px 0 20px;
        }

        @include media-up(xl) {
            padding: 50px 90px 0 89px;
        }
    }

    &__aside {
        @include media-up(md) {
            width: 50%;
            padding-left: 20px;
        }

        @include media-up(lg) {
            padding: 0 20px 0 40px;
        }

        @include media-up(xl) {
            padding: 0 113px 0 34px;
        }
    }

    &__title {
        margin-bottom: 14px;
    }

    &__text {
        @include text-15;
        color: $blue-70;

        p:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__footer {
        display: none;
        margin-top: 37px;

        @include media-up(lg) {
            display: flex;
            justify-content: center;
        }
    }

    &__hint {
        position: relative;
        padding: 3px 13px;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #fff;

        &:hover {
            color: #fff;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $green;
            border-radius: 3px;
            transform: rotate(-1.18deg);
        }

        &:after {
            content: '';
            position: absolute;
            top: -17px;
            left: 100%;
            transform: translateX(15px);
            width: 102px;
            height: 37px;
            background: url(../img/icons/video-arrow.svg) center / contain no-repeat;
        }
    }
}