.box-section {
    padding: 30px 0 57px;
    background: $bg-cyan;

    @include media-up(md) {
        padding-top: 55px;
    }

    @include media-up(lg) {
        padding-top: 79px;
    }

    &__img {
        width: 180px;
        height: 180px;
        margin: 0 auto 20px;

        @include media-up(md) {
            width: 200px;
            height: 200px;
        }

        @include media-up(lg) {
            width: 224px;
            height: 224px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        max-width: 930px;
        margin: 0 auto;
        font-weight: 500;
        @include text-17;
        text-align: center;
    }
}