.founders {
    padding: 63px 0 71px;
    background: $bg-soft;

    @include media-up(md) {
        padding: 120px 0;
    }

    @include media-up(lg) {
        padding: 208px 0 431px;
    }

    &__wrapper {
        position: relative;
        z-index: 1;

        @include media-up(lg) {
            max-width: 700px;
            margin: 0 auto;
        }
        
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            right: 0;
            top: 53px;
            display: block;
            width: 45%;
            height: 100%;
            background-image: url(../img/icons/quotes.svg);
            background-repeat: no-repeat;
            background-position: top;
            background-size: contain;
            animation: quotes 5000ms linear infinite;

            @include media-up(md) {
                top: -50px;
            }

            @include media-up(lg) {
                width: 55%;
                top: -88px;
            }
        }
    }

    &__header {
        margin-bottom: 18px;

        @include media-up(md) {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }

        @include media-up(lg) {
            margin-bottom: 50px;
        }
    }

    &__photos {
        display: flex;
        margin-bottom: 16px;

        @include media-up(md) {
            margin-bottom: 0;
            margin-right: 32px;
        }
    }

    &__photo {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;

        &:not(:last-child) {
            margin-right: 14px;
        }

        @include media-up(md) {
            width: 90px;
            height: 90px;
        }

        @include media-up(lg) {
            width: 107px;
            height: 107px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__names {
        @include text-17;
        font-weight: bold;
    }

    &__post {
        font-size: 15px;
        line-height: 18px;

        @include media-up(lg) {
            font-size: 16px;
            line-height: 19px;
        }
    }

    &__text {
        @include text-15;
    }

    &__footer {
        margin-top: 30px;
        text-align: center;
    }
}