.instagram {
    position: relative;
    z-index: 1;
    background: #fff;

    @include media-up(lg) {
        background: $bg-soft;
    }

    &__wrapper {
        padding: 64px 0 103px;

        @include media-up(md) {
            padding: 80px 0 120px;
        }

        @include media-up(lg) {
            padding: 120px 105px 50px;
            background: #fff;
            border-radius: 10px;
        }
    }

    &__header {
        text-align: center;
        margin-bottom: 25px;

        @include media-up(lg) {
            margin-bottom: 40px;
        }
    }

    &__title {
        margin-bottom: 15px;

        span {
            position: relative;
            z-index: 1;
            margin-right: 10px;

            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                left: -5.5%;
                top: 8%;
                width: 111%;
                height: 84%;
                background: $yellow;
                border-radius: 3px;
                transform: rotate(-1.18deg);
            }

            @include media-down(sm) {
                display: block;
                margin: 0 auto 3px;
                width: fit-content;
            }
        }
    }

    &__text {
        @include text-17;
        color: $blue-80;
        max-width: 300px;
        margin: 0 auto;

        @include media-up(md) {
            max-width: unset;
        }
    }

    &__slider {
        position: relative;

        .swiper-wrapper {
            height: calc(100vw - 40px);

            @include media-only(md) {
                height: calc((100vw - 100px) / 3 * 2 + 20px); 
            }

            @include media-only(lg) {
                height: calc((100vw - 310px) / 3 * 2 + 20px); 
            }

            @include media-up(xl) {
                height: 520px;                
            }
        }
    }

    &__slide {
        height: calc((100vw - 50px) / 2);

        @include media-only(md) {
            height: calc((100vw - 100px) / 3);
        }

        @include media-only(lg) {
            height: calc((100vw - 310px) / 3);
        }

        @include media-up(xl) {
            height: 250px;            
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

        &:hover img {
            transform: scale(1.1);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .3s;
        }
    }
}