.author {
    padding: 20px 0 50px;
    background-color: $bg-green;

    @include media-up(md) {
        padding: 15px 0 50px;
    }

    @include media-up(lg) {
        padding: 15px 0 173px;
    }

    &__wrapper {
        @include media-up(md) {
            position: relative;
            display: grid;
            grid-template-columns: 262px 1fr;
            grid-template-areas: 'author-main author-info';
            gap: 30px;
        }

        @include media-up(lg) {
            grid-template-columns: 327px 1fr;
            gap: 40px;            
        }
    }
}