.author-articles {
    padding-top: 50px;

    @include media-up(md) {
        padding-top: 80px;
    }

    @include media-up(lg) {
        padding-top: 100px;
    }

    &__list {
        overflow: hidden;
        transition: height 1s;

        &--hidden {
            height: 616px;

            @include media-up(sm) {
                height: 314px;
            }

            @include media-up(md) {
                height: 818px;
            }

            @media (min-width: 840px) {
                height: 417px;
            }

            @include media-up(xl) {
                height: 367px;
            }
        }
    }

    &__toggler-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 24px;

        @include media-up(md) {
            margin-top: 50px;
        }
    }
}
