.author-articles {
    padding-top: 50px;

    @include media-up(md) {
        padding-top: 80px;
    }

    @include media-up(lg) {
        padding-top: 100px;
    }

    &__toggler-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 24px;

        @include media-up(md) {
            margin-top: 50px;
        }
    }

    &__hidden-list {
        padding-top: 16px;

        @include media-up(md) {
            padding-top: 30px;
        }
    }

    .posts-list {
        @include media-only(md) {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }

        @include media-up(lg) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
    }
}
