.author {
    padding: 20px 0 50px;
    background-color: $bg-green;

    @include media-up(md) {
        padding: 50px 0;
    }

    @include media-up(lg) {
        padding: 50px 0 173px;
    }

    &__wrapper {
        @include media-up(md) {
            position: relative;
            display: grid;
            //grid-template-columns: 262px 1fr;
            grid-template-columns: 262px calc(100% - 292px); // 262px + 30px = 292px
            grid-template-areas: 'author-main author-info';
            gap: 30px;
        }
    }
}