.checkout-info {
    background: #fff;
    margin: 0 -20px;
    padding: 40px 20px 60px;

    & .form__row {
        flex-direction: column;

        @include media-up(sm) {
            flex-direction: row;
        }
    }

    @include media-up(md) {
        margin: 0;
        border-radius: 15px;
        padding: 50px;
    }

    &__section {
        margin-bottom: 30px;

        @include media-up(md) {
            margin-bottom: 40px;
        }
    }

    &__section-title {
        font-size: 17px;
        line-height: 34px;
        margin-bottom: 15px;

        @include media-up(md) {
            font-size: 18px;
            line-height: 34px;
            margin-bottom: 20px;
        }
    }

    &__bottom {
        @include media-up(md) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__terms-text {
        color: $blue-50;
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 30px;

        @include media-up(md) {
            margin-bottom: 0;
        }
    }

    &__terms-link {
        text-decoration: underline;
    }

    &__btn {
        width: 100%;

        @include media-up(md) {
            width: auto;
        }
    }
}
