.checkout-header {
    padding: 0;

    &.nav-small {
        .checkout-header__content {
            padding-left: 20px;
            padding-right: 20px;
            left: 0;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        &::before {
            display: none;
        }
    }

    &__logo {
        margin-left: 0;
    }

    &__title {
        font-size: 19px;
        line-height: 1.3;

        @include media-up(md) {
            font-size: 26px;
            line-height: 34px;
        }

        @include media-up(lg) {
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
        }
    }
}
