<%=_.template(require('../parts/header.html'))({
    title: "Video instruction | Jinnto",
    menu: {}
}) %>

<main class="site-main account-main">
    <div class="container">
        <a href="account-videos.html" class="account-main__back-link">
            <svg width="21" height="16">
                <use href="#full-arrow-left"></use>
            </svg>
            Back to all kits
        </a>
        <div class="account-main__wrapper">
            <%=_.template(require("../parts/account-menu.html"))({
                menu: {videos: 'current'}
            }) %>

            <div class="account-content account-main__content account-tutorial">
                <a href="account-videos.html" class="account-content__link-back">
                    <svg width="21" height="16">
                        <use href="#full-arrow-left"></use>
                    </svg>
                    Back to all kits
                </a>
                <h2 class="account-tutorial__title">
                    Projector Project
                </h2>
                <!--
                    Needed to change href of data-fancy-trigger
                 -->
                <a data-fancy-trigger href="https://www.youtube.com/watch?v=LXb3EKWsInQ&t=22s" class="account-tutorial__video">
                    <img src="img/base/video-instuction-1.jpg" alt="alt" class="account-tutorial__video-img">
                </a>

                <div class="content">
                    <h2>Duis eu amet adipisicing occaecat esse cillum culpa ad.</h2>
                    <p>
                        Nostrud esse veniam exercitation voluptate. Culpa elit officia Lorem magna fugiat. Occaecat tempor proident esse qui dolore fugiat aliqua sunt. Lorem in laboris nisi laborum. <strong>Minim Lorem</strong> irure proident nulla commodo ullamco nostrud deserunt sunt. Esse occaecat et et aliquip magna elit.
                    </p>
                    <p>
                        Occaecat commodo quis incididunt culpa. Occaecat aliquip dolore cillum dolore minim excepteur. Enim et laboris consectetur consequat aliqua adipisicing anim quis qui aute esse officia. Sit ex excepteur Lorem ad cupidatat nostrud. Ea sunt ipsum quis in elit deserunt aute quis incididunt adipisicing ipsum aliquip tempor elit.
                    </p>
                    <div class="slider-1">
                        <div class="slider-1__container swiper-container">
                            <div class="slider-1__wrapper swiper-wrapper">
                                <div class="slider-1__item swiper-slide">
                                    <img class="slider-1__img" src="img/base/video-instuction-2.jpg" alt="">
                                </div>
                                <div class="slider-1__item swiper-slide">
                                    <img class="slider-1__img" src="img/base/video-instuction-1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="slider-1__bottom">
                            <div class="slider-1__nav">
                                <button class="slider-1__button slider-1__button--prev" type="button">
                                    <svg width="22" height="17">
                                        <use href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="slider-1__button slider-1__button--next" type="button">
                                    <svg width="22" height="17">
                                        <use href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                            <p class="slider-1__desc">Description</p>
                        </div>
                    </div><!-- / .slider-1 -->
                    <h2>Duis eu amet adipisicing occaecat esse cillum culpa ad.</h2>
                    <p>
                        Nostrud esse veniam exercitation voluptate. Culpa elit officia Lorem magna fugiat.
                        Occaecat tempor proident esse qui dolore fugiat aliqua sunt. Lorem in laboris nisi
                        laborum. Minim Lorem irure <a href="#"><strong>proident nulla commodo</strong></a>
                        ullamco nostrud deserunt sunt. Esse occaecat et et aliquip magna elit.
                    </p>
                    <ul>
                        <li>Nostrud esse veniam exercitation voluptate.</li>
                        <li>Culpa elit officia Lorem magna fugiat.</li>
                        <li>Occaecat tempor proident esse qui dolore fugiat aliqua sunt.</li>
                    </ul>
                    <img class="img-wide" src="img/base/video-instuction-3.jpg" alt="">
                    <h2>Duis eu amet adipisicing occaecat esse cillum culpa ad.</h2>
                    <p>
                        Nostrud esse veniam exercitation voluptate. Culpa elit officia Lorem magna fugiat. Occaecat tempor proident esse qui dolore fugiat aliqua sunt. Lorem in laboris nisi laborum. <strong>Minim Lorem</strong> irure proident nulla commodo ullamco nostrud deserunt sunt. Esse occaecat et et aliquip magna elit.
                    </p>
                    <p>
                        Occaecat commodo quis incididunt culpa. Occaecat aliquip dolore cillum dolore minim excepteur. Enim et laboris consectetur consequat aliqua adipisicing anim quis qui aute esse officia. Sit ex excepteur Lorem ad cupidatat nostrud. Ea sunt ipsum quis in elit deserunt aute quis incididunt adipisicing ipsum aliquip tempor elit.
                    </p>
                </div>
            </div>
        </div>
    </div>

<%=_.template(require('../parts/footer.html'))() %>
