<%=_.template(require('../parts/header.html'))({
    title: "My orders | Jinnto",
    menu: {}
}) %>

<main class="site-main account-main">
    <div class="container">
        <div class="account-main__wrapper">
            <%=_.template(require("../parts/account-menu.html"))({
                menu: {orders: 'current'}
            }) %>

            <div class="account-main__content account-content">
                <div class="account-info">
                    <h3 class="account-info__title">
                        Orders
                    </h3>
                    <div class="account-orders__order">
                        <div class="account-orders__order-head">
                            <h4 class="account-orders__order-title">
                                12 Month Subscription
                            </h4>
                            <span class="account-orders__order-date">
                                15.03.2020
                            </span>
                        </div>
                        <div class="account-orders__order-prices">
                            <div class="account-orders__order-price account-orders__order-price--full">
                                $135
                            </div>
                            <div class="account-orders__order-price">
                                $125
                            </div>
                        </div>
                        <div class="account-orders__order-status account-orders__order-status--successfull">
                            Successfull
                        </div>
                    </div>
                    <div class="account-orders__order">
                        <div class="account-orders__order-head">
                            <h4 class="account-odrders__order-title">
                                1 Month Subscription
                            </h4>
                            <span class="account-orders__order-date">
                                15.03.2020
                            </span>
                        </div>
                        <div class="account-orders__order-prices">
                            <div class="account-orders__order-price">
                                $125
                            </div>
                        </div>
                        <div class="account-orders__order-status account-orders__order-status--processing">
                            In processing
                        </div>
                    </div>
                    <div class="account-orders__order">
                        <div class="account-orders__order-head">
                            <h4 class="account-odrders__order-title">
                                9 Month Subscription
                            </h4>
                            <span class="account-orders__order-date">
                                15.03.2020
                            </span>
                        </div>
                        <div class="account-orders__order-prices">
                            <div class="account-orders__order-price account-orders__order-price--full">
                                $135
                            </div>
                            <div class="account-orders__order-price">
                                $125
                            </div>
                        </div>
                        <div class="account-orders__order-status account-orders__order-status--canceled">
                            Canceled
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%=_.template(require('../parts/footer.html'))() %>
