<%=_.template(require('../parts/header.html'))({
    title: "My promocode | Jinnto",
    menu: {}
}) %>

<main class="site-main account-main">
    <div class="container">
        <a href="account-welcome.html" class="account-main__back-link">
            <svg width="21" height="16">
                <use href="#full-arrow-left"></use>
            </svg>
            My promocode
        </a>
        <div class="account-main__wrapper">
            <%=_.template(require("../parts/account-menu.html"))({
                menu: {promo: 'current'}
            }) %>

            <div class="account-main__content account-promo">
                <div class="account-info  account-content">
                    <h3 class="account-info__title">
                        My promocode
                    </h3>
                    <p class="account-promo__text">
                        Enter the promo code and get a discount for your next purchase.
                    </p>
                    <div class="account-promo__promo-wrapper">
                        <input name="promocode" type="text" class="account-promo__input" placeholder="Enter promo code">
                        <button class="btn btn--blue account-promo__btn">
                            Apply
                        </button>
                    </div>
                </div>
                <div class="account-content account-promo__recent">
                    <h3 class="account-info__title">
                        Resent promocode
                    </h3>
                    <div class="account-promo__promo">
                        <div class="account-promo__promo-head">
                            <h4 class="account-promo__promocode">
                                GHJJOT5Y
                            </h4>
                            <span class="account-promo__promo-date">
                                15.03.2020
                            </span>
                        </div>
                        <div class="account-promo__promo-name">
                            40% OFF on your first month
                        </div>
                        <div class="account-promo__promo-status account-promo__promo-status--active">
                            Active
                        </div>
                    </div>
                    <div class="account-promo__promo">
                        <div class="account-promo__promo-head">
                            <h4 class="account-promo__promocode">
                                GHJJOT5Y
                            </h4>
                            <span class="account-promo__promo-date">
                                15.03.2020
                            </span>
                        </div>
                        <div class="account-promo__promo-name">
                            40% OFF on your first month
                        </div>
                        <div class="account-promo__promo-status account-promo__promo-status--used">
                            Used
                        </div>
                    </div>
                    <div class="account-promo__promo">
                        <div class="account-promo__promo-head">
                            <h4 class="account-promo__promocode">
                                GHJJOT5Y
                            </h4>
                            <span class="account-promo__promo-date">
                                15.03.2020
                            </span>
                        </div>
                        <div class="account-promo__promo-name">
                            40% OFF on your first month
                        </div>
                        <div class="account-promo__promo-status account-promo__promo-status--used">
                            Used
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%=_.template(require('../parts/footer.html'))() %>
