<%=_.template(require('../parts/header.html'))({
    title: "Our approach | Jinnto",
    menu: {approach: 'current-menu-item'}
}) %>

<main class="site-main">
    <%=_.template(require('../parts/banner.html'))({
        bg_desktop: "approach-banner-desktop.svg",
        bg_mobile: "approach-banner-mobile.svg",
        subtitle: "Explore The World Around",
        subtitle_color: "pink",
        title: "In Jinnt<span>o</span> box, we’ve collected everything a kid needs",
        text: "To make every little inventor a big player with huge opportunities."
    }) %>

    <section class="strives text-img-block">
        <%=_.template(require('../parts/fact-stars.html'))({
            section_class: "strives__fact-star",
            subtitle: "",
            title: "Our vibe",
            title_class: "title-underline title-underline--red",
            text: "Childhood is a time to be brave and curious, and Jinnto strives to be with a kid at every step of it. That’s how we see the idea of our company.",
        }) %>
        <!-- /.fact-star -->

        <img src="img/bg/approach-bg-dot.svg" class="strives__bg-dot">

        <div class="container">
            <div class="text-img-block__wrapper">
                <div class="strives__img-wrapper text-img-block__img-wrapper" data-aos="fade-up">
                    <img src="img/base/strives.jpg" alt="image" class="text-img-block__img">
                </div>
                <div class="text-img-block__content">
                    <h3 class=" title-dot text-img-block__title" data-aos="fade-up" data-aos-delay="100">
                        Jinnto strives to be with a kid at every step
                    </h3>
                    <p class="text-img-block__text" data-aos="fade-up" data-aos-delay="200">
                        Childhood is a time to be brave and curious.
                        As parents ourselves, sometimes we really want to have some free time. When our children are left to themselves, we want them to spend some quality time with something exciting and educational.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /.strives -->

    <section class="strives-2">
        <div class="container">
            <div class="text-img-block__wrapper">
                <div class="strives-2__img-wrapper text-img-block__img-wrapper" data-aos="fade-up" data-aos-delay="200">
                    <img src="img/base/strives-2.jpg" alt="image" class="text-img-block__img">
                </div>
                <div class="strives-2__content text-img-block__content">
                    <h3 class="title-dot text-img-block__title" data-aos="fade-up">
                        We create exciting, reliable, and high-quality toys
                    </h3>
                    <p class="text-img-block__text" data-aos="fade-up" data-aos-delay="100">
                        Our desire led us to Jinnto. Jinnto made us true enthusiasts of our business: prompt, responsible, attentive to details. Because, you know, we have the most demanding clients in the world — children.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /.strives-2 -->

    <section class="our-goal">
        <div class="container">
            <div class="our-goal__content">
                <h4 class="our-goal__title">
                    Our goal is to be more than a toy company
                </h4>
                <p class="our-goal__text">
                    <span>Inspired by our families and the world around us</span>. Jinnto is a source of knowledge, inspiration, and fun for a child. Moreover, it’s a springboard for a child's self-determination and personal growth.
                </p>
            </div>
        </div>
    </section>

    <section class="approach-stages">
        <div class="container">
            <div class="approach-stages__heading">
                <h2 class="approach-stages__title title-underline title-underline--yellow" data-aos="fade-up">
                    Enjoy lovely moments
                </h2>
                <p class="approach-stages__undertitle-text" data-aos="fade-up" data-aos-delay="100">
                    Make the most of playtime with Jinnto! <br>
                    Using a Jinnto box consists of two stages.
                </p>
            </div>
            <div class="approach-stages__content">
                <img src="img/bg/approach-stages-bg.svg" alt="background" class="approach-stages__content-background">
                <div class="approach-stages__stages">
                    <div class="approach-stages__stage">
                        <img src="img/base/hero1.png" alt="human" class="approach-stages__stage-img-1">
                        <div class="approach-stages__stage-content">
                            <h2 class="approach-stages__stage-title">
                                Stage 1. The child creates the toy
                            </h2>
                            <div class="approach-stages__stage-text">
                                <p>
                                    Here they learn, use logic, spatial and creative thinking, exercise basic design skills.
                                </p>
                            </div>
                        </div>
                        <img src="img/base/boy-in-car.png" alt="human" class="approach-stages__stage-img-2" data-aos="fade-left">
                    </div>
                    <div class="approach-stages__stage">
                        <img src="img/base/hero2.png" alt="human" class="approach-stages__stage-img-1">
                        <div class="approach-stages__stage-content">
                            <h2 class="approach-stages__stage-title stage__title">
                                Stage 2. The child plays with the toy
                            </h2>
                            <div class="approach-stages__stage-text">
                                <p>
                                    It's their creation, so it's even more valuable for them.
                                </p>
                            </div>
                        </div>
                        <img src="img/base/boy-in-car.png" alt="human" class="approach-stages__stage-img-2" data-aos="fade-right">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="advantages">
        <img src="img/bg/advantages-mobile.svg" alt="" class="bg-img bg-img--mobile">
        <img src="img/bg/advantages-desktop.svg" alt="" class="bg-img bg-img--desktop">
        <div class="container">
           <div class="advantages__titles">
                <h2 class="advantages__title title-underline title-underline--cyan">
                    Feel Good About Your Purchase
                </h2>
                <p class="advantages__text">
                    Every box is designed by our development team with love and care for kids.
                </p>
           </div>
           <div class="section-advantages">
               <div class="section-advantages__advantage">
                    <div class="section-advantages__icon-wrapper">
                        <img class="section-advantages__icon" src="img/icons/recycling.svg" alt="icon">
                    </div>
                   <h4 class="section-advantages__advantage-title">
                        Safe for children
                   </h4>
                   <p class="section-advantages__advantage-text">
                        All parts are non-toxic and made from environmentally friendly materials.
                   </p>
               </div>
               <div class="section-advantages__advantage">
                   <div class="section-advantages__icon-wrapper">
                       <img class="section-advantages__icon" src="img/icons/gift-box.svg" alt="icon">
                   </div>
                   <h4 class="section-advantages__advantage-title">
                        Topics
                   </h4>
                   <p class="section-advantages__advantage-text">
                        Every month you’ll get the box with a new topic for your child to explore the world and create new skills.
                   </p>
               </div>
               <div class="section-advantages__advantage">
                    <div class="section-advantages__icon-wrapper">
                        <img class="section-advantages__icon" src="img/icons/map.svg" alt="icon">
                    </div>
                   <h4 class="section-advantages__advantage-title">
                        Interactive instructions
                   </h4>
                   <p class="section-advantages__advantage-text">
                        Each kit comes with comics and video instruction for assembling the toy.
                   </p>
               </div>
               <div class="section-advantages__advantage">
                    <div class="section-advantages__icon-wrapper">
                        <img class="section-advantages__icon" src="img/icons/cube.svg" alt="icon">
                    </div>
                   <h4 class="section-advantages__advantage-title">
                        Imagination
                   </h4>
                   <p class="section-advantages__advantage-text">
                        Each set contains unlimited space for creativity and expression of a child’s personality.
                   </p>
               </div>
           </div>
        </div>
    </section>
    <!-- /.advantages -->


    <%=_.template(require('../parts/fact-stars.html'))({
        section_class: "fact-stars--middle",
        subtitle: "What we do",
        title: "We let kids’ imagination run wild!",
        title_class: "",
        text: ""
    }) %>
    <!-- /.fact-star -->

    <%=_.template(require('../parts/ask-form.html'))() %>
    <!-- /.ask-form -->

<%=_.template(require('../parts/footer.html'))() %>
