<%=_.template(require('../parts/header.html'))({
    title: "Author | Jinnto",
    menu: {}
}) %>

<main class="site-main">
    <section class="author">
        <div class="container container--sm">
            <div class="author__wrapper">
                <div class="author__main author-main">
                    <div class="author-main__wrapper">
                        <div class="author-main__avatar">
                            <img class="author-main__avatar-img" src="img/base/article-author.jpg" alt="">
                        </div>
                        <div class="author-main__name">
                            Sandra Lit
                        </div>
                        <div class="author-main__socials">

                        </div>
                    </div>
                </div>
                <div class="author__info author-info">
                    <div class="author-info__wrapper">
                        <h2 class="author-info__title title-underline title-underline--cyan">Profile information</h2>
                        <div class="author-info__text">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        </div>
                        <div class="author-info__details">

                        </div>
                    </div>
                </div>
            </div>

            <section class="author-articles">
                <div class="section__heading">
                    <h2 class="title-underline title-underline--yellow">Author's articles (10)</h2>
                </div>
                
                <ul class="author-articles__posts-list posts-list">
                    <li class="posts-list__item">
                        <a class="post-item post-item--2" href="article.html">
                            <div class="post-item__img-box">
                                <figure class="post-item__figure">
                                    <img class="post-item__img" src="img/base/blog-2.jpg" alt="">
                                </figure>
                            </div>
                            <div class="post-item__body">
                                <p class="post-item__subtitle">DIY ideas</p>
                                <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                            </div>
                        </a><!-- / .post-item -->
                    </li>
                    <li class="posts-list__item">
                        <a class="post-item post-item--2" href="article.html">
                            <div class="post-item__img-box">
                                <figure class="post-item__figure">
                                    <img class="post-item__img" src="img/base/blog-3.jpg" alt="">
                                </figure>
                            </div>
                            <div class="post-item__body">
                                <p class="post-item__subtitle">DIY ideas</p>
                                <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                            </div>
                        </a><!-- / .post-item -->
                    </li>
                    <li class="posts-list__item">
                        <a class="post-item post-item--2" href="article.html">
                            <div class="post-item__img-box">
                                <figure class="post-item__figure">
                                    <img class="post-item__img" src="img/base/blog-4.jpg" alt="">
                                </figure>
                            </div>
                            <div class="post-item__body">
                                <p class="post-item__subtitle">DIY ideas</p>
                                <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                            </div>
                        </a><!-- / .post-item -->
                    </li>
                    <li class="posts-list__item">
                        <a class="post-item post-item--2" href="article.html">
                            <div class="post-item__img-box">
                                <figure class="post-item__figure">
                                    <img class="post-item__img" src="img/base/blog-5.jpg" alt="">
                                </figure>
                            </div>
                            <div class="post-item__body">
                                <p class="post-item__subtitle">DIY ideas</p>
                                <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                            </div>
                        </a><!-- / .post-item -->
                    </li>
                    <!-- <li class="posts-list__item">
                        <a class="post-item post-item--2" href="article.html">
                            <div class="post-item__img-box">
                                <figure class="post-item__figure">
                                    <img class="post-item__img" src="img/base/blog-6.jpg" alt="">
                                </figure>
                            </div>
                            <div class="post-item__body">
                                <p class="post-item__subtitle">DIY ideas</p>
                                <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                            </div>
                        </a>
                    </li>
                    <li class="posts-list__item">
                        <a class="post-item post-item--2" href="article.html">
                            <div class="post-item__img-box">
                                <figure class="post-item__figure">
                                    <img class="post-item__img" src="img/base/blog-7.jpg" alt="">
                                </figure>
                            </div>
                            <div class="post-item__body">
                                <p class="post-item__subtitle">DIY ideas</p>
                                <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                            </div>
                        </a>
                    </li>
                    <li class="posts-list__item">
                        <a class="post-item post-item--2" href="article.html">
                            <div class="post-item__img-box">
                                <figure class="post-item__figure">
                                    <img class="post-item__img" src="img/base/blog-8.jpg" alt="">
                                </figure>
                            </div>
                            <div class="post-item__body">
                                <p class="post-item__subtitle">DIY ideas</p>
                                <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                            </div>
                        </a>
                    </li>
                    <li class="posts-list__item">
                        <a class="post-item post-item--2" href="article.html">
                            <div class="post-item__img-box">
                                <figure class="post-item__figure">
                                    <img class="post-item__img" src="img/base/blog-9.jpg" alt="">
                                </figure>
                            </div>
                            <div class="post-item__body">
                                <p class="post-item__subtitle">DIY ideas</p>
                                <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                            </div>
                        </a>
                    </li>
                    <li class="posts-list__item">
                        <a class="post-item post-item--2" href="article.html">
                            <div class="post-item__img-box">
                                <figure class="post-item__figure">
                                    <img class="post-item__img" src="img/base/blog-10.jpg" alt="">
                                </figure>
                            </div>
                            <div class="post-item__body">
                                <p class="post-item__subtitle">DIY ideas</p>
                                <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                            </div>
                        </a>
                    </li>
                    <li class="posts-list__item">
                        <a class="post-item post-item--2" href="article.html">
                            <div class="post-item__img-box">
                                <figure class="post-item__figure">
                                    <img class="post-item__img" src="img/base/blog-11.jpg" alt="">
                                </figure>
                            </div>
                            <div class="post-item__body">
                                <p class="post-item__subtitle">DIY ideas</p>
                                <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                            </div>
                        </a>
                    </li> -->
                </ul><!-- / .posts-list -->

                <!-- Сделать скрипт по аналогии с faq.js (toggler),
                    на десктоп можно поставить фикс высоту
                    но тут сложнее с ограничением высоты до 4 постов на мобайл, 
                    не успел придумать решения -->
                <div class="author-articles__toggler-wrapper">
                    <button class="author-articles__toggler toggler btn btn--blue">
                        View <span>all</span><span>less</span>
                    </button>
                </div>
            </section>
        </div>
    </section>
</div>

<%=_.template(require("../parts/footer.html"))() %>
