<%=_.template(require('../parts/header.html'))({
    title: "Blog | Jinnto",
    menu: {}
}) %>

<main class="site-main">
    <%=_.template(require('../parts/banner.html'))({
        bg_desktop: "blog-banner-desktop.jpg",
        bg_mobile: "blog-banner-mobile.jpg",
        subtitle: "Explore The World",
        subtitle_color: "cyan",
        title: "Jinnto blog",
        text: ""
    }) %>

    <section class="blog">
        <div class="container container--sm">
            <div class="blog__wrapper">
                <div class="blog-aside">
                    <div class="blog-aside__wrapper">
                        <div class="blog-cats">
                            <h4 class="blog-aside__title title-underline title-underline--yellow">
                                Categories / 78
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="blog-content">
                    <h1>Content</h1>
                </div>
            </div>
        </div>
    </section>
</div>

<%=_.template(require("../parts/footer.html"))() %>