<%=_.template(require('../parts/header.html'))({
    title: "Blog | Jinnto",
    menu: {}
}) %>

<main class="site-main">
    <%=_.template(require('../parts/banner.html'))({
        bg_desktop: "blog-banner-desktop.jpg",
        bg_mobile: "blog-banner-mobile.jpg",
        subtitle: "Explore The World",
        subtitle_color: "cyan",
        title: "Jinnto blog",
        text: ""
    }) %>

    <section class="blog">
        <div class="container container--sm">
            <form class="blog__sort-form sort-form" action="#" method="post">
                <label class="sort-form__label" for="sort-form-field">Sort by:</label>
                <p class="sort-form__field-box">
                    <select class="sort-form__field" id="sort-form-field" name="sort-by">
                        <option>Latest</option>
                        <option>Most popular</option>
                    </select>
                </p>
            </form><!-- / .sort-form -->
            <div class="blog__wrapper">
                <div class="blog__content blog-content">
                    <ul class="blog-content__posts-list posts-list">
                        <li class="posts-list__item posts-list__hero">
                            <a class="post-item-hero" href="article.html">
                                <p class="post-item-hero__label card-label">
                                    <span class="card-label__txt">Highlights</span></p>
                                <!-- / .card-label -->
                                <div class="post-item-hero__body">
                                    <p class="post-item-hero__subtitle">DIY ideas</p>
                                    <h3 class="post-item-hero__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item-hero__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                                <figure class="post-item-hero__bg-box">
                                    <img class="post-item-hero__bg" src="img/base/blog-1.jpg" alt="">
                                </figure>
                            </a><!-- / .post-item-hero -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-2.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-3.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-4.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-5.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-6.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-7.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-8.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item posts-list__fact-stars">
                            <%=_.template(require('../parts/fact-stars.html'))({
                                section_class: "",
                                subtitle: "Best deal",
                                title: "Save 40% on your first month",
                                title_class: "",
                                text: ""
                            }) %>
                            <!-- /.fact-star -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-9.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-10.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-11.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-6.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-7.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-8.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-3.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-4.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                        <li class="posts-list__item">
                            <a class="post-item post-item--2" href="article.html">
                                <div class="post-item__img-box">
                                    <figure class="post-item__figure">
                                        <img class="post-item__img" src="img/base/blog-13.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="post-item__body">
                                    <p class="post-item__subtitle">DIY ideas</p>
                                    <h3 class="post-item__title">At-home resources for kids and parents during Covid-19</h3>
                                    <time class="post-item__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                </div>
                            </a><!-- / .post-item -->
                        </li>
                    </ul><!-- / .posts-list -->
                    <nav class="breadcrumbs">
                        <a href="#" class="breadcrumbs__nav-button">
                            <svg width="21" height="16">
                                <use href="#arrow-left"></use>
                            </svg>
                        </a>
                        <ul class="breadcrumbs__nav-pages">
                            <li class="breadcrumbs__nav-page">
                                <a href="#" class="breadcrumbs__nav-link current">1</a>
                            </li>
                            <li class="breadcrumbs__nav-page">
                                <a href="#" class="breadcrumbs__nav-link">2</a>
                            </li>
                            <li class="breadcrumbs__nav-page">
                                <a href="#" class="breadcrumbs__nav-link">3</a>
                            </li>
                            <li class="breadcrumbs__nav-page">
                                <a href="#" class="breadcrumbs__nav-link">...</a>
                            </li>
                            <li class="breadcrumbs__nav-page">
                                <a href="#" class="breadcrumbs__nav-link">8</a>
                            </li>
                        </ul>
                        <a href="#" class="breadcrumbs__nav-button">
                            <svg width="21" height="16">
                                <use href='#arrow-right'></use>
                            </svg>
                        </a>
                    </nav><!-- / .breadcrumbs -->
                </div><!-- / .blog-content -->
                <aside class="blog__aside blog-aside">
                    <div class="blog-aside__wrapper">
                        <div class="blog-aside__widget widget widget-cats">
                            <h2 class="widget__title title-underline title-underline--yellow">Categories / 78</h2>
                            <ul class="widget-cats__categories categories">
                                <li class="categories__item">
                                    <a class="categories__link" href="#">DIY ideas / 16</a>
                                </li>
                                <li class="categories__item">
                                    <a class="categories__link" href="#">Unlimited creativity / 3</a>
                                </li>
                                <li class="categories__item">
                                    <a class="categories__link" href="#">Powerful science / 51</a>
                                </li>
                                <li class="categories__item">
                                    <a class="categories__link" href="#">Lightning-fast reaction / 7</a>
                                </li>
                                <li class="categories__item">
                                    <a class="categories__link" href="#">Superb engineering / 12</a>
                                </li>
                                <li class="categories__item">
                                    <a class="categories__link" href="#">Brain & hands flawless teamwork / 4</a>
                                </li>
                            </ul><!-- / .categories -->
                        </div><!-- / .widget .widget-cats -->
                        <div class="blog-aside__subscribe-box subscribe-box">
                            <h2 class="subscribe-box__title">Subscribe to the newsletter</h2>
                            <form class="subscribe-box__form form-line" action="#" method="post">
                                <p class="form-line__box">
                                    <label class="visually-hidden" for="subscribe-form-email">Email</label>
                                    <input class="form-line__field" id="subscribe-form-email" type="email" name="email" required placeholder="Email">
                                    <button class="form-line__button btn btn--red" type="submit">Subscribe</button>
                                </p>
                            </form><!-- / .form-line -->
                        </div><!-- / .subscribe-box -->
                        <ul class="blog-aside__social-links social-links">
                            <li class="social-links__item social-links__item--twitter">
                                <a class="social-links__link" href="#">
                                    <span class="social-links__icon">
                                        <svg width="17" height="14" fill="">
                                            <use href="#social-twitter"></use>
                                        </svg>
                                    </span>
                                    <span class="social-links__txt">Twitter</span>
                                </a>
                            </li>
                            <li class="social-links__item social-links__item--youtube">
                                <a class="social-links__link" href="#">
                                    <span class="social-links__icon">
                                        <svg width="18" height="13">
                                            <use href="#social-youtube"></use>
                                        </svg>
                                    </span>
                                    <span class="social-links__txt">Youtube</span>
                                </a>
                            </li>
                            <li class="social-links__item social-links__item--instagram">
                                <a class="social-links__link" href="#">
                                    <span class="social-links__icon">
                                        <svg width="17" height="17">
                                            <use href="#social-instagram"></use>
                                        </svg>
                                    </span>
                                    <span class="social-links__txt">Instagram</span>
                                </a>
                            </li>
                            <li class="social-links__item social-links__item--facebook">
                                <a class="social-links__link" href="#">
                                    <span class="social-links__icon">
                                        <svg width="9" height="17">
                                            <use href="#social-facebook"></use>
                                        </svg>
                                    </span>
                                    <span class="social-links__txt">Facebook</span>
                                </a>
                            </li>
                        </ul><!-- / .social-links -->
                        <div class="blog-aside__widget widget widget-posts">
                            <h2 class="widget__title title-underline title-underline--yellow">Top articles</h2>
                            <ul class="widget-posts__list posts-list-2">
                                <li class="posts-list-2__item">
                                    <a class="post-item-2" href="article.html">
                                        <p class="post-item-2__subtitle">DIY ideas</p>
                                        <h3 class="post-item-2__title">At-home resources for kids and parents during Covid-19</h3>
                                        <time class="post-item-2__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                    </a><!-- / .post-item-2 -->
                                </li>
                                <li class="posts-list-2__item">
                                    <a class="post-item-2" href="article.html">
                                        <p class="post-item-2__subtitle">DIY ideas</p>
                                        <h3 class="post-item-2__title">At-home resources for kids and parents during Covid-19</h3>
                                        <time class="post-item-2__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                    </a><!-- / .post-item-2 -->
                                </li>
                                <li class="posts-list-2__item">
                                    <a class="post-item-2" href="article.html">
                                        <p class="post-item-2__subtitle">DIY ideas</p>
                                        <h3 class="post-item-2__title">At-home resources for kids and parents during Covid-19</h3>
                                        <time class="post-item-2__date" datetime="2021-05-18T18:05:52+03:00">March 15, 2020 by Sandra</time>
                                    </a><!-- / .post-item-2 -->
                                </li>
                            </ul><!-- / .posts-list-2 -->
                        </div><!-- / .widget-posts -->
                    </div>
                </aside>
            </div>
        </div>
        <form class="filter" action="#" method="post">
            <ul class="filter__list">
                <li class="filter__item">
                    <button class="filter__button" type="button">Categories</button>
                    <div class="filter__dropdown filter-dropdown">
                        <div class="filter-dropdown__head">
                            <p class="filter-dropdown__title" id="filter-categories-elem">Categories / 78</p>
                            <button class="filter-dropdown__close" type="button">
                                <svg width="16" height="16">
                                    <use href="#icon-close"></use>
                                </svg>
                            </button>
                        </div>
                        <ul class="filter-dropdown__listbox listbox"
                            tabindex="0"
                            role="listbox"
                            aria-labelledby="filter-categories-elem">
                            <li class="listbox__item" id="filter-diy-ideas" role="option">DIY ideas / 16</li>
                            <li class="listbox__item" id="filter-unlimited-creativity" role="option">Unlimited creativity / 3</li>
                            <li class="listbox__item" id="filter-powerful-science" role="option">Powerful science / 51</li>
                            <li class="listbox__item" id="filter-lightning-fast-reaction" role="option">Lightning-fast reaction / 7</li>
                            <li class="listbox__item" id="filter-superb engineering" role="option">Superb engineering / 12</li>
                            <li class="listbox__item" id="filter-brain-&-hands-flawless-teamwork" role="option">Brain & hands flawless teamwork / 4</li>
                        </ul><!-- / .listbox -->
                    </div><!-- / .filter-dropdown -->
                </li>
                <li class="filter__item">
                    <button class="filter__button" type="button">Sort by</button>
                    <div class="filter__dropdown filter-dropdown">
                        <div class="filter-dropdown__head">
                            <p class="filter-dropdown__title" id="filter-sort-by-elem">Sort by</p>
                            <button class="filter-dropdown__close" type="button">
                                <svg width="16" height="16">
                                    <use href="#icon-close"></use>
                                </svg>
                            </button>
                        </div>
                        <ul class="filter-dropdown__listbox listbox"
                            tabindex="0"
                            role="listbox"
                            aria-labelledby="filter-sort-by-elem">
                            <li class="listbox__item" id="filter-latest" role="option">Latest</li>
                            <li class="listbox__item" id="filter-most-popular" role="option">Most popular</li>
                        </ul><!-- / .listbox -->
                    </div><!-- / .filter-dropdown -->
                </li>
            </ul>
        </form><!-- / .filter -->
    </section>
</div>

<%=_.template(require("../parts/footer.html"))() %>
