<%=_.template(require('../parts/header.html'))({
    title: "FAQ | Jinnto",
    menu: {}
}) %>

<main class="site-main">
    <section class="banner faq-banner">
        <div class="banner__images" data-aos="fade-in">
            <img src="img/bg/faq-banner-mobile.svg" alt="back" class="banner__img banner__img--mobile faq-banner__img--mobile">
            <img src="img/bg/faq-banner-desktop.svg" alt="back" class="banner__img banner__img--desktop">
        </div>
        <div class="container banner__wrapper">
            <h1 class="banner__title" data-aos="fade-up" data-aos-delay="200">
                Freqently asked question
            </h1>
            <div class="banner__search-wrapper">
                <input type="search" placeholder="Search" class="banner__search-input">
            </div>
        </div>
    </section>
    <section class="faq-answers faq">
        <div class="container">
            <div class="faq-answers__content">
                <div class="faq-answers__item">
                    <ul class="faq__list">
                        <li class="faq-answers__header">
                            <div class="faq-answers__header-title">
                                About our Crates
                            </div>
                            <button class="faq-answers__header-button faq-toggler toggler btn">
                                <span>View all</span>
                                <span>Hide all</span>
                            </button>
                        </li>
                        <li class="faq__item faq-item">
                            <div class="faq-item__question">
                                Which set will I receive if I start now instead of starting ?
                            </div>
                            <div class="faq-item__answer">
                                You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                            </div>
                        </li>
                        <li class="faq__item faq-item">
                            <div class="faq-item__question">
                                Which set will I receive if I start now instead of starting ?
                            </div>
                            <div class="faq-item__answer">
                                You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                            </div>
                        </li>
                        <li class="faq__item faq-item">
                            <div class="faq-item__question">
                                Which set will I receive if I start now instead of starting ?
                            </div>
                            <div class="faq-item__answer">
                                You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                            </div>
                        </li>
                        <li class="faq__item faq-item">
                            <div class="faq-item__question">
                                Which set will I receive if I start now instead of starting ?
                            </div>
                            <div class="faq-item__answer">
                                You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                            </div>
                        </li>
                    </ul>
                    <button class="faq-answers__mobile-button faq-toggler toggler">
                        <span>View all</span>
                        <span>Hide all</span>
                    </button>
                </div>
                <div class="faq-answers__item">
                    <ul class="faq__list">
                        <li class="faq-answers__header">
                            <div class="faq-answers__header-title">
                                How Subscriptions Work
                            </div>
                            <button class="faq-answers__header-button faq-toggler toggler btn">
                                <span>View all</span>
                                <span>Hide all</span>
                            </button>
                        </li>
                        <li class="faq__item faq-item">
                            <div class="faq-item__question">
                                Which set will I receive if I start now instead of starting ?
                            </div>
                            <div class="faq-item__answer">
                                You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                            </div>
                        </li>
                        <li class="faq__item faq-item">
                            <div class="faq-item__question">
                                Which set will I receive if I start now instead of starting ?
                            </div>
                            <div class="faq-item__answer">
                                You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                            </div>
                        </li>
                        <li class="faq__item faq-item">
                            <div class="faq-item__question">
                                Which set will I receive if I start now instead of starting ?
                            </div>
                            <div class="faq-item__answer">
                                You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                            </div>
                        </li>
                        <li class="faq__item faq-item">
                            <div class="faq-item__question">
                                Which set will I receive if I start now instead of starting ?
                            </div>
                            <div class="faq-item__answer">
                                You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                            </div>
                        </li>
                    </ul>
                    <button class="faq-answers__mobile-button faq-toggler toggler">
                        <span>View all</span>
                        <span>Hide all</span>
                    </button>
                </div>
                <div class="faq-answers__item">
                    <ul class="faq__list">
                        <li class="faq-answers__header">
                            <div class="faq-answers__header-title">
                                General
                            </div>
                            <button class="faq-answers__header-button faq-toggler toggler btn">
                                <span>View all</span>
                                <span>Hide all</span>
                            </button>
                        </li>
                        <li class="faq__item faq-item">
                            <div class="faq-item__question">
                                Which set will I receive if I start now instead of starting ?
                            </div>
                            <div class="faq-item__answer">
                                You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                            </div>
                        </li>
                        <li class="faq__item faq-item">
                            <div class="faq-item__question">
                                Which set will I receive if I start now instead of starting ?
                            </div>
                            <div class="faq-item__answer">
                                You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                            </div>
                        </li>
                        <li class="faq__item faq-item">
                            <div class="faq-item__question">
                                Which set will I receive if I start now instead of starting ?
                            </div>
                            <div class="faq-item__answer">
                                You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                            </div>
                        </li>
                        <li class="faq__item faq-item">
                            <div class="faq-item__question">
                                Which set will I receive if I start now instead of starting ?
                            </div>
                            <div class="faq-item__answer">
                                You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                            </div>
                        </li>
                    </ul>
                    <button class="faq-answers__mobile-button faq-toggler toggler">
                        <span>View all</span>
                        <span>Hide all</span>
                    </button>
                </div>
            </div>
            <nav class="pagination faq-answers__pagination">
                <a href="#" class="pagination__nav-button">
                    <svg width="21" height="16">
                        <use href="#arrow-left"></use>
                    </svg>
                </a>
                <ul class="pagination__nav-pages">
                    <li class="pagination__nav-page">
                        <a href="#" class="pagination__nav-link current">1</a>
                    </li>
                    <li class="pagination__nav-page">
                        <a href="#" class="pagination__nav-link">2</a>
                    </li>
                    <li class="pagination__nav-page">
                        <a href="#" class="pagination__nav-link">3</a>
                    </li>
                    <li class="pagination__nav-page">
                        <a href="#" class="pagination__nav-link">...</a>
                    </li>
                    <li class="pagination__nav-page">
                        <a href="#" class="pagination__nav-link">8</a>
                    </li>
                </ul>
                <a href="#" class="pagination__nav-button">
                    <svg width="21" height="16">
                        <use href='#arrow-right'></use>
                    </svg>
                </a>
            </nav>
        </div>
    </section>

<%=_.template(require('../parts/footer.html'))() %>
