<%=_.template(require('../parts/header.html'))({
    title: "Jinnto",
    menu: {gift: 'current-menu-item'}
}) %>

<main class="site-main">
    <section class="banner">
        <img src="img/base/gift-banner-bg--mob.jpg" alt="back" class="banner__img banner__img--mobile">
        <img src="img/base/gift-banner-bg.jpg" alt="back" class="banner__img banner__img--desktop">
        <div class="container banner__wrapper">
            <h1 class="banner__title">
                Give the gift of playtime <br>
                with Jinnto
            </h1>
            <div class="banner__switch-panel">
                <button type="button" class="banner__switch-button btn banner__switch-button--active">
                    Gift box
                </button>
                <button type="button" class="banner__switch-button btn banner__switch-button--active">
                    Gift subscriptions
                </button>
            </div>
        </div>
    </section>
    <!-- /.banner -->

    <section class="gift-how">
        <img src="img/bg/gift-how-mobile.svg" class="bg-img bg-img--mobile gift-how__bg-img--mobile">
        <div class="container gift-how__container">
            <img src="img/bg/gift-how-desktop.svg" class="bg-img gift-how__bg-img--desktop bg-img--desktop">
            <div class="gift-how__heading">
                <h2 class="gift-how__title title-with-underline title-with-underline--yellow">
                    How it works
                </h2>
            </div>
            <div class="gift-how__content">
                <div class="gift-how__item">
                    <div class="gift-how__item-img-wrapper">
                        <img src="img/base/gift-how-1.png" alt="image" class="gift-how__item-img">
                    </div>
                    <h2 class="gift-how__item-title">
                        Step 1
                    </h2>
                    <p class="gift-how__item-text">
                        Choose a gift box
                    </p>
                </div>
                <div class="gift-how__item">
                    <div class="gift-how__item-img-wrapper">
                        <img src="img/base/gift-how-2.png" alt="image" class="gift-how__item-img">
                    </div>
                    <h2 class="gift-how__item-title">
                        Step 2
                    </h2>
                    <p class="gift-how__item-text">
                        Fill in the contact
                        information
                    </p>
                </div>
                <div class="gift-how__item">
                    <div class="gift-how__item-img-wrapper">
                        <img src="img/base/gift-how-3.png" alt="image" class="gift-how__item-img">
                    </div>
                    <h2 class="gift-how__item-title">
                        Step 3
                    </h2>
                    <p class="gift-how__item-text">
                        Get ready to give the gift of
                        unforgettable emotions!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /.gift-how -->

    <section class="gift-choose">
        <div class="gift-choose__star-block">
            <img src="img/bg/stars-bg-mobile.svg" class="bg-img bg-img--mobile gift-choose__bg-img--mobile">
            <img src="img/bg/default-stars-desktop.svg" class="bg-img bg-img--desktop gift-choose__bg-img--desktop">
        </div>
        <div class="container">
            <div class="gift-choose__heading">
                <h2 class="gift-choose__title title-with-underline title-with-underline--cyan">
                    How it works
                </h2>
            </div>
            <div class="gift-choose__content">
                <a href="#" class="gift-choose__item">
                    <img src="img/base/choose-box-1.jpg" class="gift-choose__item-img">
                    <h4 class="gift-choose__item-title">
                        Skydiver Project
                    </h4>
                </a>
                <a href="#" class="gift-choose__item">
                    <img src="img/base/choose-box-1.jpg" class="gift-choose__item-img">
                    <h4 class="gift-choose__item-title">
                        Projector Project
                    </h4>
                </a>
                <a href="#" class="gift-choose__item">
                    <img src="img/base/choose-box-3.jpg" class="gift-choose__item-img">
                    <h4 class="gift-choose__item-title">
                        Gears
                    </h4>
                </a>
                <a href="#" class="gift-choose__item">
                    <img src="img/base/choose-box-4.jpg" class="gift-choose__item-img">
                    <h4 class="gift-choose__item-title">
                        Solar System
                    </h4>
                </a>
            </div>
        </div>
    </section>

    <%=_.template(require('../parts/faq.html'))() %>
    <!-- /.faq -->

    <section class="ask-form gift-ask-form">
        <div class="container">
            <div class="ask-form__wrapper">
                <div class="ask-form__images">
                    <img src="img/base/hero1.png" alt="image" class="ask-form__img ask-form__img--left">
                    <img src="img/base/hero2.png" alt="image" class="ask-form__img ask-form__img--right">
                </div>
                <div class="ask-form__content">
                    <div class="ask-form__title-wrapper">
                        <h2 class="ask-form__title title-dot">
                            Feel free to ask <br>
                            any questions you have:)
                        </h2>
                    </div>
                    <form class="ask-form__form">
                        <input class="ask-form__input ask-form__input--name" type="text" placeholder="Name">
                        <input class="ask-form__input ask-form__input--contact" type="text" placeholder="Phone or email">
                        <textarea placeholder="Question" class="ask-form__input ask-form__input--message"></textarea>
                        <div class="ask-form__btn-wrapper">
                            <button type="submit" class="ask-form__btn btn btn--red">
                                Sent
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- /.ask-form -->
</main>

<%=_.template(require('../parts/footer.html'))() %>
