<%=_.template(require('../parts/header.html'))({
    title: "Make a gift | Jinnto",
    menu: {gift: 'current-menu-item'}
}) %>

<main class="site-main">
    <section class="banner">
        <div class="banner__images" data-aos="fade-in">
            <img src="img/base/gift-banner-bg--mob.jpg" alt="back" class="banner__img banner__img--mobile">
            <img src="img/base/gift-banner-bg.jpg" alt="back" class="banner__img banner__img--desktop">
        </div>
        <div class="container banner__wrapper">
            <h1 class="banner__title" data-aos="fade-up" data-aos-delay="100">
                Give the gift of playtime <br>
                with Jinnto
            </h1>
            <button type="button" class="banner__switch-panel" data-aos="fade-up" data-aos-delay="200">
                <span class="banner__switch-panel-text">
                    Gift box
                </span>
                <span class="banner__switch-panel-text">
                    Gift subscriptions
                </span>
            </button>
        </div>
    </section>
    <!-- /.banner -->

    <div class="gift-content">
        <!-- box-content -->
        <div class="gift-content__box-content">
            <section class="gift-how">
                <img src="img/bg/gift-how-mobile.svg" class="bg-img bg-img--mobile gift-how__bg-img--mobile">
                <div class="container gift-how__container">
                    <img src="img/bg/gift-how-desktop.svg" class="bg-img gift-how__bg-img--desktop bg-img--desktop">
                    <div class="gift-how__heading">
                        <h2 class="gift-how__title title-underline title-underline--yellow">
                            How it works
                        </h2>
                    </div>
                    <div class="gift-how__content">
                        <div class="gift-how__item" data-aos="fade-up" data-aos-delay="100">
                            <div class="gift-how__item-img-wrapper">
                                <img src="img/base/gift-how-1.png" alt="image" class="gift-how__item-img">
                            </div>
                            <h2 class="gift-how__item-title">
                                Step 1
                            </h2>
                            <p class="gift-how__item-text">
                                Choose a gift box
                            </p>
                        </div>
                        <div class="gift-how__item" data-aos="fade-up" data-aos-delay="200">
                            <div class="gift-how__item-img-wrapper">
                                <img src="img/base/gift-how-2.png" alt="image" class="gift-how__item-img">
                            </div>
                            <h2 class="gift-how__item-title">
                                Step 2
                            </h2>
                            <p class="gift-how__item-text">
                                Fill in the contact
                                information
                            </p>
                        </div>
                        <div class="gift-how__item" data-aos="fade-up" data-aos-delay="300">
                            <div class="gift-how__item-img-wrapper">
                                <img src="img/base/gift-how-3.png" alt="image" class="gift-how__item-img">
                            </div>
                            <h2 class="gift-how__item-title">
                                Step 3
                            </h2>
                            <p class="gift-how__item-text">
                                Get ready to give the gift of
                                unforgettable emotions!
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="gift-choose">
                <div class="gift-choose__star-block">
                    <img src="img/bg/stars-bg-mobile.svg" class="bg-img bg-img--mobile gift-choose__bg-img--mobile">
                    <img src="img/bg/default-stars-desktop.svg" class="bg-img bg-img--desktop gift-choose__bg-img--desktop">
                </div>
                <div class="container" data-aos="fade-up">
                    <div class="gift-choose__heading">
                        <h2 class="gift-choose__title title-underline title-underline--cyan">
                            Choose the perfect box
                        </h2>
                    </div>
                    <div class="gift-choose__box-content">
                        <a href="#" class="gift-choose__box-item">
                            <img src="img/base/choose-box-1.jpg" class="gift-choose__box-item-img">
                            <h4 class="gift-choose__box-item-title">
                                Skydiver Project
                            </h4>
                        </a>
                        <a href="#" class="gift-choose__box-item">
                            <img src="img/base/choose-box-1.jpg" class="gift-choose__box-item-img">
                            <h4 class="gift-choose__box-item-title">
                                Projector Project
                            </h4>
                        </a>
                        <a href="#" class="gift-choose__box-item">
                            <img src="img/base/choose-box-3.jpg" class="gift-choose__box-item-img">
                            <h4 class="gift-choose__box-item-title">
                                Gears
                            </h4>
                        </a>
                        <a href="#" class="gift-choose__box-item">
                            <img src="img/base/choose-box-4.jpg" class="gift-choose__box-item-img">
                            <h4 class="gift-choose__box-item-title">
                                Solar System
                            </h4>
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <!-- /box-content -->
        <!-- sub-content -->
        <div class="gift-content__sub-content">
            <section class="gift-how">
                <img src="img/bg/gift-how-mobile.svg" class="bg-img bg-img--mobile gift-how__bg-img--mobile">
                <div class="container gift-how__container">
                    <img src="img/bg/gift-how-desktop.svg" class="bg-img gift-how__bg-img--desktop bg-img--desktop">
                    <div class="gift-how__heading">
                        <h2 class="gift-how__title title-underline title-underline--yellow">
                            How it works
                        </h2>
                    </div>
                    <div class="gift-how__content">
                        <div class="gift-how__item" data-aos="fade-up" data-aos-delay="100">
                            <div class="gift-how__item-img-wrapper">
                                <img src="img/base/gift-how-1.png" alt="image" class="gift-how__item-img">
                            </div>
                            <h2 class="gift-how__item-title">
                                Step 1
                            </h2>
                            <p class="gift-how__item-text">
                                Choose a gift box
                            </p>
                        </div>
                        <div class="gift-how__item" data-aos="fade-up" data-aos-delay="200">
                            <div class="gift-how__item-img-wrapper">
                                <img src="img/base/gift-how-2.png" alt="image" class="gift-how__item-img">
                            </div>
                            <h2 class="gift-how__item-title">
                                Step 2
                            </h2>
                            <p class="gift-how__item-text">
                                Fill in the contact
                                information
                            </p>
                        </div>
                        <div class="gift-how__item" data-aos="fade-up" data-aos-delay="300">
                            <div class="gift-how__item-img-wrapper">
                                <img src="img/base/gift-how-3.png" alt="image" class="gift-how__item-img">
                            </div>
                            <h2 class="gift-how__item-title">
                                Step 3
                            </h2>
                            <p class="gift-how__item-text">
                                Get ready to give the gift of
                                unforgettable emotions!
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="gift-choose gift-choose--sub">
                <div class="gift-choose__star-block gift-choose__star-block--sub">
                    <img src="img/bg/gift-sub-stars-bg.svg" class="bg-img bg-img--mobile gift-choose__sub-bg-img">
                    <img src="img/bg/default-stars-desktop.svg" class="bg-img bg-img--desktop gift-choose__bg-img--desktop">
                </div>
                <div class="container" data-aos="fade-up">
                    <div class="gift-choose__heading">
                        <h2 class="gift-choose__title--sub title-underline">
                            Choose the perfect subscription
                        </h2>
                        <p class="gift-choose__text">
                            Gift subscriptions (3, 6 or 12-month terms)
                        </p>
                    </div>
                    <div class="gift-choose__sub-content">
                        <div class="gift-choose__sub-item">
                            <div class="gift-choose__sub-info">
                                <div class="gift-choose__sub-info-section">
                                    <h2 class="gift-choose__sub-price">
                                        $24.99
                                    </h2>
                                    <span class="gift-choose__sub-text">
                                        per month
                                    </span>
                                </div>
                                <div class="gift-choose__sub-info-section">
                                    <div class="gift-choose__sub-period">
                                        1-month
                                    </div>
                                    <span class="gift-choose__sub-text">
                                        adventure
                                    </span>
                                </div>
                            </div>
                            <div class="gift-choose__sub-offer">
                                <div class="gift-choose__sub-cost">
                                    $24.99
                                </div>
                                <button class="btn gift-choose__btn">
                                    Select
                                </button>
                            </div>
                        </div>
                        <div class="gift-choose__sub-item">
                            <div class="gift-choose__sub-info">
                                <div class="gift-choose__sub-info-section">
                                    <h2 class="gift-choose__sub-price">
                                        $23.60
                                    </h2>
                                    <span class="gift-choose__sub-text">
                                        per month
                                    </span>
                                </div>
                                <div class="gift-choose__sub-info-section">
                                    <div class="gift-choose__sub-period">
                                        3-month
                                    </div>
                                    <span class="gift-choose__sub-text">
                                        adventure
                                    </span>
                                </div>
                                <p class="gift-choose__sub-savings">
                                    Save $15
                                </p>
                            </div>
                            <div class="gift-choose__sub-offer">
                                <div class="gift-choose__sub-cost">
                                    $71.20
                                </div>
                                <button class="btn gift-choose__btn">
                                    Select
                                </button>
                            </div>
                        </div>
                        <div class="gift-choose__sub-item">
                            <div class="gift-choose__sub-info">
                                <div class="gift-choose__sub-info-section">
                                    <h2 class="gift-choose__sub-price">
                                        $22.50
                                    </h2>
                                    <span class="gift-choose__sub-text">
                                        per month
                                    </span>
                                </div>
                                <div class="gift-choose__sub-info-section">
                                    <div class="gift-choose__sub-period">
                                        6-month
                                    </div>
                                    <span class="gift-choose__sub-text">
                                        adventure
                                    </span>
                                </div>
                                <p class="gift-choose__sub-savings">
                                    Save $30
                                </p>
                            </div>
                            <div class="gift-choose__sub-offer">
                                <div class="gift-choose__sub-cost">
                                    $135.00
                                </div>
                                <button class="btn gift-choose__btn">
                                    Select
                                </button>
                            </div>
                        </div>
                        <div class="gift-choose__sub-item">
                            <div class="gift-choose__sub-info">
                                <div class="gift-choose__sub-info-section">
                                    <h2 class="gift-choose__sub-price">
                                        $21.25
                                    </h2>
                                    <span class="gift-choose__sub-text">
                                        per month
                                    </span>
                                </div>
                                <div class="gift-choose__sub-info-section">
                                    <div class="gift-choose__sub-period">
                                        12-month
                                    </div>
                                    <span class="gift-choose__sub-text">
                                        adventure
                                    </span>
                                </div>
                                <p class="gift-choose__sub-savings">
                                    Save $15
                                </p>
                            </div>
                            <div class="gift-choose__sub-offer">
                                <div class="gift-choose__sub-cost">
                                    $255.00
                                </div>
                                <button class="btn gift-choose__btn">
                                    Select
                                </button>
                            </div>
                        </div>
                        <div class="gift-choose__sub-item">
                            <div class="gift-choose__sub-info">
                                <div class="gift-choose__sub-info-section">
                                    <h2 class="gift-choose__sub-price">
                                        $39.00
                                    </h2>
                                    <span class="gift-choose__sub-text">
                                        per month
                                    </span>
                                </div>
                                <div class="gift-choose__sub-info-section">
                                    <div class="gift-choose__sub-period">
                                        1
                                    </div>
                                    <span class="gift-choose__sub-text">
                                        Gift Box
                                    </span>
                                </div>
                            </div>
                            <div class="gift-choose__sub-offer">
                                <div class="gift-choose__sub-cost">
                                    $39
                                </div>
                                <button class="btn gift-choose__btn">
                                    Select
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- /sub-content -->
    </div>

    <section class="faq">
        <div class="container">
            <div class="faq__wrapper">
                <div class="faq__header">
                    <h2 class="faq__title title-dot">
                        Still have questions?
                    </h2>
                    <p class="faq__text">
                        Find answers below or contact us to ask more about Jinnto STEM subscription for kids
                    </p>
                </div>
                <ul class="faq__list">
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- /.faq -->

    <section class="ask-form gift-ask-form">
        <div class="container">
            <div class="ask-form__wrapper">
                <div class="ask-form__images">
                    <img src="img/base/hero1.png" alt="image" class="ask-form__img ask-form__img--left">
                    <img src="img/base/hero2.png" alt="image" class="ask-form__img ask-form__img--right">
                </div>
                <div class="ask-form__content">
                    <div class="ask-form__title-wrapper">
                        <h2 class="ask-form__title title-dot">
                            Feel free to ask <br>
                            any questions you have:)
                        </h2>
                    </div>
                    <form class="ask-form__form">
                        <input class="ask-form__input ask-form__input--name" type="text" placeholder="Name">
                        <input class="ask-form__input ask-form__input--contact" type="text" placeholder="Phone or email">
                        <textarea placeholder="Question" class="ask-form__input ask-form__input--message"></textarea>
                        <div class="ask-form__btn-wrapper">
                            <button type="submit" class="ask-form__btn btn btn--red">
                                Sent
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- /.ask-form -->
</main>

<%=_.template(require('../parts/footer.html'))() %>
