<%=_.template(require('../parts/header.html'))({
    title: "Jinnto",
    menu: {}
}) %>

<main class="site-main">
    <section class="main-offer">
        <div class="main-offer__bg" data-aos="fade-right" data-aos-delay="700" data-aos-duration="1000">
            <img src="img/base/main-offer.jpg" alt="">
        </div>
        <div class="main-offer__content">
            <h1 class="main-offer__title" data-aos="fade-right" data-aos-delay="600">
                Reveal kids’<br> superp<span>o</span>wers
            </h1>
            <div class="main-offer__text" data-aos="fade-up" data-aos-delay="700" data-aos-duration="500">
                Science games. Monthly delivered
            </div>
            <div class="main-offer__footer" data-aos="fade-up" data-aos-delay="800">
                <a href="#" class="main-offer__btn btn btn--red">
                    Start the fun
                </a>
            </div>
        </div>
    </section><!-- /.main-offer -->

    <section class="about-us">
        <div class="about-us__content container">
            <div class="about-us__main">
                <h2 class="about-us__title title-dot" data-aos="fade-up">
                    What’s Jinnto?
                </h2>
                <div class="about-us__text" data-aos="fade-up" data-aos-delay="100">
                    <p>Jinnto – is a STEM construction kit, which sparks a child's interest in studying mechanics, physics, mathematics and other sciences. And all of that happens during a game! A child assembles a kit into an educational toy and enjoys playing and learning at once.</p>
                </div>
            </div>
            <div class="about-us__aside" data-aos="fade-up" data-aos-delay="200">
                <div class="video">
                    <a href="#" class="video__link">
                        <div class="video__bg">
                            <img src="img/base/about-video.jpg" alt="" loading="lazy">
                        </div>
                        <div class="video__btn">
                            <svg width='38' height='38'>
                                <use xlink:href='#play-btn'></use>
                            </svg>
                        </div>
                    </a>
                    <div class="circles">
                        <div class="circle circle--cyan"></div>
                        <div class="circle circle--yellow"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us__footer" data-aos="fade-up" data-aos-delay="200">
            <a href="#" class="about-us__hint">
                Watch video
            </a>
        </div>
    </section><!-- /.about-us -->

    <%=_.template(require('../parts/fact-star.html'))({
        subtitle: "What’s inside?",
        title: "Everything to think outside the box",
    }) %>
    <!-- /.fact-star -->

    <section class="box-section">
        <h2 class="visually-hidden">Box</h2>
        <div class="box-section__content container">
            <div class="box-section__img">
                <img src="img/base/box.png" alt="">
            </div>
            <p class="box-section__text">
                One box — one comprehensive game that activates six innate superpowers of 5-10 year-olds. But how do kids know what to do first? Emma and David will help them!
            </p>
        </div>
    </section><!-- /.box-section -->

    <section class="heroes">
        <h2 class="visually-hidden">Heroes</h2>
        <div class="heroes__content container">
            <div class="heroes__main">
                <div class="heroes__text" data-aos="fade-right">
                    <p>Hello! That’s we who invented the Jinnto box! And we know how to amaze every kid with science!</p>
                    <p>We see you can’t wait to take a look inside, so let’s open the box! </p>
                </div>
            </div>
            <div class="heroes__images" data-aos="fade-up">
                <div class="heroes__scene parallax">
                    <div class="heroes__image" data-depth="-0.25">
                        <img src="img/base/hero1.png" alt="">
                    </div>
                    <div class="heroes__image" data-depth="0.25">
                        <img src="img/base/hero2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="heroes__icons">
            <div class="heroes__icon"></div>
            <div class="heroes__icon"></div>
            <div class="heroes__icon"></div>
            <div class="heroes__icon"></div>
        </div>
    </section><!-- /.heroes -->

    <section class="stages">
        <div class="stage">
            <div class="stage__box">
                <div class="stage__content">
                    <h2 class="stage__title">
                        Stage 1: Meet the Jinnto
                    </h2>
                    <div class="stage__text">
                        <p>Every box contains variety of exciting details and comics that will help your child create a toy. Once kids start playing, they set their six superpowers free. </p>
                        <p>Comics provide detailed and clear instructions to any invention in the box. Following that, your kid will dive into the fascinating process of inventing! Isn’t it cool?</p>
                    </div>
                </div>
                <div class="stage__hero">
                    <img src="img/base/hero1.png" alt="">
                </div>
                <div class="stage__icons">
                    <div class="stage__icon"></div>
                    <div class="stage__icon"></div>
                </div>
            </div>
            <div class="stage__main">
                <div class="stage__features">
                    <div class="feature feature--cyan">
                        <div class="feature__content">
                            <div class="feature__icon">
                                <img src="img/icons/feature-hands.svg" alt="">
                            </div>
                            <div class="feature__text">
                                Brain & hands flawless teamwork
                            </div>
                        </div>
                    </div>
                    <div class="feature feature--pink">
                        <div class="feature__content">
                            <div class="feature__icon">
                                <img src="img/icons/feature-robot.svg" alt="">
                            </div>
                            <div class="feature__text">
                                Superb engineering skills
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stage__img">
                    <img src="img/base/boy-in-car.png" alt="">
                </div>
            </div>
            <div class="stage__footer">
                <div class="container">
                    <div class="stage__fact fact">
                        <h4 class="fact__title">
                            Did you now?
                        </h4>
                        <p class="fact__text">
                            Such amazing things as snowmobile, trampoline or the Braille language were <span>invented by kids!</span>
                        </p>
                    </div>
                </div>
                <div class="stage__line stage__line--mobile">
                    <svg width="216" height="367" viewBox="0 0 216 367" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M176.956 1C201.259 9.69048 225.894 49.9504 209.914 90.3878C189.94 140.934 -68.7317 170.73 19.1567 366" stroke="#2A3B5E" stroke-opacity="0.5" stroke-dasharray="3 9"/>
                    </svg>
                </div>
                <div class="stage__line stage__line--desktop">
                    <svg width="817" height="507" viewBox="0 0 817 507" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.4378 12C-16.3745 184.863 120.302 466.066 317 384C369.5 362.096 883.5 71.5 794.5 495" stroke="#2A3B5E" stroke-opacity="0.5" stroke-linecap="round" stroke-dasharray="3 9"/>
                        <circle r="11" cy="0" cx="0" style="fill: #FF6860"/>
                    </svg>
                </div>
            </div>
        </div><!-- /.stage -->

        <div class="stage">
            <div class="stage__box">
                <div class="stage__content">
                    <h2 class="stage__title">
                        Stage 2: Spark imagination
                    </h2>
                    <div class="stage__text">
                        <p>Every invention is unique! Yeah, Jinnto gives instructions, but kids’ superpowerful creativity is what really matters!</p>
                        <p>During the process, your child enriches the toy with their vision and develops some new superpowers as creative thinking, idea generation, self-reliance and more!</p>
                    </div>
                </div>
                <div class="stage__hero">
                    <img src="img/base/hero2.png" alt="">
                </div>
                <div class="stage__icons">
                    <div class="stage__icon"></div>
                    <div class="stage__icon"></div>
                </div>
            </div>
            <div class="stage__main">
                <div class="stage__features">
                    <div class="feature feature--green">
                        <div class="feature__content">
                            <div class="feature__icon">
                                <img src="img/icons/feature-infinity.svg" alt="">
                            </div>
                            <div class="feature__text">
                                Unlimited creativity
                            </div>
                        </div>
                    </div>
                    <div class="feature feature--red">
                        <div class="feature__content">
                            <div class="feature__icon">
                                <img src="img/icons/feature-logic.svg" alt="">
                            </div>
                            <div class="feature__text">
                                Logic
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stage__img">
                    <img src="img/base/boy-in-car.png" alt="">
                </div>
            </div>
            <div class="stage__footer">
                <div class="container">
                    <div class="stage__fact fact">
                        <h4 class="fact__title">
                            Did you now?
                        </h4>
                        <p class="fact__text">
                            <span>Creative thinking and open-mindedness</span> are the most valuable soft skills for a prominent career. And they develop much better in early childhood.
                        </p>
                    </div>
                </div>
                <div class="stage__line stage__line--mobile">
                    <svg width="211" height="464" viewBox="0 0 211 464" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M178.956 1C203.259 12 222.606 69.6137 199.5 118C157 207 -66.7318 215.837 21.1566 463" stroke="#2A3B5E" stroke-opacity="0.5" stroke-dasharray="3 9"/>
                    </svg>
                </div>
                <div class="stage__line stage__line--desktop">
                    <svg width="806" height="577" viewBox="0 0 806 577" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M789.025 11C821.827 209.631 698.892 539.322 488.561 438.453C436.078 413.284 -0.10791 -3 11.2167 566" stroke="#2A3B5E" stroke-opacity="0.5" stroke-linecap="round" stroke-dasharray="3 9"/>
                        <circle r="11" cy="0" cx="0" style="fill: #FF6860"/>
                    </svg>
                </div>
            </div>
        </div><!-- /.stage -->

        <div class="stage">
            <div class="stage__box">
                <div class="stage__content">
                    <h2 class="stage__title">
                        Stage 3: Enjoy the game
                    </h2>
                    <div class="stage__text">
                        <p>Now your kid has a new favorite toy! The game is going to be so captivating and educating that they won’t be able to quit! You’ll see!</p>
                    </div>
                </div>
                <div class="stage__hero">
                    <img src="img/base/hero1.png" alt="">
                </div>
                <div class="stage__icons">
                    <div class="stage__icon"></div>
                    <div class="stage__icon"></div>
                </div>
            </div>
            <div class="stage__main">
                <div class="stage__features">
                    <div class="feature feature--purple">
                        <div class="feature__content">
                            <div class="feature__icon">
                                <img src="img/icons/feature-imagine.svg" alt="">
                            </div>
                            <div class="feature__text">
                                Imagination
                            </div>
                        </div>
                    </div>
                    <div class="feature feature--orange">
                        <div class="feature__content">
                            <div class="feature__icon">
                                <img src="img/icons/feature-science.svg" alt="">
                            </div>
                            <div class="feature__text">
                                Powerful science skills
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stage__img">
                    <img src="img/base/boy-in-car.png" alt="">
                </div>
            </div>
        </div><!-- /.stage -->
    </section><!-- /.stages -->

    <section class="powers">
        <div class="powers__header" data-aos="fade-up">
            <div class="container">
                <h4 class="powers__subtitle">
                    Why they matter?
                </h4>
                <h2 class="powers__title">
                    Set of Superpowers
                </h2>
                <p class="powers__text">
                    Every superpower of a kid is a start for their future personality. You never know which skill will influence your child the most and will evolve into noticeable achievements in the future.
                </p>
            </div>
        </div>
        <div class="powers__main">
            <div class="powers__list" data-aos="zoom-in" data-aos-delay="300">
                <div class="powers__item feature feature--cyan">
                    <div class="feature__content">
                        <div class="feature__icon">
                            <img src="img/icons/feature-hands.svg" alt="">
                        </div>
                        <div class="feature__text">
                            Brain & hands flawless teamwork
                        </div>
                    </div>
                </div>
                <div class="powers__item feature feature--pink">
                    <div class="feature__content">
                        <div class="feature__icon">
                            <img src="img/icons/feature-robot.svg" alt="">
                        </div>
                        <div class="feature__text">
                            Superb engineering skills
                        </div>
                    </div>
                </div>
                <div class="powers__item feature feature--green">
                    <div class="feature__content">
                        <div class="feature__icon">
                            <img src="img/icons/feature-infinity.svg" alt="">
                        </div>
                        <div class="feature__text">
                            Unlimited creativity
                        </div>
                    </div>
                </div>
                <div class="powers__item feature feature--red">
                    <div class="feature__content">
                        <div class="feature__icon">
                            <img src="img/icons/feature-logic.svg" alt="">
                        </div>
                        <div class="feature__text">
                            Logic
                        </div>
                    </div>
                </div>
                <div class="powers__item feature feature--purple">
                    <div class="feature__content">
                        <div class="feature__icon">
                            <img src="img/icons/feature-imagine.svg" alt="">
                        </div>
                        <div class="feature__text">
                            Imagination
                        </div>
                    </div>
                </div>
                <div class="powers__item feature feature--orange">
                    <div class="feature__content">
                        <div class="feature__icon">
                            <img src="img/icons/feature-science.svg" alt="">
                        </div>
                        <div class="feature__text">
                            Powerful science skills
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.powers -->

    <section class="subscribe">
        <div class="subscribe__content">
            <div class="subscribe__main">
                <h2 class="subscribe__title title-dot title-dot--out">
                    Pick your subscription
                </h2>
                <p class="subscribe__text">
                    One month — one unique box that reveals kids’ superpowers
                </p>
                <div class="subscribe__btn btn btn--red">
                    Choose subscribtion
                </div>
            </div>
            <div class="subscribe__img" data-aos="fade-up">
                <img src="img/base/boy-with-plane.png" alt="">
            </div>
        </div>
    </section><!-- /.subscribe -->

    <section class="instagram">
        <div class="container">
            <div class="instagram__wrapper">
                <div class="instagram__header">
                    <h2 class="instagram__title">
                        <span>#jinnto</span>Community on Instagram
                    </h2>
                    <p class="instagram__text">
                        Check out founders for Jinnto box and use hashtag #jinnto to find more
                    </p>
                </div>
                <div class="instagram__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-3.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-4.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-5.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-6.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-7.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-8.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-3.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-4.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-5.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-6.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-7.jpg" alt="">
                                </a>
                            </div>
                            <div class="instagram__slide swiper-slide">
                                <a href="#" class="instagram__link">
                                    <img src="img/base/inst-8.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Swiper navigation -->
                    <div class="swiper-button swiper-prev">
                        <svg width='12' height='12'>
                            <use xlink:href='#slider-arrow'></use>
                        </svg>
                    </div>
                    <div class="swiper-button swiper-next">
                        <svg width='12' height='12'>
                            <use xlink:href='#slider-arrow'></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.instagram -->

    <section class="founders">
        <h2 class="visually-hidden">Founders</h2>
        <div class="container">
            <div class="founders__wrapper">
                <div class="founders__header">
                    <div class="founders__photos">
                        <div class="founders__photo">
                            <img src="img/base/founder-1.jpg" alt="">
                        </div>
                        <div class="founders__photo">
                            <img src="img/base/founder-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="founders__info">
                        <div class="founders__names">Jane Cooper & Arlene McCoy</div>
                        <div class="founders__post">Founders</div>
                    </div>
                </div>
                <div class="founders__text">
                    <p>"We are parents just like you! Our team is made up of  technical geeks and engineers, so we completely understand how important it is for children to develop both soft and hard science skills from early childhood. Jinnto was created to inspire kids to explore the world in a playful manner and to expand their creative potential. While designing our kits, we focused on the emotions that children feel during the process. Our aim is to make education fun and easy, and to bring ...</p>
                </div>
                <div class="founders__footer">
                    <div class="founders__btn btn btn--blue">
                        More
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.founders -->

    <section class="too-late">
        <div class="container">
            <div class="too-late__wrapper">
                <div class="too-late__content">
                    <h2 class="too-late__title title-dot title-dot--out">
                        It’s never too late to try<br> STEM learning
                    </h2>
                    <p class="too-late__text">
                        Just play it when your child doesn’t see you, okay? Kids kind of get upset when you take their toys
                    </p>
                    <div class="too-late__btn btn btn--red">
                        Choose subscription
                    </div>
                </div>
                <div class="too-late__img">
                    <img src="img/base/man-in-car.png" alt="">
                </div>
            </div>
        </div>
    </section><!-- /.too-late -->

    <section class="faq faq--home">
        <div class="container">
            <div class="faq__wrapper">
                <div class="faq__header">
                    <h2 class="faq__title">
                        Still have questions?
                    </h2>
                    <p class="faq__text">
                        Find answers below or contact us to ask more about Jinnto STEM subscription for kids
                    </p>
                </div>
                <ul class="faq__list">
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section><!-- /.faq -->

</main><!-- / .site-main -->

<%=_.template(require('../parts/footer.html'))() %>
