<%=_.template(require('../parts/header.html'))({
    title: "New password | Jinnto",
    menu: {}
}) %>

<main class="site-main">
    <div class="lk-form">
        <img src="img/bg/lk-forms-bg.svg" alt="" class="lk-form__bg bg-img bg-img--desktop">
        <div class="container">
            <h1 class="visually-hidden">Jinnto new password</h1>
            <form class="lk-form__form">
                <div class="lk-form__content">
                    <div class="lk-form__header">
                        <h2 class="lk-form__title title-underline title-underline--cyan">
                            Create new password
                        </h2>
                    </div>
                    <p class="lk-form__text">
                        Your new password must be different from previous used passwords
                    </p>
                    <div class="lk-form__fields">
                        <div class="lk-form__field">
                            <label for="lk_pass" class="lk-form__label">Password*</label>
                            <input type="text" id="lk_pass" class="lk-form__input" placeholder="Password" required>
                        </div>
                        <div class="lk-form__field">
                            <label for="lk_pass_confirm" class="lk-form__label">Confirm Password*</label>
                            <input type="text" id="lk_pass_confirm" class="lk-form__input" placeholder="Password" required>
                        </div>
                    </div>
                    <button type="submit" class="lk-form__submit btn btn--red">
                        Resent Password
                    </button>
                    <div class="lk-form__footer">
                        <div class="lk-form__sign-with">
                            <span>or Sign in with</span>
                        </div>
                        <div class="lk-form__socials">
                            <a href="#" class="lk-form__social btn">
                                <svg width='20' height='16'>
                                    <use xlink:href='#social-facebook'></use>
                                </svg>
                                Facebook
                            </a>
                            <a href="#" class="lk-form__social btn">
                                <svg width='20' height='16'>
                                    <use xlink:href='#social-google'></use>
                                </svg>
                                Google
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<%=_.template(require('../parts/footer.html'))() %>