<%=_.template(require('../parts/header.html'))({
    title: "Product | Jinnto",
    menu: {}
}) %>

<main class="site-main">
    <%=_.template(require('../parts/banner.html'))({
        bg_desktop: "product-banner-desktop.svg",
        bg_mobile: "product-banner-mobile.svg",
        subtitle: "Steam box",
        subtitle_color: "green",
        title: "Solar System STEAM Box<br> For Kids",
        text: ""
    }) %>

    <%=_.template(require('../parts/fact-stars.html'))({
        section_class: "product-stars fact-stars--big-text",
        subtitle: "Have your kids asked questions about the Universe?",
        title: "",
        title_class: "",
        text: "We’ll tell them everything they are curious to know with the STEM box exploring our Solar System!"
    }) %>

    <section class="product-about text-img-block">
        <div class="product-about__bgs">
            <img src="img/bg/product-about.svg" alt="bg" class="bg-img bg-img--desktop product-about__bg">
        </div>
        <div class="product-about__first">
            <div class="container">
                <div class="text-img-block__wrapper">
                    <div class="product-about__img-wrapper text-img-block__img-wrapper" data-aos="fade-up">
                        <img src="img/base/product-about-1.jpg" alt="image" class="text-img-block__img">
                    </div>
                    <div class="product-about__content text-img-block__content">
                        <h3 class="title-dot text-img-block__title" data-aos="fade-up" data-aos-delay="100">
                            About
                        </h3>
                        <p class="text-img-block__text" data-aos="fade-up" data-aos-delay="200">
                            With the Solar system STEAM kit for kids, we’ll come closer to the answers. Through hands-on activities, kids will learn about the relationship between the Earth and the Universe and discover amazing space facts that I’ve prepared for them!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-about__second">
            <div class="container">
                <div class="text-img-block__wrapper">
                    <div class="product-about__img-wrapper text-img-block__img-wrapper" data-aos="fade-up">
                        <img src="img/base/product-about-2.jpg" alt="image" class="text-img-block__img">
                    </div>
                    <div class="product-about__content text-img-block__content">
                        <h3 class="title-dot text-img-block__title" data-aos="fade-up" data-aos-delay="100">
                            What kids will learn
                        </h3>
                        <p class="text-img-block__text" data-aos="fade-up" data-aos-delay="200">
                            Thanks to Solar System STEM activities in the box, kids will figure out what causes the change of day and night, eclipses, why there are four seasons in nature, the moon phases, and much more.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-box">
        <div class="container">
            <div class="product-box__wrapper">
                <h2 class="product-box__title">
                    Develop and train with Jinnto
                </h2>
                <button class="product-box__btn btn btn--red">
                    Try Jinnto!
                </button>
            </div>
        </div>
    </section>

    <section class="product-about-2">
        <div class="container">
            <h2 class="product-about-2__title title-underline title-underline--yellow">
                What comes in the Solar System STEAM box for kids series?
            </h2>
            <p class="product-about-2__text">
                In this series of kits, we prepared exciting models and construction sets for exploring the Solar System, conducting experiments, modeling, sculpting, and so on.
            </p>
            <div class="product-about-information">
                <div class="product-about-information__item">
                    <img src="img/base/text-robot.jpg" alt="sd" class="product-about-information__item-img--message-box">
                    <p class="product-about-information__item-text--message-box">
                        In the Solar science STEAM kit,
                        I’ll tell your kid everything I know about the topic:
                    </p>
                </div>
                <div class="product-about-information__item">
                    <img src="img/icons/questionmark.svg" alt="sd" class="product-about-information__item-img">
                    <p class="product-about-information__item-text">
                        What is the solar system?
                    </p>
                </div>
                <div class="product-about-information__item">
                    <img src="img/icons/questionmark.svg" alt="sd" class="product-about-information__item-img">
                    <p class="product-about-information__item-text">
                        Which planets are included in our Solar System?
                    </p>
                </div>
                <div class="product-about-information__item">
                    <img src="img/icons/questionmark.svg" alt="sd" class="product-about-information__item-img">
                    <p class="product-about-information__item-text">
                        What astronomy studies?
                    </p>
                </div>
                <div class="product-about-information__item">
                    <img src="img/icons/questionmark.svg" alt="sd" class="product-about-information__item-img">
                    <p class="product-about-information__item-text">
                        How day and night change?
                    </p>
                </div>
                <div class="product-about-information__item">
                    <img src="img/icons/questionmark.svg" alt="sd" class="product-about-information__item-img">
                    <p class="product-about-information__item-text">
                        How to build a
                        Solar System in
                        a STEM box?
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="approach-stages product-stages">
        <div class="container">
            <div class="approach-stages__heading">
                <h2 class="approach-stages__title title-underline title-underline--cyan" data-aos="fade-up">
                    How STEMscience kit about Solar System works
                </h2>
                <p class="approach-stages__undertitle-text" data-aos="fade-up" data-aos-delay="100">
                    Explore the structure of the Solar System, space, and <br> astronomical phenomena with Jinnto.
                </p>
            </div>
            <div class="approach-stages__content product-stages__content">
                <img src="img/bg/product-about-2-desktop.svg" alt="background" class="approach-stages__content-background product-stages__content-background">
                <div class="approach-stages__stages product-stages__stages">
                    <div class="approach-stages__stage product-stages__stage">
                        <img src="img/base/product-robot-1.png" alt="robot" class="approach-stages__stage-img-1 product-stages__stage-img-1">
                        <div class="approach-stage__stage-content">
                            <h2 class="approach-stages__stage-title">
                                Stage 1. The child creates the toy
                            </h2>
                            <div class="approach-stages__stage-text product-stages__stage-text">
                                <p>
                                    For the Solar System project in a STEM box, I’ve created video instructions with a detailed description of each stage and a mini-quiz on space topics for kids.
                                </p>
                            </div>
                        </div>
                        <img src="img/base/product-irl-1.jpg" alt="human" class="approach-stages__stage-img-2 product-stages__stage-img-2" data-aos="fade-left">
                    </div>
                    <div class="approach-stages__stage product-stages__stage">
                        <img src="img/base/product-robot-2.png" alt="robot" class="approach-stages__stage-img-1 product-stages__stage-img-1">
                        <div class="approach-stage__stage-content">
                            <h2 class="approach-stages__stage-title stage__title">
                                Stage 2. The child plays with the toy
                            </h2>
                            <div class="approach-stages__stage-text product-stages__stage-text">
                                <p>
                                    It's their creation, so it's even more valuable for them! <br>
                                    And now is the time to go on a journey into space and check if there is life on other planets!
                                </p>
                            </div>
                        </div>
                        <img src="img/base/product-irl-2.jpg" alt="human" class="approach-stages__stage-img-2" data-aos="fade-right">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="powers">
        <div class="powers__header" data-aos="fade-up">
            <div class="container">
                <h2 class="powers__title title-underline title-underline--yellow">
                    What you get
                </h2>
                <p class="powers__text">
                    Every superpower of a kid is a start for their future personality. You never know which skill will influence your child the most and will evolve into noticeable achievements in the future.
                </p>
            </div>
        </div>
        <div class="powers__main">
            <!-- For PHP:
                every feature has rating (R) from 1 to 100
                feature__rating circle inline-style is "stroke-dasharray: [1.6*R] 160"
                feature__rating text content is "<span>[R] /</span> 100"
            -->
            <div class="powers__list powers__list--ratings" data-aos="zoom-in" data-aos-delay="300" data-aos-id="powers-ratings">
                <div class="powers__item feature feature--cyan">
                    <div class="feature__content">
                        <div class="feature__icon">
                            <img src="img/icons/feature-hands.svg" alt="">
                        </div>
                        <div class="feature__text">
                            Brain & hands flawless teamwork
                        </div>
                    </div>
                    <div class="feature__rating">
                        <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="feature__rating-svg">
                            <circle r="25" cx="50" cy="50" style="stroke-dasharray: 16 160" class="feature__rating-line"/>
                            <circle r="45" cx="50" cy="50" fill="#fff"/>
                        </svg>
                        <div class="feature__rating-text">
                            <span>10 /</span> 100
                        </div>
                    </div>
                </div>
                <div class="powers__item feature feature--pink">
                    <div class="feature__content">
                        <div class="feature__icon">
                            <img src="img/icons/feature-robot.svg" alt="">
                        </div>
                        <div class="feature__text">
                            Superb engineering skills
                        </div>
                    </div>
                    <div class="feature__rating">
                        <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="feature__rating-svg">
                            <circle r="25" cx="50" cy="50" style="stroke-dasharray: 8 160" class="feature__rating-line"/>
                            <circle r="45" cx="50" cy="50" fill="#fff"/>
                        </svg>
                        <div class="feature__rating-text">
                            <span>5 /</span> 100
                        </div>
                    </div>
                </div>
                <div class="powers__item feature feature--green">
                    <div class="feature__content">
                        <div class="feature__icon">
                            <img src="img/icons/feature-infinity.svg" alt="">
                        </div>
                        <div class="feature__text">
                            Unlimited creativity
                        </div>
                    </div>
                    <div class="feature__rating">
                        <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="feature__rating-svg">
                            <circle r="25" cx="50" cy="50" style="stroke-dasharray: 30 160" class="feature__rating-line"/>
                            <circle r="45" cx="50" cy="50" fill="#fff"/>
                        </svg>
                        <div class="feature__rating-text">
                            <span>30 /</span> 100
                        </div>
                    </div>
                </div>
                <div class="powers__item feature feature--red">
                    <div class="feature__content">
                        <div class="feature__icon">
                            <img src="img/icons/feature-logic.svg" alt="">
                        </div>
                        <div class="feature__text">
                            Logic
                        </div>
                    </div>
                    <div class="feature__rating">
                        <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="feature__rating-svg">
                            <circle r="25" cx="50" cy="50" style="stroke-dasharray: 16 160" class="feature__rating-line"/>
                            <circle r="45" cx="50" cy="50" fill="#fff"/>
                        </svg>
                        <div class="feature__rating-text">
                            <span>10 /</span> 100
                        </div>
                    </div>
                </div>
                <div class="powers__item feature feature--purple">
                    <div class="feature__content">
                        <div class="feature__icon">
                            <img src="img/icons/feature-imagine.svg" alt="">
                        </div>
                        <div class="feature__text">
                            Imagination
                        </div>
                    </div>
                    <div class="feature__rating">
                        <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="feature__rating-svg">
                            <circle r="25" cx="50" cy="50" style="stroke-dasharray: 144 160" class="feature__rating-line"/>
                            <circle r="45" cx="50" cy="50" fill="#fff"/>
                        </svg>
                        <div class="feature__rating-text">
                            <span>90 /</span> 100
                        </div>
                    </div>
                </div>
                <div class="powers__item feature feature--orange">
                    <div class="feature__content">
                        <div class="feature__icon">
                            <img src="img/icons/feature-science.svg" alt="">
                        </div>
                        <div class="feature__text">
                            Powerful science skills
                        </div>
                    </div>
                    <div class="feature__rating">
                        <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="feature__rating-svg">
                            <circle r="25" cx="50" cy="50" style="stroke-dasharray: 1 160" class="feature__rating-line"/>
                            <circle r="45" cx="50" cy="50" fill="#fff"/>
                        </svg>
                        <div class="feature__rating-text">
                            <span>1 /</span> 100
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.powers -->

    <section class="product-box-2">
        <div class="container">
            <div class="product-box-2__main-wrapper">
                <div class="product-box-2__content-wrapper">
                    <div class="product-box-2__content">
                        <h3 class="product-box-2__title title-dot">
                            The Solar System kit includes
                        </h3>
                        <p class="product-box-2__text">
                            The kit includes video instruction for the user, a detailed description of each stage, and a mini-quiz on space topics.
                        </p>
                        <button class="btn btn--red product-box-2__btn">
                            Get my box!
                        </button>
                    </div>
                    <div class="product-box-2__img-wrapper">
                        <img src="img/base/product-item.png" alt="asd" class="product-box-2__img">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="advantages product-advantages">
        <img src="img/bg/advantages-mobile.svg" alt="" class="bg-img bg-img--mobile">
        <img src="img/bg/advantages-desktop.svg" alt="" class="bg-img bg-img--desktop">
        <div class="container">
           <div class="advantages__titles">
                <h2 class="title-underline title-underline--yellow">
                    What choose Jinnto
                </h2>
                <p class="advantages__text">
                    Every box is designed by our development team with love and care for kids.
                </p>
           </div>
           <div class="section-advantages product-advantages__content">
               <div class="section-advantages__advantage product-advantages__advantage">
                    <div class="section-advantages__icon-wrapper">
                        <img class="section-advantages__icon" src="img/icons/cube.svg" alt="icon">
                    </div>
                   <h4 class="section-advantages__advantage-title">
                        STEAM Education
                   </h4>
                   <p class="section-advantages__advantage-text">
                        The STEM series gradually introduce children to the world of different disciplines!
                   </p>
               </div>
               <div class="section-advantages__advantage product-advantages__advantage">
                   <div class="section-advantages__icon-wrapper">
                       <img class="section-advantages__icon" src="img/icons/puzzle.svg" alt="icon">
                   </div>
                   <h4 class="section-advantages__advantage-title">
                        Uncommon toys
                   </h4>
                   <p class="section-advantages__advantage-text">
                        Sets can also be combined, creating something truly unique.
                   </p>
               </div>
               <div class="section-advantages__advantage product-advantages__advantage">
                    <div class="section-advantages__icon-wrapper">
                        <img class="section-advantages__icon" src="img/icons/map.svg" alt="icon">
                    </div>
                   <h4 class="section-advantages__advantage-title">
                        Video instruction
                   </h4>
                   <p class="section-advantages__advantage-text">
                        The free mobile app shows the assembly sequence for each model.
                   </p>
               </div>
               <div class="section-advantages__advantage product-advantages__advantage">
                    <div class="section-advantages__icon-wrapper">
                        <img class="section-advantages__icon" src="img/icons/recycling.svg " alt="icon">
                    </div>
                   <h4 class="section-advantages__advantage-title">
                        Safe for children
                   </h4>
                   <p class="section-advantages__advantage-text">
                        All parts are non-toxic and made from environmentally friendly materials.
                   </p>
               </div>
           </div>
        </div>
    </section>

    <section class="gift-choose product-choose">
        <div class="gift-choose__star-block">
            <img src="img/bg/stars-bg-mobile.svg" alt="" class="bg-img bg-img--mobile gift-choose__bg-img--mobile">
            <img src="img/bg/default-stars-desktop.svg" alt="" class="bg-img bg-img--desktop gift-choose__bg-img--desktop">
        </div>
        <div class="container">
            <div class="gift-choose__heading">
                <h2 class="gift-choose__title title-underline title-underline--cyan">
                    Other kits
                </h2>
            </div>
            <div class="gift-choose__box-content product-choose__content">
                <a href="#" class="gift-choose__box-item">
                    <img src="img/base/choose-box-1.jpg" class="gift-choose__box-item-img product-choose__img">
                    <h4 class="gift-choose__box-item-title">
                        Skydiver Project
                    </h4>
                </a>
                <a href="#" class="gift-choose__box-item">
                    <img src="img/base/choose-box-2.png" class="gift-choose__box-item-img product-choose__img">
                    <h4 class="gift-choose__box-item-title">
                        Projector Project
                    </h4>
                </a>
                <a href="#" class="gift-choose__box-item">
                    <img src="img/base/choose-box-3.jpg" class="gift-choose__box-item-img product-choose__img">
                    <h4 class="gift-choose__box-item-title">
                        Gears
                    </h4>
                </a>
            </div>
        </div>
    </section>

    <%=_.template(require('../parts/ask-form.html'))() %>
</main>

<%=_.template(require('../parts/footer.html'))() %>
