<%=_.template(require('../parts/header.html'))({
    title: "Product",
    menu: {}
}) %>

<main class="site-main">
    <section class="banner">
        <div class="banner__images" data-aos="fade-in">
            <img src="img/bg/product-banner-desktop.svg" alt="back" class="banner__img banner__img--desktop">
            <img src="img/bg/product-banner-mobile.svg" alt="back" class="banner__img banner__img--mobile">
        </div>
        <div class="container banner__wrapper">
            <h2 class="banner__subtitle banner__subtitle--green" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                STEAm box
            </h2>
            <h1 class="banner__title" data-aos="fade-up" data-aos-delay="200">
                Solar System STEAM Box <br>
                For Kids
            </h1>
        </div>
    </section>

    <section class="product-stars">
        <div class="container">
            <div class="product-stars__wrapper">
                <h4 class="product-stars__subtitle">
                    Have your kids asked questions about the Universe?
                </h4>
                <p class="product-stars__text">
                    We’ll tell them everything they are curious to know with the STEM box exploring our Solar System!
                </p>
            </div>
        </div>
    </section>

    <section class="product-about">
        <div class="container">
            .
        </div>
    </section>

    <section class="advantages">
        <img src="img/base/approach-advantages-bg--mob.jpg" alt="background-" class="bg-img bg-img--mobile">
        <img src="img/base/approach-advantages-bg.jpg" alt="background-" class="bg-img bg-img--desktop">
        <div class="container">
           <div class="advantages__titles">
                <h2 class="advantages__title title-underline title-underline--yellow">
                    What choose Jinnto
                </h2>
                <p class="advantages__text">
                    Every box is designed by our development team with love and care for kids.
                </p>
           </div>
           <div class="section-advantages">
               <div class="section-advantages__advantage">
                    <div class="section-advantages__icon-wrapper">
                        <img class="section-advantages__icon" src="img/icons/recycling.svg" alt="icon">
                    </div>
                   <h4 class="section-advantages__advantage-title">
                        STEAM Education
                   </h4>
                   <p class="section-advantages__advantage-text">
                        The STEM series gradually introduce children to the world of different disciplines!
                   </p>
               </div>
               <div class="section-advantages__advantage">
                   <div class="section-advantages__icon-wrapper">
                       <img class="section-advantages__icon" src="img/icons/gift-box.svg" alt="icon">
                   </div>
                   <h4 class="section-advantages__advantage-title">
                        Uncommon toys
                   </h4>
                   <p class="section-advantages__advantage-text">
                        Sets can also be combined, creating something truly unique.
                   </p>
               </div>
               <div class="section-advantages__advantage">
                    <div class="section-advantages__icon-wrapper">
                        <img class="section-advantages__icon" src="img/icons/map.svg" alt="icon">
                    </div>
                   <h4 class="section-advantages__advantage-title">
                        Video instruction
                   </h4>
                   <p class="section-advantages__advantage-text">
                        The free mobile app shows the assembly sequence for each model.
                   </p>
               </div>
               <div class="section-advantages__advantage">
                    <div class="section-advantages__icon-wrapper">
                        <img class="section-advantages__icon" src="img/icons/cube.svg" alt="icon">
                    </div>
                   <h4 class="section-advantages__advantage-title">
                        Safe for children
                   </h4>
                   <p class="section-advantages__advantage-text">
                        All parts are non-toxic and made from environmentally friendly materials.
                   </p>
               </div>
           </div>
        </div>
    </section>

    <section class="gift-choose product-choose">
        <div class="gift-choose__star-block">
            <img src="img/bg/stars-bg-mobile.svg" class="bg-img bg-img--mobile gift-choose__bg-img--mobile">
            <img src="img/bg/default-stars-desktop.svg" class="bg-img bg-img--desktop gift-choose__bg-img--desktop">
        </div>
        <div class="container">
            <div class="gift-choose__heading">
                <h2 class="gift-choose__title title-underline title-underline--cyan">
                    Other kits
                </h2>
            </div>
            <div class="gift-choose__box-content product-choose__content">
                <a href="#" class="gift-choose__box-item">
                    <img src="img/base/choose-box-1.jpg" class="gift-choose__box-item-img product-choose__img">
                    <h4 class="gift-choose__box-item-title">
                        Skydiver Project
                    </h4>
                </a>
                <a href="#" class="gift-choose__box-item">
                    <img src="img/base/choose-box-1.jpg" class="gift-choose__box-item-img product-choose__img">
                    <h4 class="gift-choose__box-item-title">
                        Projector Project
                    </h4>
                </a>
                <a href="#" class="gift-choose__box-item">
                    <img src="img/base/choose-box-3.jpg" class="gift-choose__box-item-img product-choose__img">
                    <h4 class="gift-choose__box-item-title">
                        Gears
                    </h4>
                </a>
            </div>
        </div>
    </section>

    <%=_.template(require('../parts/ask-form.html'))() %>
</main>

<%=_.template(require('../parts/footer.html'))() %>
