<%=_.template(require('../parts/header.html'))({
    title: "Refer a friend",
    menu: {}
}) %>

<main class="site-main">
    <section class="banner refer-banner">
        <div class="banner__images" data-aos="fade-in">
            <img src="img/bg/refer-banner-desktop.svg" alt="back" class="banner__img banner__img--desktop">
            <img src="img/bg/refer-banner-mobile.svg" alt="back" class="banner__img banner__img--mobile">
        </div>
        <div class="container banner__wrapper">
            <h2 class="banner__subtitle banner__subtitle--pink" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                Love the Jinnto?
            </h2>
            <h1 class="banner__title refer-banner__title" data-aos="fade-up" data-aos-delay="200">
                Refer a friend and get $5!
            </h1>
            <p class="banner__text" data-aos="fade-up" data-aos-delay="300">
                Offer your friend $5 off their first month, and you’ll receive $5 off too once they subscribe using your promo code!
            </p>
        </div>
    </section>

    <section class="refer-how">
        <div class="container">
            <div class="refer-how__heading">
                <h2 class="title-underline title-underline--yellow">
                    How it works
                </h2>
            </div>
            <div class="circles__content refer-how__content">
                <div class="circles__item refer-how__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="circles__item-img-wrapper refer-how__item-img-wrapper">
                        <img src="img/base/refer-how-1.svg" alt="image" class="circles__item-img">
                    </div>
                    <h2 class="circles__item-title refer-how__item-title">
                        Step 1
                    </h2>
                    <p class="circles__item-text refer-how__item-text">
                        Generate a unique promotional code for a discount.
                    </p>
                </div>
                <div class="circles__item refer-how__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="circles__item-img-wrapper refer-how__item-img-wrapper">
                        <img src="img/base/refer-how-2.svg" alt="image" class="circles__item-img">
                    </div>
                    <h2 class="circles__item-title refer-how__item-title">
                        Step 2
                    </h2>
                    <p class="circles__item-text refer-how__item-text">
                        Send a promo code
                        to a friend.
                    </p>
                </div>
                <div class="circles__item refer-how__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                    <div class="circles__item-img-wrapper refer-how__item-img-wrapper">
                        <img src="img/base/refer-how-3.svg" alt="image" class="circles__item-img">
                    </div>
                    <h2 class="circles__item-title refer-how__item-title">
                        Step 3
                    </h2>
                    <p class="circles__item-text refer-how__item-text">
                        Get your discount once your friend subscribe and
                        activate your promocode.
                        <strong>More activations more discounts</strong>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="refer-share">
        <div class="container">
            <div class="refer-share__wrapper">
                <div class="refer-share__star-block" data-aos="fade-right" data-aos-duration="500" data-aos-delay="100">
                    <h4 class="refer-share__title title-underline title-underline--blue">
                        Share the fun!
                    </h4>
                    <p class="refer-share__text">
                        Share your referral link through social media
                    </p>
                    <ul class="social-list">
                        <li class="social-list__item">
                            <a href="#" class="social-list__link" aria-label="Our facebook" title="Our facebook" target="_blank" rel="noreferrer noopener">
                                <img src="img/icons/facebook.svg" class="social-list__icon">
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" class="social-list__link" aria-label="Our whatsup" title="Our whatsup" target="_blank" rel="noreferrer noopener">
                                <img src="img/icons/whatsup.svg" class="social-list__icon">
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" class="social-list__link" aria-label="Our telegram" title="Our telegram" target="_blank" rel="noreferrer noopener">
                                <img src="img/icons/telegram.svg" class="social-list__icon">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="refer-share__star-block" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">
                    <h4 class="refer-share__title title-underline title-underline--blue">
                        Your Referral Link
                    </h4>
                    <p class="refer-share__text">
                        Copy your referral link and share
                    </p>
                    <div class="refer-share__share-row" data-share-panel>
                        <input value="http://jinnto.test-wp-site.ru/gift.html" type="text" class="refer-share__share-input" data-share-input>
                        <button type="button" class="refer-share__copy-button btn btn--red" data-share-button>
                            Copy!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="faq">
        <div class="container">
            <div class="faq__wrapper">
                <div class="faq__header">
                    <h2 class="faq__title title-dot">
                        Still have questions?
                    </h2>
                    <p class="faq__text">
                        Find answers below or contact us to ask more about Jinnto STEM subscription for kids
                    </p>
                </div>
                <ul class="faq__list">
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- /.faq -->
    <%=_.template(require('../parts/ask-form.html'))() %>
</main>

<%=_.template(require('../parts/footer.html'))() %>
