<%=_.template(require('../parts/header.html'))({
    title: "Sign in | Jinnto",
    menu: {}
}) %>

<main class="site-main">
    <div class="lk-form">
        <img src="img/bg/lk-forms-bg.svg" alt="" class="bg-img bg-img--desktop">
        <div class="container">
            <h1 class="visually-hidden">Jinnto sign in</h1>
            <form class="lk-form__form">
                <div class="lk-form__content">
                    <div class="lk-form__title-wrapper">
                        <h2 class="lk-form__title title-underline title-underline--cyan">
                            Sign in
                        </h2>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<%=_.template(require('../parts/footer.html'))() %>