<%=_.template(require('../parts/header.html'))({
    title: "Sign up | Jinnto",
    menu: {}
}) %>

<main class="site-main">
    <div class="lk-form">
        <img src="img/bg/lk-forms-bg.svg" alt="" class="lk-form__bg bg-img bg-img--contain bg-img--desktop">
        <div class="container">
            <h1 class="visually-hidden">Jinnto sign up</h1>
            <form class="lk-form__form" data-aos="zoom-in">
                <div class="lk-form__content">
                    <div class="lk-form__header">
                        <h2 class="lk-form__title title-underline title-underline--cyan">
                            Sign up
                        </h2>
                    </div>
                    <div class="lk-form__fields">
                        <div class="lk-form__field">
                            <label for="lk_name" class="lk-form__label">Your name*</label>
                            <input type="text" id="lk_name" class="lk-form__input" placeholder="Name" required>
                        </div>
                        <div class="lk-form__field">
                            <label for="lk_email" class="lk-form__label">Your email*</label>
                            <input type="email" id="lk_email" class="lk-form__input" placeholder="Email address" required>
                        </div>
                        <div class="lk-form__field">
                            <label for="lk_pass" class="lk-form__label">Password*</label>
                            <input type="text" id="lk_pass" class="lk-form__input" placeholder="Password" required>
                        </div>
                        <div class="lk-form__field">
                            <label for="lk_pass_confirm" class="lk-form__label">Confirm Password*</label>
                            <input type="text" id="lk_pass_confirm" class="lk-form__input" placeholder="Password" required>
                        </div>
                    </div>
                    <button type="submit" class="lk-form__submit btn btn--red">
                        Sign up
                    </button>
                    <div class="lk-form__footer">
                        <div class="lk-form__sign-with">
                            <span>or Sign up with</span>
                        </div>
                        <div class="lk-form__socials">
                            <a href="#" class="lk-form__social btn">
                                <svg width='20' height='16'>
                                    <use xlink:href='#social-facebook'></use>
                                </svg>
                                Facebook
                            </a>
                            <a href="#" class="lk-form__social btn">
                                <svg width='20' height='16'>
                                    <use xlink:href='#social-google'></use>
                                </svg>
                                Google
                            </a>
                        </div>
                        <p class="lk-form__refer">
                            Already have an account? <a href="sign-in.html">Sign in</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<%=_.template(require('../parts/footer.html'))() %>