<%=_.template(require('../parts/header.html'))({
    title: "Subscription",
    menu: {}
}) %>

<main class="site-main">
    <%=_.template(require('../parts/banner.html'))({
        bg_desktop: "subscription-banner-desktop.jpg",
        bg_mobile: "subscription-banner-mobile.jpg",
        subtitle: "STEAM box",
        subtitle_color: "pink",
        title: "STEAM Boxes for<br> creative kids",
        text: ""
    }) %>
    
    <section class="subscription-about text-img-block">
        <div class="container">
            <div class="text-img-block__wrapper subscription-about__wrapper">
                <div class="text-img-block__img-wrapper subscription-about__img-wrapper" data-aos="fade-up">
                    <img src="img/base/subscription-about.jpg" alt="image" class="text-img-block__img">
                </div>
                <div class="text-img-block__content subscription-about__content">
                    <h3 class="title-dot text-img-block__title" data-aos="fade-up" data-aos-delay="100">
                        About subscription
                    </h3>
                    <p class="text-img-block__text" data-aos="fade-up" data-aos-delay="200">
                        Every month of your subscription plan, you will receive a new box from different areas of expertise. Each box includes a learning kit for kids about fun topics, a comic strip, and collectible stickers that can be exchanged for a gift.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="subscription-how circles">
        <div class="container">
            <div class="subscription-how__heading">
                <h2 class="subscription-how__title title-underline title-underline--yellow">
                    How subscription works
                </h2>
            </div>
            <div class="circles__content">
                <div class="circles__item subscription-how__item">
                    <div class="circles__item-img-wrapper subscription-how__item-img-wrapper">
                        <img src="img/base/stay-how-1.svg" alt="image" class="circles__item-img subscription-how__item-img">
                    </div>
                    <h2 class="circles__item-title subscription-how__item-title">
                        Step 1
                    </h2>
                    <p class="circles__item-text">
                        Choose the Perfect Plan
                    </p>
                </div>
                <div class="circles__item subscription-how__item">
                    <div class="circles__item-img-wrapper subscription-how__item-img-wrapper">
                        <img src="img/base/stay-how-2.svg" alt="image" class="circles__item-img subscription-how__item-img">
                    </div>
                    <h2 class="circles__item-title subscription-how__item-title">
                        Step 2
                    </h2>
                    <p class="circles__item-text">
                        Select the plan that works
                        for your kiddo
                    </p>
                </div>
                <div class="circles__item subscription-how__item">
                    <div class="circles__item-img-wrapper subscription-how__item-img-wrapper">
                        <img src="img/base/stay-how-3.svg" alt="image" class="circles__item-img subscription-how__item-img">
                    </div>
                    <h2 class="circles__item-title subscription-how__item-title">
                        Step 3
                    </h2>
                    <p class="circles__item-text">
                        Kids create, make, and discover the world with Jinnto.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="subscribe-now">
        <div class="container">
            <div class="subscribe-now__wrapper">
                <div class="subscribe-now__heading">
                    <h3 class="title-dot subscribe-now subscribe-now__title">
                        Switch or cancel a subscription anytime
                    </h3>
                </div>
                <div class="subscribe-now__content">
                    <p class="subscribe-now__text">
                        Switch between lines or cancel your subscription anytime. Your <strong>subscription will not be charged</strong> after cancellation.
                    </p>
                </div>
                <button class="subscribe-now__button btn btn--red">
                    Subscribe now
                </button>
            </div>
        </div>
    </div>

    <section class="gift-choose gift-choose--sub">
        <div class="gift-choose__star-block gift-choose__star-block--sub">
            <img src="img/bg/gift-sub-stars-bg.svg" class="bg-img bg-img--mobile gift-choose__sub-bg-img">
            <img src="img/bg/default-stars-desktop.svg" alt="" class="bg-img bg-img--desktop gift-choose__bg-img--desktop">
        </div>
        <div class="container">
            <div class="gift-choose__heading">
                <h2 class="title-underline title-underline--yellow gift-choose__title--sub">
                    Choose the perfect plan
                </h2>
            </div>
            <div class="gift-choose__sub-content">
                <div class="gift-choose__sub-item">
                    <div class="gift-choose__sub-info">
                        <div class="gift-choose__sub-info-section">
                            <h2 class="gift-choose__sub-price">
                                $24.99
                            </h2>
                            <span class="gift-choose__sub-text">
                                per month
                            </span>
                        </div>
                        <div class="gift-choose__sub-info-section">
                            <div class="gift-choose__sub-period">
                                1-month
                            </div>
                            <span class="gift-choose__sub-text">
                                adventure
                            </span>
                        </div>
                    </div>
                    <div class="gift-choose__sub-offer">
                        <div class="gift-choose__sub-cost">
                            $24.99
                        </div>
                        <button class="btn gift-choose__btn">
                            Select
                        </button>
                    </div>
                </div>
                <div class="gift-choose__sub-item">
                    <div class="gift-choose__sub-info">
                        <div class="gift-choose__sub-info-section">
                            <h2 class="gift-choose__sub-price">
                                $23.60
                            </h2>
                            <span class="gift-choose__sub-text">
                                per month
                            </span>
                        </div>
                        <div class="gift-choose__sub-info-section">
                            <div class="gift-choose__sub-period">
                                3-month
                            </div>
                            <span class="gift-choose__sub-text">
                                adventure
                            </span>
                        </div>
                        <p class="gift-choose__sub-savings">
                            Save $15
                        </p>
                    </div>
                    <div class="gift-choose__sub-offer">
                        <div class="gift-choose__sub-cost">
                            $71.20
                        </div>
                        <button class="btn gift-choose__btn">
                            Select
                        </button>
                    </div>
                </div>
                <div class="gift-choose__sub-item">
                    <div class="gift-choose__sub-info">
                        <div class="gift-choose__sub-info-section">
                            <h2 class="gift-choose__sub-price">
                                $22.50
                            </h2>
                            <span class="gift-choose__sub-text">
                                per month
                            </span>
                        </div>
                        <div class="gift-choose__sub-info-section">
                            <div class="gift-choose__sub-period">
                                6-month
                            </div>
                            <span class="gift-choose__sub-text">
                                adventure
                            </span>
                        </div>
                        <p class="gift-choose__sub-savings">
                            Save $30
                        </p>
                    </div>
                    <div class="gift-choose__sub-offer">
                        <div class="gift-choose__sub-cost">
                            $135.00
                        </div>
                        <button class="btn gift-choose__btn">
                            Select
                        </button>
                    </div>
                </div>
                <div class="gift-choose__sub-item">
                    <div class="gift-choose__sub-info">
                        <div class="gift-choose__sub-info-section">
                            <h2 class="gift-choose__sub-price">
                                $21.25
                            </h2>
                            <span class="gift-choose__sub-text">
                                per month
                            </span>
                        </div>
                        <div class="gift-choose__sub-info-section">
                            <div class="gift-choose__sub-period">
                                12-month
                            </div>
                            <span class="gift-choose__sub-text">
                                adventure
                            </span>
                        </div>
                        <p class="gift-choose__sub-savings">
                            Save $15
                        </p>
                    </div>
                    <div class="gift-choose__sub-offer">
                        <div class="gift-choose__sub-cost">
                            $255.00
                        </div>
                        <button class="btn gift-choose__btn">
                            Select
                        </button>
                    </div>
                </div>
                <div class="gift-choose__sub-item">
                    <div class="gift-choose__sub-info">
                        <div class="gift-choose__sub-info-section">
                            <h2 class="gift-choose__sub-price">
                                $39.00
                            </h2>
                            <span class="gift-choose__sub-text">
                                per month
                            </span>
                        </div>
                        <div class="gift-choose__sub-info-section">
                            <div class="gift-choose__sub-period">
                                1
                            </div>
                            <span class="gift-choose__sub-text">
                                Gift Box
                            </span>
                        </div>
                    </div>
                    <div class="gift-choose__sub-offer">
                        <div class="gift-choose__sub-cost">
                            $39
                        </div>
                        <button class="btn gift-choose__btn">
                            Select
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="faq">
        <div class="container">
            <div class="faq__wrapper">
                <div class="faq__header">
                    <h2 class="faq__title title-dot">
                        Still have questions?
                    </h2>
                    <p class="faq__text">
                        Find answers below or contact us to ask more about Jinnto STEM subscription for kids
                    </p>
                </div>
                <ul class="faq__list">
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                    <li class="faq__item faq-item">
                        <div class="faq-item__question">
                            Which set will I receive if I start now instead of starting at the beginning of the school year?
                        </div>
                        <div class="faq-item__answer">
                            You will receive an experiment set with experiments illustrating a designated topic. One new topic is introduced each month. You can check the full list of topics for the entire subscription to see which sets you can receive each month. The topics are looped such that the start date of your subscription does not matter; you will eventually receive all the experiment sets.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <%=_.template(require('../parts/ask-form.html'))() %>
</main>

<%=_.template(require('../parts/footer.html'))() %>
