.discounts-main {
    padding-bottom: 60px;
    margin-top: -10px;

    @include media-up(md) {
        margin-top: 0;
        padding-top: 50px;
    }

    @include media-up(lg) {
        padding-bottom: 205px;
    }

    &__wrapper {
        @include media-up(lg) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 30px;
        }
    }

    &__banner {
        max-width: 590px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border-radius: 20px;

        @include media-up(lg) {
            margin: 0;
            max-width: 100%;
            width: 100%;
        }
    }

    &__banner + &__banner {
        margin-top: 16px;

        @include media-up(lg) {
            margin-top: 0;
        }
    }
}
