.account-tutorial {
    p {
        margin: 20px 0;
    }

    strong {
        color: $pink;

        @include media-up(md) {
            color: inherit;
        }
    }

    &__class-description {
        display: block;
        margin-top: 40px;
    }

    &__video {
        position: relative;
        display: block;
        margin: 20px -20px 40px;
        height: 180px;

        @include media-up(sm) {
            margin: 20px 0 40px;
            height: 300px;
            border-radius: 15px;
            overflow: hidden;
        }

        &::after {
            @include media-up(md) {
                content: '';
                position: absolute;
                width: 55px;
                height: 55px;
                top: calc(50% - 27.5px);
                left: calc(50% - 27.5px);
                bottom: 0;
                background-image: url(img/icons/play.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                transition: transform .5s;
            }
        }
    
        &:hover::after {
            transform: scale(1.3);
        }
    }

    &__video-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
