.account-main {
    background-color: $bg-green;
    padding-bottom: 60px;

    @include media-up(md) {
        padding-bottom: 180px;
    }

    @include media-up(lg) {
        padding-top: 50px;
    }

    &__wrapper {
        margin: 0 -30px;

        @include media-up(md) {
            margin: 0;
        }

        @include media-up(lg) {
            position: relative;
            display: grid;
            grid-template-columns: 250px 1fr;
            gap: 60px;
        }
    }

    &__content {
        overflow: hidden;
    }

    &__back-link {
        display: grid;
        gap: 10px;
        grid-template-columns: min-content 1fr;
        margin: 20px 0;
        align-items: center;
        font-weight: 700;
        color: $blue;

        @include media-up(lg) {
            display: none;
        }
    }
}
