.account-promo {
    &__text {
        margin: 15px 0 25px;

        @include media-up(md) {
            margin-bottom: 30px;
        }
    }

    &__recent {
        @include media-up(md) {
            padding-top: 85px;
        }
    }

    &__promo {
        display: grid;
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 20px;
        grid-template-areas:
            'head head'
            'promoname status';

        gap: 10px;
        border-bottom: 1px solid $blue-20;

        &:last-child {
            border: none;
        }

        @include media-up(md) {
            grid-template-areas:
                'head status'
                'promoname status';
            grid-template-columns: 2fr 1fr;
        }

        @include media-up(lg) {
            padding: 30px;
        }
    }

    &__promo-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-area: head;

        @include media-up(sm) {
            gap: 5px;
            justify-content: flex-start;
        }
    }

    &__promo-name {
        grid-area: promoname;
    }

    &__promo-status {
        font-size: 14px;
        line-height: 17px;
        grid-area: status;
        justify-self: end;

        @include media-up(md) {
            justify-self: center;
        }

        &--active {
            color: $green;
        }

        &--used {
            color: $orange;
        }
    }
}
