.account-main {
    background-color: $bg-green;
    padding-bottom: 180px;
    padding-top: 50px;

    &__wrapper {

        @include media-up(lg) {
            position: relative;
            display: grid;
            grid-template-columns: 250px 1fr;
            gap: 60px;
        }
    }
}
