.account-video {
    &__content {
        padding: 20px 0;

        @include media-up(lg) {
            padding: 50px 0 60px;
        }
    }

    &__videos-wrapper {
        overflow-x: auto;
        max-width: 95vw;
        margin: 0 auto;

        @include media-up(xl) {
            max-width: 960px;
        }
    }

    &__videos {
        margin-top: 15px;
        display: flex;
        gap: 20px;
        padding-bottom: 30px;
        padding-left: 10px;

        @include media-up(md) {
            padding-left: 30px;
        }

        @include media-up(lg) {
            padding-left: 60px;
            margin-top: 20px;
        }
    }

    &__head {
        padding-left: 30px;

        @include media-up(lg) {
            padding-left: 60px;
        }
    }

    &__item {
        min-width: 220px;
        width: 220px;

        &:last-child {
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                right: -10px;
                width: 10px;
                height: 1px;

                @include media-up(md) {
                    right: -30px;
                }
            }
        }

        @include media-up(md) {
            min-width: 250px;
            width: 250px;
        }
    }

    &__item-title {
        display: block;
    }

    &__item-img-wrapper {
        position: relative;
        display: block;
        height: 190px;
        margin-bottom: 10px;

        @include media-up(md) {
            margin-bottom: 20px;
        }

        &::after {
            @include media-up(md) {
                content: '';
                position: absolute;
                top: calc(50% - 19px);
                left: calc(50% - 19px);
                bottom: 0;
                width: 100%;
                display: block;
                width: 38px;
                height: 38px;
                background-image: url(img/icons/play.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &__item-img {
        object-fit: cover;
        height: 100%;
        border-radius: 10px;
    }

    &__item-title {
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;

        @include media-up(md) {
            font-size: 18px;
            line-height: 24px;
        }

        @include media-up(lg) {
            font-size: 20px;
            line-height: 26px;
        }
    }

    &__item-view {
        display: none;

        @include media-up(md) {
            margin-top: 5px;
            color: $blue-80;
            display: inline-block;
            transition: border-color 0.2s, color 0.2s;
            border-bottom: 1px solid $blue-80;

            &:hover {
                border-color: $red;
            }
        }
    }
}
