.account-content {
    background: #fff;
    border-radius: 15px;
    padding: 20px 30px;

    @include media-up(lg) {
        padding: 50px 60px;
    }
}

.account-info {
    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    &__title {
        display: inline-block;
        margin-right: 13px;
        font-size: 20px;
        line-height: 34px;
    }

    &__infos {
        margin-top: 10px;
        font-size: 15px;
        line-height: 18px;
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__info + &__info {
        margin-top: 17px;
    }

    &__info-value {
        font-weight: 600;
        margin-left: 10px;
    }

    &__card {
        padding: 25px 30px;
        background-color: $bg-green;
        border-radius: 15px;
        display: flex;
        align-items: center;
    }

    &__card-icon {
        margin-right: 12px;
    }

    &__card-name {
        font-weight: 600;
    }

    &__preferences {
        padding: 30px;
        background-color: $bg-green;
        border-radius: 15px;
    }

    &__preferences-btn {
        color: $blue-80;
        background: none;
        border: none;
        font-size: 14px;
        line-height: 17px;
        border-bottom: 1px solid $blue-80;
    }
}

.account-info + .account-info {
    margin-top: 50px;
}

.subscription-info {
    padding: 30px 15px;
    background-color: $bg-green;
    position: relative;

    &__head {
        justify-content: space-between;
        display: grid;

        @include media-up(md) {
            display: flex;
            align-items: center;
        }
    }

    &__head-wrapper {
        display: flex;
        flex-direction: column;

        @include media-up(md) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__edit-btn {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__name {
        font-weight: 600;
        color: $blue-80;
        margin-right: 6px;
    }

    &__plan {
        margin-top: 17px;
        color: $blue-90;

        @include media-up(md) {
            margin-top: 0;

            &::before {
                content: '';
                display: inline-block;
                height: 9px;
                width: 1px;
                background-color: $blue-70;
                margin-right: 6px;
            }
        }
    }

    &__bill {
        margin-top: 10px;
        color: $blue-50;
    }

    &__plan,
    &__bill {
        font-size: 14px;
        line-height: 17px;
    }
}

.skills-info {
    padding-top: 33px;

    @include media-up(md) {
        padding-top: 20px;
    }

    &__skill {
        @include media-up(md) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &:nth-child(1) {
            .skills-info__line {
                &::before {
                    background-color: $green;
                }
            }
        }
        &:nth-child(2) {
            .skills-info__line {
                &::before {
                    background-color: $pink;
                }
            }
        }
        &:nth-child(3) {
            .skills-info__line {
                &::before {
                    background-color: $cyan;
                }
            }
        }

        &:nth-child(4) {
            .skills-info__line {
                &::before {
                    background-color: $orange;
                }
            }
        }

        &:nth-child(5) {
            .skills-info__line {
                &::before {
                    background-color: $purple;
                }
            }
        }

        &:nth-child(6) {
            .skills-info__line {
                &::before {
                    background-color: $yellow;
                }
            }
        }
    }

    &__skill + &__skill {
        margin-top: 20px;
    }

    &__line {
        position: relative;
        width: 100%;
        border-radius: 2px;
        background-color: $bg-soft;
        height: 4px;

        &::before {
            content: '';
            position: absolute;
            border-radius: 3px;
            width: 60%;
            height: 100%;
        }
    }

    &__skill-name {
        @include media-up(md) {
            font-weight: 600;
            width: 260px;
        }
    }

    &__current-point {
        font-weight: 500;

        @include media-up(md) {
            font-weight: 600;
        }
    }

    &__skill-points {
        font-size: 15px;
        margin-top: 10px;
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: minmax(100px, 1fr) max-content;
        gap: 10px;

        @include media-up(md) {
            margin-top: 0;
            grid-template-columns: minmax(200px, 250px) max-content;
        }
    }
}
