/* ==========================================================================
    LIBS
    ========================================================================== */
@import "~aos/dist/aos.css";
@import "~swiper/swiper-bundle.css";

/* ==========================================================================
    SPECIFICATION
    ========================================================================== */
@import "spec/fonts";
@import "spec/variables";
@import "spec/mixins";
@import "spec/global";
@import "spec/visually-hidden";

/* ==========================================================================
    COMMON ELEMENTS
    ========================================================================== */
@import "common/btn";
@import "common/header";
@import "common/hamburger";
@import "common/nav";
@import "common/footer";

/* ==========================================================================
    MAIN PAGE
    ========================================================================== */
@import "modules/main-offer";
@import "modules/about-us";