/* ==========================================================================
    LIBS
    ========================================================================== */
@import "~aos/dist/aos.css";
@import "~swiper/swiper-bundle.css";

/* ==========================================================================
    SPECIFICATION
    ========================================================================== */
@import "spec/fonts";
@import "spec/variables";
@import "spec/mixins";
@import "spec/global";
@import "spec/animations";
@import "spec/visually-hidden";

/* ==========================================================================
    COMMON ELEMENTS
    ========================================================================== */
@import "common/btn";
@import "common/header";
@import "common/hamburger";
@import "common/nav";
@import "common/footer";

@import "common/video";
@import "common/circles";
@import "common/stars";
@import "common/feature";

/* ==========================================================================
    MAIN PAGE
    ========================================================================== */
@import "modules/main-offer";
@import "modules/about-us";
@import "modules/what-inside";
@import "modules/box-section";
@import "modules/heroes";
@import "modules/stages";