/* ==========================================================================
    LIBS
    ========================================================================== */
@import "~aos/dist/aos.css";
@import "~swiper/swiper-bundle.css";

/* ==========================================================================
    SPECIFICATION
    ========================================================================== */
@import "spec/fonts";
@import "spec/variables";
@import "spec/mixins";
@import "spec/global";
@import "spec/animations";
@import "spec/visually-hidden";

/* ==========================================================================
    COMMON ELEMENTS
    ========================================================================== */
@import "common/btn";
@import "common/header";
@import "common/hamburger";
@import "common/socials";
@import "common/nav";
@import "common/footer";

/* ==========================================================================
    MODULES
    ========================================================================== */
@import "modules/video";
@import "modules/circles";
@import "modules/stars";
@import "modules/feature";
@import "modules/swiper";
@import "modules/faq";

/* ==========================================================================
    MAIN PAGE
    ========================================================================== */
@import "sections/home/main-offer";
@import "sections/home/about-us";
@import "sections/home/what-inside";
@import "sections/home/box-section";
@import "sections/home/heroes";
@import "sections/home/stages";
@import "sections/home/powers";
@import "sections/home/subscribe";
@import "sections/home/instagram";
@import "sections/home/founders";
@import "sections/home/too-late";