/* ==========================================================================
    LIBS
    ========================================================================== */
@import "~aos/dist/aos.css";
@import "~swiper/swiper-bundle.css";

/* ==========================================================================
    SPECIFICATION
    ========================================================================== */
@import "spec/fonts";
@import "spec/variables";
@import "spec/mixins";
@import "spec/global";
@import "spec/visually-hidden";

/* ==========================================================================
    COMMON ELEMENTS
    ========================================================================== */
@import "modules/btn";
@import "modules/header";
@import "modules/nav";
@import "modules/hamburger";
@import "modules/footer";

/* ==========================================================================
    PAGE ELEMENTS
    ========================================================================== */
