/* ==========================================================================
    LIBS
    ========================================================================== */
@import '~aos/dist/aos.css';
@import '~swiper/swiper-bundle.css';

/* ==========================================================================
    SPECIFICATION
    ========================================================================== */
@import 'spec/fonts';
@import 'spec/variables';
@import 'spec/mixins';
@import 'spec/global';
@import 'spec/animations';
@import 'spec/visually-hidden';

/* ==========================================================================
    COMMON ELEMENTS
    ========================================================================== */
@import 'common/btn';
@import 'common/header';
@import 'common/hamburger';
@import 'common/socials';
@import 'common/nav';
@import 'common/footer';
@import 'common/banner';
@import 'common/fact-star';
@import 'common/bg-img';
@import 'common/title-underline';
@import 'common/circles';

/* ==========================================================================
    MODULES
    ========================================================================== */
@import 'modules/video';
@import 'modules/circles';
@import 'modules/stars';
@import 'modules/feature';
@import 'modules/swiper';
@import 'modules/faq';
@import 'modules/ask-form';
@import 'modules/text-img-block';
@import 'modules/lk-form';
@import 'modules/policy-block';
@import 'modules/powers';
@import 'modules/section-advantages';

/* ==========================================================================
    HOME PAGE
    ========================================================================== */
@import 'sections/home/main-offer';
@import 'sections/home/about-us';
@import 'sections/home/box-section';
@import 'sections/home/heroes';
@import 'sections/home/stages';
@import 'sections/home/subscribe';
@import 'sections/home/instagram';
@import 'sections/home/founders';
@import 'sections/home/too-late';

/* ==========================================================================
    OUR APPROACH
    ========================================================================== */
@import 'sections/approach/advantages';
@import 'sections/approach/our-goal';
@import 'sections/approach/strives';
@import 'sections/approach/strives-2';
@import 'sections/approach/approach-stages';

/* ==========================================================================
    GIFT
    ========================================================================== */
@import 'sections/gift/gift-how';
@import 'sections/gift/gift-choose';
@import 'sections/gift/gift-ask-form';
@import 'sections/gift/gift-content';

/* ==========================================================================
    REFER
    ========================================================================== */
@import 'sections/refer/refer-banner';
@import 'sections/refer/refer-how';
@import 'sections/refer/refer-share';

/* ==========================================================================
    STAY
    ========================================================================== */
@import 'sections/stay/stay-share';
@import 'sections/stay/stay-how';

/* ==========================================================================
    SUBSCRIPTION
    ========================================================================== */
@import 'sections/subscription/subscription-about';
@import 'sections/subscription/subscription-how';
@import 'sections/subscription/subscribe-how';

/* ==========================================================================
    PRODUCT
    ========================================================================== */
@import 'sections/product/product-stars';
@import 'sections/product/product-choose';
@import 'sections/product/product-about';
@import 'sections/product/product-box';
@import 'sections/product/product-about-2';
@import 'sections/product/product-stages';
@import 'sections/product/product-advantages';
@import 'sections/product/product-box-2';

/* ==========================================================================
    AFFILATE
    ========================================================================== */
@import 'sections/affilate/affilate-info';
@import 'sections/affilate/affilate-offer';
@import 'sections/affilate/affilate-stars';
@import 'sections/affilate/affilate-become';

/* ==========================================================================
    CONTACT
    ========================================================================== */
@import 'sections/contact-us/contact-stars';
@import 'sections/contact-us/contact-form';

/* ==========================================================================
    FAQ
    ========================================================================== */
@import 'sections/faq/faq-banner';
@import 'sections/faq/faq-answers';
