/* ==========================================================================
    LIBS
    ========================================================================== */
@import '~aos/dist/aos.css';
@import '~swiper/swiper-bundle.css';

/* ==========================================================================
    SPECIFICATION
    ========================================================================== */
@import 'spec/fonts';
@import 'spec/variables';
@import 'spec/mixins';
@import 'spec/global';
@import 'spec/animations';
@import 'spec/visually-hidden';

/* ==========================================================================
    COMMON ELEMENTS
    ========================================================================== */
@import 'common/btn';
@import 'common/header';
@import 'common/hamburger';
@import 'common/socials';
@import 'common/nav';
@import 'common/footer';
@import 'common/banner';
@import 'common/fact-star';
@import 'common/section-advantages';
@import 'common/bg-img';
@import 'common/title-underline';

/* ==========================================================================
    MODULES
    ========================================================================== */
@import 'modules/video';
@import 'modules/circles';
@import 'modules/stars';
@import 'modules/feature';
@import 'modules/swiper';
@import 'modules/faq';
@import 'modules/ask-form';
@import 'modules/text-img-block';
@import 'modules/lk-form';

/* ==========================================================================
    MAIN PAGE
    ========================================================================== */
@import 'sections/home/main-offer';
@import 'sections/home/about-us';
@import 'sections/home/box-section';
@import 'sections/home/heroes';
@import 'sections/home/stages';
@import 'sections/home/powers';
@import 'sections/home/subscribe';
@import 'sections/home/instagram';
@import 'sections/home/founders';
@import 'sections/home/too-late';

/* ==========================================================================
    OUR APPROACH
    ========================================================================== */
@import 'sections/approach/advantages';
@import 'sections/approach/our-goal';
@import 'sections/approach/strives';
@import 'sections/approach/strives-2';
@import 'sections/approach/approach-stages';

/* ==========================================================================
    GIFT
    ========================================================================== */
@import 'sections/gift/gift-how';
@import 'sections/gift/gift-choose';
@import 'sections/gift/gift-ask-form';
@import 'sections/gift/gift-content';
