.blog {
    background: $bg-green;
    padding: 32px 0 24px;

    @include media-up(md) {
        padding: 80px 0;
    }

    @include media-up(lg) {
        padding: 100px 0 173px;
    }

    &__wrapper {
        @include media-up(md) {
            position: relative;
            display: grid;
            grid-template-columns: 262px 1fr;
            gap: 30px;
        }
    }

    &-aside {
        &__wrapper {
            position: sticky;
            top: 80px;
        }
    }

    &-content {
        
    }
}