.blog-page {
    padding: 32px 0 24px;

    @include media-up(sm) {
        background-color: $bg-green;
    }

    @include media-up(md) {
        padding: 32px 0 80px;
    }

    @include media-up(lg) {
        padding: 32px 0 173px;
    }
}

.blog-article {
    padding: 0 0 50px;

    @include media-up(md) {
        padding: 15px 0 80px;
        background-color: $bg-green;
    }

    @include media-up(lg) {
        padding: 15px 0 120px;
    }
}

.blog {
    &__header {
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        @include media-down(sm) {
            display: none;
        }
    }

    &__wrapper {
        @include media-up(md) {
            position: relative;
            display: grid;
            //grid-template-columns: 262px 1fr;
            grid-template-columns: 262px calc(100% - 292px); // 262px + 30px = 292px
            grid-template-areas: 'blog-aside blog-content';
            gap: 30px;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__aside {
        .blog-article & {
            display: none;

            @include media-up(md) {
                display: block;
            }
        }
    }

    &__content  {
        margin-bottom: 60px;

        .blog-article & {
            margin-bottom: 0;
        }

        @include media-up(md) {
            margin-bottom: 0;
        }
    }
}
