.filter-dropdown {
    position: fixed;
    top: 100vh;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: top .2s ease-out;

    &--show {
        top: 0;
    }

    &__head {
        display: flex;
        align-items: flex-start;
        padding: 17px 20px;
        color: #fff;
        background-color: $blue;
    }

    &__title {
        margin-right: 15px;
    }

    &__close {
        flex-shrink: 0;
        margin-left: auto;
        padding: 0;
        background: 0 0;
        border: none;

        svg {
            fill: #fff;
        }
    }

    &__listbox {
        flex-grow: 1;
        max-height: calc((var(--vh, 1vh) * 100) - var(--filter-dropdown-head-height));
        overflow-x: hidden;
        overflow-y: auto;
    }
}
