.listbox {
    background-color: #fff;

    &__item {
        position: relative;
        display: block;
        padding: 19px 20px;
        font-size: 15px;
        color: rgba($blue, .8);
        line-height: 1.5;
        border-bottom: 1px solid $border;

        &:last-child {
            border-bottom: none;
        }

        &.focused {
            background-color: $bg-cyan;
        }

        &[aria-selected="true"]::before {
            content: "";
            position: absolute;
            top: 23px;
            left: 4px;
            width: 11px;
            height: 13px;
            background: url("img/bg/check-mark.svg") no-repeat center;
            background-size: contain;
        }
    }
}
