.posts-list {
    display: grid;
    gap: 16px;

    @include media-up(sm) {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 30px;
    }

    &__item {
        @include media-up(sm) {
            display: flex;
        }
    }

    &__hero {
        display: none;

        @include media-up(sm) {
            display: flex;
            grid-column: 1 / 3;
        }

        @include media-up(md) {
            grid-column: 1;
        }

        @media screen and (min-width: 862px) {
            grid-column: 1 / 3;
        }
    }

    &__fact-stars {
        margin: 0 -20px;
        padding: 16px 0;

        @include media-up(sm) {
            grid-column: 1 / -1;
            margin: 0;
            padding: 0;
        }

        .fact-stars {
            @include media-up(sm) {
                flex-grow: 1;
            }
        }

        .fact-stars__container {
            padding: 0;
        }

        .fact-stars__wrapper {
            @include media-up(sm) {
                border-radius: 15px;
            }
        }
    }
}
