.post-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 15px;

    @include hover-supported {
        .post-item__img {
            transform: scale(1.05);
        }
    }

    &--2 {
        @include media-down(sm) {
            flex-direction: row;
            background-color: transparent;
            border-radius: 0;            
        }
    }

    &--3 {
        @include media-down(sm) {
            flex-direction: row;
        }
    }

    &__img-box {
        .post-item--2 & {
            @include media-down(sm) {
                width: 140px;
                flex-shrink: 0;
                margin-right: 20px;
            }
        }

        .post-item--3 & {
            @include media-down(sm) {
                width: 39%;
                flex-shrink: 0;
            }
        }
    }

    &__figure {
        position: relative;
        height: 0;
        padding-bottom: 80.83%;
        border-radius: 15px 15px 0 0;
        overflow: hidden;
        // Safari border-radius + overflow: hidden + CSS transform fix
        -webkit-mask-image: -webkit-radial-gradient(white, black);

        @include media-up(sm) {
            padding-bottom: 80.83%;
            border-radius: 15px 15px 0 0;            
        }

        .post-item--2 & {
            @include media-down(sm) {
                padding-bottom: 92.086%;
                border-radius: 10px;
            }
        }

        .post-item--3 & {
            height: 100%;
            padding: 0;

            @include media-down(sm) {
                border-radius: 10px 0px 0px 10px;                
            }

            @include media-up(md) {
                height: 250px;
            }

            @media (min-width: 1110px) {
                height: 200px;
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1s;
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 18px 20px;

        & > *:first-child {
            margin-top: 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        .post-item--2 & {
            @include media-down(sm) {
                display: block;
                padding: 0;
                
            }
        }

        .post-item--3 & {
            @include media-down(sm) {
                display: block;
                padding: 10px 19px;                
            }
        }
    }

    &__subtitle {
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 19px;
        color: rgba($blue, .5);

        @include media-up(md) {
            margin-bottom: 12px;
            font-size: 15px;
        }
    }

    &__title {
        margin-bottom: 6px;
        font-weight: 500;
        line-height: 1.6;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @include media-up(md) {
            margin-bottom: 12px;
            font-size: 18px;
            line-height: 1.33;
        }
    }

    &__date {
        margin-top: auto;
        font-size: 12px;
        color: rgba($blue, .5);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        @include media-up(md) {
            font-size: 15px;
        }

        .post-item--2 & {
            margin-top: 0;

            @include media-up(sm) {
                margin-top: auto;
            }
        }
    }
}
