.post-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 15px;

    @include hover-supported {
        .post-item__img {
            transform: scale(1.05);
        }
    }

    &--2 {
        flex-direction: row;
        background-color: transparent;
        border-radius: 0;

        @include media-up(sm) {
            flex-direction: column;
            background-color: #fff;
            border-radius: 15px;
        }
    }

    &__img-box {
        .post-item--2 & {
            width: 140px;
            flex-shrink: 0;
            margin-right: 20px;

            @include media-up(sm) {
                width: 100%;
            }
        }
    }

    &__figure {
        position: relative;
        height: 0;
        padding-bottom: 80.83%;
        border-radius: 15px 15px 0 0;
        overflow: hidden;
        // Safari border-radius + overflow: hidden + CSS transform fix
        -webkit-mask-image: -webkit-radial-gradient(white, black);

        @include media-up(sm) {
            padding-bottom: 80.83%;
            border-radius: 15px 15px 0 0;            
        }

        .post-item--2 & {
            padding-bottom: 92.086%;
            border-radius: 10px;

            @include media-up(sm) {
                padding-bottom: 80.83%;
                border-radius: 15px 15px 0 0;
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1s;
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 18px 20px;

        & > *:first-child {
            margin-top: 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        .post-item--2 & {
            display: block;
            padding: 0;

            @include media-up(sm) {
                display: flex;
                padding: 18px 20px;
            }
        }
    }

    &__subtitle {
        margin-bottom: 6px;
        font-size: 12px;
        color: rgba($blue, .5);

        @include media-up(md) {
            margin-bottom: 12px;
            font-size: 15px;
        }
    }

    &__title {
        margin-bottom: 6px;
        font-weight: 500;
        line-height: 1.6;

        @include media-up(md) {
            margin-bottom: 12px;
            font-size: 18px;
            line-height: 1.33;
        }
    }

    &__date {
        margin-top: auto;
        font-size: 12px;
        color: rgba($blue, .5);

        @include media-up(md) {
            font-size: 15px;
        }

        .post-item--2 & {
            margin-top: 0;

            @include media-up(sm) {
                margin-top: auto;
            }
        }
    }
}
