.social-links {

    &__item {

    }

    &__link {
        display: flex;
        align-items: center;
        padding: 12px 0;
        border-bottom: 1px solid rgba($blue, .2);

        .social-links__item:last-child & {
            border-bottom: none;
        }

        &::after {
            content: "";
            display: block;
            flex-shrink: 0;
            width: 26px;
            height: 26px;
            margin-left: auto;
            border-radius: 50%;
            //background-color: $blue;
            background: url("img/icons/plus.svg") no-repeat center $blue;
            background-size: 8px;
            transition: .25s;
        }

        &:hover::after {
            background-color: $red;
        }
    }

    &__icon {
        flex-shrink: 0;
        display: block;
        min-width: 22px;
        margin-right: 10px;

        .social-links__item--twitter & {
            color: $cyan;
        }

        .social-links__item--youtube & {
            color: $red;
        }

        .social-links__item--instagram & {
            color: $pink;
        }

        .social-links__item--facebook & {
            color: $purple;
        }

        svg {
            margin: 0 auto;
        }

        & > *:last-child {
            margin-right: 0;
        }
    }

    &__txt {
        margin-right: 15px;
        font-size: 18px;
    }
}
